<div>
  <app-page-header [heading]="'Solicitud de Insumos'" [icon]="'fa-star'">
  </app-page-header>
  <div class="card">
    <div class="card-header text-center">
      <h3>Solicitud de Insumos</h3>
    </div>
    <div class="card-body">
      <form action="" method="post">
        <div class="row mb-2">
          <div class='col-12 col-sm-6 mb-1'>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" aria-required="true">* Departamento</label>
              </div>
              <select (change)="changeDepartament()" class="custom-select" name="departments" id="departments"
                [(ngModel)]="selectDepartment">
                <option value='0' selected>Seleccione el Departamento</option>
                <option [ngValue]="item.id" *ngFor="let item of departments">{{item.name}}</option>
              </select>
            </div>
          </div>
          <div class='col-12 col-sm-6  mb-1'>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text">* Municipio</label>
              </div>
              <select (change)="changeMunucipality()" class="custom-select" name="municipalities" id="municipalities"
                [(ngModel)]="selectMunicipality">
                <option value='0' selected>Seleccione el Municipio</option>
                <option [ngValue]="item.id" *ngFor="let item of municipalities">{{item.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mb-2" *ngIf="dataWorkSpaceMunicipality">
          <div class='col-12 col-sm-6 mb-2'>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text">Gestor</label>
              </div>
              <div class="form-control">
                {{dataWorkSpaceMunicipality.manager.name}}
              </div>
            </div>
          </div>
          <div class='col-12 col-sm-6 mb-2'>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text">Operador</label>
              </div>
              <div class="form-control">
                {{dataWorkSpaceMunicipality.operators[0] ? dataWorkSpaceMunicipality.operators[0].operator.name : ' '}}
              </div>
            </div>
          </div>
          <div class='col-12 col-sm-6 mb-1'>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text">Número de Predios</label>
              </div>
              <div class="form-control">
                {{dataWorkSpaceMunicipality.numberAlphanumericParcels}}
              </div>
            </div>
          </div>
          <div class='col-12 col-sm-6 mb-1'>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text">Área de Trabajo</label>
              </div>
              <div class="form-control">
                {{dataWorkSpaceMunicipality.municipalityArea ? dataWorkSpaceMunicipality.municipalityArea: '0'}} m
                <sup>2</sup>
              </div>
            </div>
          </div>
          <div class='col-12 col-sm-6  mb-1'>
            <div class="form-group form-check">
              <input name="splitZones" type="checkbox" class="form-check-input" id="exampleCheck1"
                [(ngModel)]="splitZones" disabled="true">
              <label class="form-check-label" for="exampleCheck1">Selección de Zonas</label>
            </div>
          </div>
          <div class='col-12 col-sm-6 mb-1'>
            <div class="input-group">
              <input class="form-control" type="text" disabled="true" placeholder="4" disabled="true">
            </div>
          </div>
        </div>
        <div class="row mb-1" *ngIf="dataWorkSpaceMunicipality.id">
          <div class='col-12 col-sm-3 mb-1'>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" aria-required="true">* Entidad</label>
              </div>
              <select (change)="changeProvider()" class="custom-select" name="entidades" id="entidades"
                [(ngModel)]="selectProvider">
                <option value='0' selected>Seleccione la entidad</option>
                <option [ngValue]="item" *ngFor="let item of providers">{{item.name}}</option>
              </select>
            </div>
          </div>
          <div class='col-12 col-sm-4 mb-1'>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" aria-required="true">* Insumos</label>
              </div>
              <select class="custom-select" name="insumos" id="insumos" [(ngModel)]="selectSupplies">
                <option value='0' selected>Seleccione el insumo</option>
                <option [ngValue]="item" *ngFor="let item of dataSuppliesProvider">{{item.name}}</option>
              </select>
            </div>
          </div>
          <div class='col-12 col-sm-5 mb-1'>
            <div class="input-group">
              <div class="input-group-prepend input-group-text">
                <div class="">* Alcance / Observaciones</div>
              </div>
              <textarea class="form-control" id="observations" rows="3" name="observaciones"
                [(ngModel)]="observations"></textarea>
            </div>
          </div>
          <div class='col-12 offset-sm-5 col-sm-2 mt-2'>
            <button type="button" name="agregar" id="agregar" class="btn btn-primary btn-sm btn-block"
              (click)="agregar()">Agregar</button>
          </div>
        </div>
      </form>
    </div>
    <div class="table-responsive table-inverse" *ngIf="this.tablesupplies.length > 0">
      <div class="text-center mt-2 mb-2">
        <h3>Selección de Insumos</h3>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Entidad</th>
            <th>Insumo</th>
            <th>Modelo de Insumo</th>
            <th>Observación</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tablesupplies">
            <td scope="row"><strong>{{ item.idCount }}</strong></td>
            <td scope="row"> {{ item.entidad }} </td>
            <td scope="row">{{ item.insumo}}</td>
            <td scope="row">
              <div class="input-group" *ngIf="item.modelRequired">
                <div class="input-group-prepend">
                  <label class="input-group-text" aria-required="true">*</label>
                </div>
                <select (change)="changeModelSupplies(item.idCount, item.modelVersion)" class="custom-select"
                  name="modelSupplies{{item.idCount}}" id="modelSupplies{{item.idCount}}"
                  [(ngModel)]="item.modelVersion">
                  <option value='0' selected>Seleccione la versión del modelo de insumos LADM-COL</option>
                  <option [ngValue]="item.name" *ngFor="let item of item.versions">Modelo {{item.name}}</option>
                </select>
              </div>
              <div *ngIf="!item.modelRequired">N/A</div>
            </td>
            <td scope="row">{{ item.observacion }}</td>
            <td scope="row">
              <i class="material-icons cursor" (click)="delete(item)">
                delete_forever
              </i></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer text-muted text-center mb-2">
      <div class="row">
        <div class="col-12 col-sm-6 offset-sm-6 mt-2" *ngIf="tablesupplies.length > 0">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text">* Fecha Limite</label>
            </div>
            <input class="form-control" type="date" name="deadline" [(ngModel)]="listsupplies.deadline">
          </div>
        </div>
        <div class="col-12 mt-3">
          <div class="alert alert-primary text-center" role="alert">
            Recuerde que los campos marcados con * son obligatorios.
          </div>
        </div>
        <div class="col-12">
          <button type="button" [disabled]="enviarsolicitud" class="btn btn-dark" (click)="submitInfo()">Enviar
            Solicitud</button>
        </div>
      </div>
    </div>
    <!-- {{tableSolicitudes | json}} -->
    <!-- <div class="table-inverse table-responsive" *ngIf="tableSolicitudes.length > 0">
      <div class="text-center mt-2 mb-2">
        <h3>Registro Solicitud de Insumos</h3>
      </div>
      <table class="table table-striped">
        <thead class="thead-inverse">
          <tr>
            <th>Número de Solicitud</th>
            <th>Insumos</th>
            <th>Proveedor</th>
            <th>fecha Límite</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tableSolicitudes">
            <td scope="row"><strong>{{item.id}}</strong></td>
            <td scope="row">
              <div *ngFor="let supp of item.suppliesRequested">
                {{supp.typeSupply.name}}
              </div>
            </td>
            <td scope="row">
              {{item.provider.name}}
            </td>
            <td scope="row">{{formatDate(item.deadline)}}</td>
          </tr>
        </tbody>
      </table>
    </div> -->

  </div>
</div>