#mapPreview .jw-modal{
    top: 2vh;
    z-index: 1050;
    margin: 0px;
    padding: 0px;
    width: 96vw;
    left: 2vw;
    height: 96vh;
}

#mapPreview .jw-modal-body{
    margin: 0px;
    width: 100%;
}