<div [@routerTransition]>
  <app-page-header [heading]="'Usuarios registrados'" [icon]="'fa-star'">
  </app-page-header>
  <div class="d-flex justify-content-around">
    <div class="card">
      <div class="card-body">
        <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize"
          [collectionSize]="dataListUser.length" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
        </ngb-pagination>
        <div class="search-hero">
          <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="&#61442;  Buscar Usuario">
        </div>
        <div class="table-inverse table-responsive">
          <table class="table table-striped">
            <thead class="thead-inverse">
              <tr>
                <th>ID</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Usuario</th>
                <th>Fecha de Creación</th>
                <th>Rol</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of dataListUser |filter:searchText | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                <td scope="row">{{item.id}}</td>
                <td scope="row">{{item.firstName}}</td>
                <td scope="row">{{item.lastName}}</td>
                <td scope="row">{{item.email}}</td>
                <td scope="row">{{item.username}}</td>
                <td scope="row">{{globalFuntionDate(item.createdAt)}}</td>
                <td scope="row">
                  <div *ngFor="let rol of item.roles">
                    {{globalFuntionString(rol.name)}}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>