<div>
  <app-page-header [heading]="'Usuarios registrados'" [icon]="'fa-star'">
  </app-page-header>
  <div class="d-flex justify-content-around">
    <div class="card">
      <div class="card-body">
        <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize"
          [collectionSize]="dataListUser.length" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
        </ngb-pagination>
        <div class="search-hero">
          <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="&#61442;  Buscar">
        </div>
        <div class="table-inverse table-responsive">
          <table class="table table-striped">
            <thead class="thead-inverse">
              <tr>
                <th *ngIf="roleConnectAdmin">Entidad</th>
                <th *ngIf="!roleConnectManager && !roleConnectProvider">Rol</th>
                <th *ngIf="!roleConnectSuperAdmin">Perfil</th>
                <th>Usuario</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Fecha de Creación</th>
                <th>Editar</th>
                <th>Activar/Desactivar</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of dataListUser |filter:searchText | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                <td scope="row" *ngIf="roleConnectAdmin">{{item.entity ? item.entity.name:'N/A'}}</td>
                <td scope="row" *ngIf="!roleConnectManager && !roleConnectProvider">
                  <div *ngFor="let rol of item.roles">
                    {{globalFuntionString(rol.name)}}
                  </div>
                </td>
                <td scope="row" *ngIf="!roleConnectSuperAdmin">
                  <div *ngIf="item.profilesManager.length > 0">
                    <div *ngFor="let perfil of item.profilesManager">
                      {{perfil.name}}
                    </div>
                  </div>
                  <div *ngIf="item.profilesProvider.length > 0 && !roleConnectAdmin">
                    <div *ngFor="let perfil of item.profilesProvider">
                      {{perfil.name}}
                    </div>
                  </div>
                  <div *ngIf="roleConnectAdmin">
                    <div *ngFor="let perfil of item.rolesProvider">
                      {{perfil.name}}
                    </div>
                  </div>
                  <div
                    *ngIf="item.profilesManager.length == 0 && item.profilesProvider.length == 0 && item.rolesProvider.length == 0">
                    N/A
                  </div>
                </td>
                <td scope="row">{{item.username}}</td>
                <td scope="row">{{item.firstName}}</td>
                <td scope="row">{{item.lastName}}</td>
                <td scope="row">{{item.email}}</td>
                <td scope="row">{{globalFuntionDate(item.createdAt)}}</td>
                <td scope="row">
                  <span ngbTooltip="Modificar Usuario" placement="bottom" show-delay="500">
                    <i class="material-icons mr-2" (click)="updateUser(item.id)">
                      edit
                    </i>
                  </span>
                </td>
                <td scope=row>
                  <label class="switch" [title]="item.enabled ? 'Desactivar Usuario':'Activar Usuario'"
                    (click)="item.enabled ? openModalDisabled('modalDisabled', item.id):openModalEnabled('modalEnabled', item.id)">
                    <input (click)="clickCheckBox($event)" [(ngModel)]="item.enabled" type="checkbox">
                    <span class="slider round"></span>
                  </label>
                  <!-- <span ngbTooltip="Usuario activado, haga clic si desea desactivarlo." placement="bottom"
                    show-delay="500" *ngIf="item.enabled">
                    <i class="material-icons" style="color: green;"
                      (click)="openModalDisabled('modalDisabled', item.id)">
                      people
                    </i>
                  </span>
                  <span ngbTooltip="Usuario desactivado, haga clic si desea activarlo." placement="bottom"
                    show-delay="500" *ngIf="item.enabled === false">
                    <i class="material-icons" (click)="openModalEnabled('modalEnabled', item.id)">
                      people
                    </i>
                  </span> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <jw-modal id="modalDisabled" class="mt-5">
        <div class="card">
          <!--style="height:500px"  Se puede especificar el height de la ventana modal, o el cojera por defecto el contenido de los elementos-->
          <div class="card-header">
            <i class="cui-arrow-bottom"></i>
            <h2 class="text-center font-weight-bold">
              ¿Está seguro de desactivar el usuario?
            </h2>
            <h5 class="alert alert-warning text-center">Advertencia: Esta acción deshabilita el usuario y no lo dejara
              ingresar al sistema.</h5>
          </div>
          <div class="card-body row">
            <div class="text-center col-sm">
              <button type="button" class="btn btn-primary btn-block"
                (click)="closeModalDisabled('modalDisabled',true);">
                <h4>Sí</h4>
              </button>
            </div>
            <div class="text-center col-sm">
              <button type="button" class="btn btn-dark btn-block" (click)="closeModalDisabled('modalDisabled',false);">
                <h4>No</h4>
              </button>
            </div>
          </div>
        </div>
      </jw-modal>
      <jw-modal id="modalEnabled" class="mt-5">
        <div class="card">
          <!--style="height:500px"  Se puede especificar el height de la ventana modal, o el cojera por defecto el contenido de los elementos-->
          <div class="card-header">
            <i class="cui-arrow-bottom"></i>
            <h2 class="text-center font-weight-bold">
              ¿Está seguro de activar el usuario?
            </h2>
            <h5 class="alert alert-warning text-center">Advertencia: Esta acción habilita el usuario y le permitirá el
              ingreso al sistema.</h5>
          </div>
          <div class="card-body row">
            <div class="text-center col-sm">
              <button type="button" class="btn btn-primary btn-block" (click)="closeModalEnabled('modalEnabled',true);">
                <h4>Sí</h4>
              </button>
            </div>
            <div class="text-center col-sm">
              <button type="button" class="btn btn-dark btn-block" (click)="closeModalEnabled('modalEnabled',false);">
                <h4>No</h4>
              </button>
            </div>
          </div>
        </div>
      </jw-modal>
    </div>
  </div>
</div>