<div [@routerTransition]>
    <app-page-header [heading]="'Buscar insumos'" [icon]="'fa-star'"></app-page-header>

    <div class="card">
        <div class="card-header text-center">
            <h3>Busqueda de insumo</h3>
        </div>
        <div class="card-body">
            <form action="" method="post">
                <div class="row mb-2">
                    <div class='col-12 col-sm-6 mb-1'>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" aria-required="true">* Departamento</label>
                            </div>
                            <select (change)="changeDepartament()" class="custom-select" name="departments"
                                id="departments" [(ngModel)]="selectDepartment">
                                <option value='0' selected>Seleccione el departamento</option>
                                <option [ngValue]="item.id" *ngFor="let item of departments">{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class='col-12 col-sm-6  mb-1'>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text">* Municipio</label>
                            </div>
                            <select class="custom-select" name="munucipalities" id="munucipalities"
                                [(ngModel)]="selectMunicipality">
                                <option value='0' selected>Seleccione el Municipio</option>
                                <option [ngValue]="item.id" *ngFor="let item of munucipalities">{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div *ngIf="usermanager" class='col-12 mb-1'>
                        <div class="input-group mt-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text" aria-required="true">* solicitudes gestor</label>
                            </div>
                            <select class="custom-select" name="managersprfile" id="managersprofile"
                                [(ngModel)]="selectSuppliesManagerRequest" multiple>
                                <option [ngValue]="item.id"
                                    *ngFor="let item of suppliesManagerRequest; let index = index;">
                                    {{item.suppliesRequested ? item.suppliesRequested[0].typeSupply.name: ''}}
                                </option>
                            </select>
                        </div>
                        <small id="entities" class="form-text text-muted">Seleccione....</small>
                    </div>
                    <!-- <pre>{{suppliesManagerRequest | json}}</pre> -->
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="alert alert-primary text-center" role="alert">
                            Recuerde que los campos marcados con * son obligatorios.
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer text-muted text-center">
            <button type="button" class="btn btn-dark" (click)="searchSupplies()">Buscar</button>
        </div>
    </div>
    <div *ngIf="allSupplies.length > 0">
        <div class="row justify-content-md-center">
            <div class="card text-center">
                <div class="card-header text-center">
                    <h5>Resultados de busqueda</h5>
                </div>
                <div class="card-body">
                    <!-- <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize"
                        [collectionSize]="allSupplies.length" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
                    </ngb-pagination>
                    <table class="table table-striped table-inverse table-responsive">
                        <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>nombre</th>
                                <th>Descripción</th>
                                <th>Fecha de integración</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let item of allSupplies | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                <td scope=" row">{{item.id}}</td>
                                <td scope="row">{{item.integrationState.name}}</td>
                                <td scope="row">{{item.integrationState.description}}</td>
                                <td scope="row">{{globalFuntionDate(item.startedAt)}}</td>
                            </tr>
                        </tbody>
                    </table> -->
                </div>
            </div>
        </div>
    </div>
</div>