<div>
    <app-page-header [heading]="'Integraciones corriendo'" [icon]="'fa-star'">
    </app-page-header>
    <div class="card text-center">
        <div class="card-header">
            <div class="col-1">
                <span ngbTooltip="Volver" placement="bottom" show-delay="500">
                    <i class="material-icons cursor" (click)="volver()">backspace</i>
                </span>
            </div>
            <div class="col-12">
                <h3>Integraciones corriendo</h3>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive table-inverse" *ngIf="dataIntegration.length > 0">
                <table class="table table-striped">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Tipo de Integración</th>
                            <th>Descripción</th>
                            <th>Insumos</th>
                            <th *ngIf="dataIntegration[0].stats.length > 0">Número de Registros
                                Catastrales</th>
                            <th *ngIf="dataIntegration[0].stats.length > 0">Número de Registros SNR
                            </th>
                            <th *ngIf="dataIntegration[0].stats.length > 0">Registros Integrados</th>
                            <th *ngIf="dataIntegration[0].stats.length > 0">Porcentaje</th>
                            <th>Fecha de integración</th>
                            <th>Detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataIntegration; let i = index">
                            <td scope="row">{{item.integrationState.name}}</td>
                            <td scope="row">
                                {{item.integrationState ? item.integrationState.description: ''}}</td>
                            <td scope="row">
                                {{item.supplyCadastre ? item.supplyCadastre.typeSupply.name: ''}}<br>{{item.supplySnr ? item.supplySnr.typeSupply.name: ''}}
                            </td>
                            <td scope="row">
                                {{item.stats.length > 0 ? parcelNumber(item.stats[0].cadastreRecordsNumber): 'N/D'}}
                            </td>
                            <td scope="row">
                                {{item.stats.length > 0 ? parcelNumber(item.stats[0].snrRecordsNumber): 'N/D'}}</td>
                            <td scope="row">
                                {{item.stats.length > 0 ? parcelNumber(item.stats[0].matchNumber): 'N/D'}}</td>
                            <td scope="row">
                                <b *ngIf="item.stats.length > 0">
                                    {{roundDecimal(item.stats[0].percentage)}}%
                                </b>
                                <b *ngIf="item.stats.length == 0">
                                    N/D
                                </b>
                            </td>
                            <td scope="row">
                                {{globalFuntionDate(item.startedAt)}}
                            </td>
                            <td scope="row">
                                <span ngbTooltip="Ver detalle" placement="top" show-delay="500">
                                    <i class="material-icons cursor ml-4" (click)="openModal(item,'modal-1')">
                                        pageview
                                    </i>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
    <jw-modal id="modal-1">
        <div class="row justify-content-md-center mt-2">
            <div class="card">
                <div class="card-header text-center">
                    <h5>Histórico de la Integración</h5>
                </div>
                <div class="card-body">
                    <div class="table-inverse table-responsive">
                        <table class="table table-striped">
                            <thead class="thead-inverse">
                                <tr>
                                    <th>ID</th>
                                    <th>Tipo</th>
                                    <th>Descripción</th>
                                    <th>Responsable</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of selectIntegration.histories; let index = index;">
                                    <td scope="row">{{index + 1}}</td>
                                    <td scope="row">{{item.state.name}}</td>
                                    <td scope="row">{{item.state.description}}</td>
                                    <td scope="row">{{item.userName}}</td>
                                    <td scope="row">{{globalFuntionDate(item.createdAt)}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </jw-modal>
</div>