$topnav-background-color: #222;
:host {
  .navbar {
    background-color: $topnav-background-color;
    .navbar-brand {
      color: #fff;
    }
    .nav-item > a {
      color: #999;
      &:hover {
        color: #fff;
      }
    }
  }
  .messages {
    width: 300px;
    .media {
      border-bottom: 1px solid #ddd;
      padding: 5px 10px;
      &:last-child {
        border-bottom: none;
      }
    }
    .media-body {
      h5 {
        font-size: 13px;
        font-weight: 600;
      }
      .small {
        margin: 0;
      }
      .last {
        font-size: 12px;
        margin: 0;
      }
    }
  }
}
.image-st {
  width: 2em;
  margin-top: -0.5em;
  margin-left: 4em;
}
.fontSize{
  font: 14px sans-serif;
  margin-bottom: -2em;
  margin-top: -1em;
  .titleEntity{
  font: 15px sans-serif;
    line-height:90%;
    margin-bottom: -0.2em;
    margin-top: -1em;
    margin-left: 1em;
  }
  .titleRol {
  font: 15px sans-serif;
    line-height:90%;
    margin-left: 1em;
    margin-bottom: -2.4em;
  }
}
.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 15em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}