<div #actionForm>
    <app-page-header [heading]="'Crear proveedor'" [icon]="'fa-star'">
    </app-page-header>
    <div class="card">
        <div class="card-header text-center">
            <h2>Crear Proveedor</h2>
        </div>
        <div class="card-body">
            <form action="" method="post">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    * Nombre
                                </span>
                            </div>
                            <input (ngModelChange)="changeState()" type="text" name="name" class="form-control"
                                placeholder="Nombre" [(ngModel)]="data.name">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    * NIT
                                </span>
                            </div>
                            <input (ngModelChange)="changeState()" type="text" name="taxIdentificationNumber"
                                class="form-control" placeholder="NIT" [(ngModel)]="data.taxIdentificationNumber">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    * Categoría
                                </span>
                            </div>
                            <select (ngModelChange)="changeState()" class="custom-select" name="managersprfile" id="managersprofile"
                                [(ngModel)]="data.providerCategoryId">
                                <option value="0">Seleccione la categoría del proveedor</option>
                                <option [ngValue]="item.id" *ngFor="let item of categoriesProviders">{{item.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer text-muted text-center">
            <div class="col-12">
                <button type="button" class="btn btn-dark" (click)="submitChange()" [disabled]="activeButton">
                    {{stateButton?"Guardar":"Actualizar"}}
                </button>
            </div>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header text-center">
            <h2>Lista de Proveedores</h2>
        </div>
        <div class="card-body">
            <div class="table-inverse table-responsive">
                <table class="table table-striped">
                    <thead class="thead-inverse">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>NIT</th>
                            <th>Categoría</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataProfile; let i = index">
                            <td scope="row">{{i+1}}</td>
                            <td scope="row">{{item.name}}</td>
                            <td scope="row">{{item.taxIdentificationNumber}}</td>
                            <td scope="row">{{item.providerCategory?item.providerCategory.name:'N/D'}}</td>
                            <td scope="row">
                                <span ngbTooltip="Modificar proveedor" placement="bottom" show-delay="500">
                                    <i class="material-icons mr-2" (click)="updateProfile(item)">
                                        edit
                                    </i>
                                </span>
                            </td>
                            <td scope="row">
                                <span ngbTooltip="Eliminar proveedor" placement="bottom" show-delay="500">
                                    <i class="material-icons mr-2" (click)="deleteProfile('modalDisabled',item.id)">
                                        delete
                                    </i>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <jw-modal id="modalDisabled" class="mt-5">
            <div class="card">
                <!--style="height:500px"  Se puede especificar el height de la ventana modal, o el cojera por defecto el contenido de los elementos-->
                <div class="card-header">
                    <i class="cui-arrow-bottom"></i>
                    <h2 class="text-center font-weight-bold">
                        ¿Está seguro de Eliminar el Proveedor?
                    </h2>
                    <h5 class="alert alert-warning text-center">Advertencia: Esta acción eliminará el Proveedor.</h5>
                </div>
                <div class="card-body row">
                    <div class="text-center col-sm">
                        <button type="button" class="btn btn-primary btn-block"
                            (click)="closeModalDisabled('modalDisabled',true);">
                            <h4>Sí</h4>
                        </button>
                    </div>
                    <div class="text-center col-sm">
                        <button type="button" class="btn btn-dark btn-block"
                            (click)="closeModalDisabled('modalDisabled',false);">
                            <h4>No</h4>
                        </button>
                    </div>
                </div>
            </div>
        </jw-modal>
    </div>
</div>