<div>
    <app-page-header [heading]="'Perfil'" [icon]="'fa-star'">
    </app-page-header>
    <div class="card">
        <div class="card-header">
            <h2>Información de usuario</h2>
        </div>
        <div class="card-body">
            <form action="" method="post">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text">Nombre</label>
                            </div>
                            <div class="form-control">
                                {{profile.first_name}}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text">Apellido</label>
                            </div>
                            <div class="form-control">
                                {{profile.last_name}}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text">Correo electrónico</label>
                            </div>
                            <div class="form-control">
                                {{profile.email}}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text">Rol</label>
                            </div>
                            <div class="form-control">
                                {{profile.roles[0].name}}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer text-muted"></div>
    </div>
    <div class="card mt-2">
        <div class="card-header">
            <h2>Cambiar contraseña</h2>
        </div>
        <div class="card-body">
            <form action="" method="post">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="material-icons">
                                        security
                                    </i>
                                </span>
                            </div>
                            <input type="password" name="password" class="form-control" placeholder="Contraseña"
                                autocomplete="current-password" [(ngModel)]="password" required (change)="passIqual()">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="material-icons">
                                        lock
                                    </i>
                                </span>
                            </div>
                            <input type="password" name="confirmationPassword" class="form-control"
                                placeholder="Confirmar contraseña" autocomplete="current-password"
                                [(ngModel)]="confirmationPassword" required (change)="passIqual()">
                        </div>
                    </div>
                    <div *ngIf="mensaje">
                        <small *ngIf="mensaje === 1" id="passIqual" class="form-text text-muted">Las contraseñas no
                            coinciden</small>
                        <small *ngIf="mensaje === 2" id="passIqual" class="form-text text-muted">Las contraseñas son
                            iguales</small>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer text-muted text-center">
            <div class="col-12">
                <button type="button" [disabled]="changepass" class="btn btn-dark" (click)="submitChangePass()">Cambiar
                    contraseña</button>
            </div>
        </div>
    </div>
</div>