<div #actionForm>
    <app-page-header [heading]="'Crear Operador'" [icon]="'fa-star'">
    </app-page-header>
    <div class="card">
        <div class="card-header text-center">
            <h2>Crear Operador</h2>
        </div>
        <div class="card-body">
            <form action="" method="post">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    * Nombre
                                </span>
                            </div>
                            <input (change)="changeState()" type="text" name="name" class="form-control"
                                placeholder="Nombre" [(ngModel)]="data.name">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    * NIT
                                </span>
                            </div>
                            <input (change)="changeState()" type="text" name="taxIdentificationNumber"
                                class="form-control" placeholder="NIT" [(ngModel)]="data.taxIdentificationNumber">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    * Tipo de Empresa
                                </span>
                            </div>
                            <select (change)="changeState()" class="custom-select" name="managersprfile"
                                id="managersprofile" [(ngModel)]="data.isPublic">
                                <option value="0">Seleccione el tipo de empresa</option>
                                <option value="false">Privada
                                </option>
                                <option value="true">Pública
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer text-muted text-center">
            <div class="col-12">
                <button type="button" class="btn btn-dark" (click)="submitChange()" [disabled]="activeButton">
                    {{stateButton?"Guardar":"Actualizar"}}
                </button>
            </div>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header text-center">
            <h2>Lista de Operadores</h2>
        </div>
        <div class="card-body">
            <div class="table-inverse table-responsive">
                <table class="table table-striped">
                    <thead class="thead-inverse">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>NIT</th>
                            <th>Tipo de Empresa</th>
                            <th>Editar</th>
                            <th>Activar/Desactivar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataProfile; let i = index">
                            <td scope="row">{{i+1}}</td>
                            <td scope="row">{{item.name}}</td>
                            <td scope="row">{{item.taxIdentificationNumber}}</td>
                            <td scope="row">{{item.isPublic?'Pública':'Privada'}}</td>
                            <td scope="row">
                                <span ngbTooltip="Modificar Operador" placement="bottom" show-delay="500">
                                    <i class="material-icons mr-2" (click)="updateProfile(item)">
                                        edit
                                    </i>
                                </span>
                            </td>
                            <td scope="row">
                                <label class="switch" [title]="item.state ? 'Desactivar':'Activar'"
                                    (click)="item.state ? deleteProfile('modalDisabled',item):activeManager('modalEnable',item)">
                                    <input [(ngModel)]="item.state" type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <jw-modal id="modalDisabled" class="mt-5">
            <div class="card">
                <!--style="height:500px"  Se puede especificar el height de la ventana modal, o el cojera por defecto el contenido de los elementos-->
                <div class="card-header">
                    <i class="cui-arrow-bottom"></i>
                    <h2 class="text-center font-weight-bold">
                        ¿Está seguro de Desactivar el Operador?
                    </h2>
                    <h5 class="alert alert-warning text-center">Advertencia: Esta acción deshabilita el Operador.</h5>
                </div>
                <div class="card-body row">
                    <div class="text-center col-sm">
                        <button type="button" class="btn btn-primary btn-block"
                            (click)="closeModalDisabled('modalDisabled',true);">
                            <h4>Sí</h4>
                        </button>
                    </div>
                    <div class="text-center col-sm">
                        <button type="button" class="btn btn-dark btn-block"
                            (click)="closeModalDisabled('modalDisabled',false);">
                            <h4>No</h4>
                        </button>
                    </div>
                </div>
            </div>
        </jw-modal>
        <jw-modal id="modalEnable" class="mt-5">
            <div class="card">
                <!--style="height:500px"  Se puede especificar el height de la ventana modal, o el cojera por defecto el contenido de los elementos-->
                <div class="card-header">
                    <i class="cui-arrow-bottom"></i>
                    <h2 class="text-center font-weight-bold">
                        ¿Está seguro de Habilita el Operador?
                    </h2>
                    <h5 class="alert alert-warning text-center">Advertencia: Esta acción habilita el Operador.</h5>
                </div>
                <div class="card-body row">
                    <div class="text-center col-sm">
                        <button type="button" class="btn btn-primary btn-block"
                            (click)="closeModalEnable('modalEnable',true);">
                            <h4>Sí</h4>
                        </button>
                    </div>
                    <div class="text-center col-sm">
                        <button type="button" class="btn btn-dark btn-block"
                            (click)="closeModalEnable('modalEnable',false);">
                            <h4>No</h4>
                        </button>
                    </div>
                </div>
            </div>
        </jw-modal>
    </div>
</div>