  <div class="card bg-light mb-3">
    <div class="card-header text-center"><b>Cargar de isumos</b></div>
    <div class="card-body">
      <h4 class="card-title">Cargar archivo XTF</h4>
      <p class="card-text">Por favor cargue el archivo XTF a validar</p>
      <input type="file" accept=".xtf" (change)="cargandoImagen($event.target.files)" multiple>
    </div>
    <div _ngcontent-hhg-c4="" class="alert alert-success" *ngIf='respuestaValidador[0].isValid === true'>
      <strong _ngcontent-hhg-c4="" class="ng-tns-c4-0">
        El archivo XTF</strong> validado correctamente. </div>
    <div _ngcontent-hbo-c4="" class="alert alert-danger" *ngIf='respuestaValidador[0].isValid === false'>
      <strong _ngcontent-hbo-c4="" class="ng-tns-c4-0">
        El archivo XTF </strong> No es valido. </div>
  </div>
  <!-- {{questionsForm | json}} -->
  <div class="card bg-light mb-3">
    <div class="card-header text-center"><b>Generar base de datos</b></div>
    <div class="card-body">
      <h4 class="card-title">Modelo LADM 2.9.6</h4>
      <p class="card-text">Tenga en cuenta que debe existir la base de datos, esto generara el esquema de la base de
        datos con el modelo LADM 2.9.6</p>
      <form action="" method="post">
        <div class="form-group" *ngFor="let item of questionsForm">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">{{item.title}}</span>
            </div>
            <input class="form-control" id="{{item.id}}" type="{{item.typeInput}}" name="{{item.name}}"
              [(ngModel)]="item.value">
          </div>
        </div>
      </form>
      <button type="button" class="btn btn-primary btn-sm btn-block" (click)='crearEsquema()'>Crear esquema de la base de datos</button>
    </div>
  </div>
