<div>
  <app-page-header [heading]="'Solicitud de insumos'" [icon]="'fa-star'">
  </app-page-header>

  <div class="card">
    <div class="card-header text-center">
      <h3>Solicitud de insumos</h3>
    </div>
    <div class="card-body">
      <form action="" method="post">
        <div class="row mb-2">
          <div class='col-12 col-sm-6 mb-1'>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" aria-required="true">* Departamento</label>
              </div>
              <select class="custom-select" name="departments" id="departments" [(ngModel)]="selectDepartment">
                <option value='0' selected>Seleccione el departamento</option>
                <option [ngValue]="item.id" *ngFor="let item of departments">{{item.name}}</option>
              </select>
            </div>
          </div>
          <div class='col-12 col-sm-6  mb-1'>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text">* Municipio</label>
              </div>
              <select class="custom-select" name="" id="">
                <option selected>Seleccione el Municipio</option>
                <option value="">OVEJAS</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class='col-12 col-sm-6 mb-2'>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text">* Gestor</label>
              </div>
              <input class="form-control" type="text" disabled="true">
            </div>
          </div>
          <div class='col-12 col-sm-6 mb-2'>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text">* Operador</label>
              </div>
              <input class="form-control" type="text" disabled="true">
            </div>
          </div>
          <div class='col-12 col-sm-6  mb-1'>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text">Numero de predios esperados</label>
              </div>
              <input class="form-control" type="text">
            </div>
          </div>
          <div class='col-12 col-sm-6 mt-2 mb-1'>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text">Área de Trabajo</label>
              </div>
              <input class="form-control" type="text">
            </div>
          </div>
          <div class='col-12 col-sm-6  mb-1'>
            <div class="form-group form-check">
              <input name="splitZones" type="checkbox" class="form-check-input" id="exampleCheck1"
                [(ngModel)]="splitZones">
              <label class="form-check-label" for="exampleCheck1">Selección de Zonas</label>
            </div>
          </div>
          <div *ngIf="splitZones" class='col-12 col-sm-6 mb-1'>
            <div class="input-group">
              <select class="custom-select" name="" id="">
                <option selected>Seleccione la zona de trabajo</option>
                <option value="">4</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class='col-12 col-sm-6  mb-1'>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text">* Fecha de Inicio</label>
              </div>
              <input class="form-control" type="date">
            </div>
          </div>
          <div class='col-12 col-sm-6  mb-1'>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text">* Fecha Final</label>
              </div>
              <input class="form-control" type="date">
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-12">
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text">* Orden de Trabajo / Documento Soporte
                  <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                </label>
              </div>
              <input class="form-control" type="file" accept="pdf" (change)="docSoport($event.target.files)" multiple>
            </div>
          </div>
        </div>
        <div class="row">
          <h4>Gestor</h4>
          <div class="col-12">
            <div class="form-group form-check">
              <input name="splitZones" type="checkbox" class="form-check-input" id="exampleCheck2">
              <label class="form-check-label" for="exampleCheck1">Solicitud Insumos Catastrales</label>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group form-check">
              <input name="splitZones" type="checkbox" class="form-check-input" id="exampleCheck2">
              <label class="form-check-label" for="exampleCheck1">Solicitud Insumos No Estructurados</label>
            </div>
          </div>
          <div class='col-12 mb-1'>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text">* Fecha Máxima de Entrega</label>
              </div>
              <input class="form-control" type="date">
            </div>
          </div>
        </div>
        <div class="row mt-2 mb-2">
          <div class="col-12">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">* Observaciones de la solicitud</div>
              </div>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="card bg-light mb-3">
  <div class="card-header text-center"><b>Validar archivo XTF</b></div>
  <div class="card-body">
    <h4 class="card-title">Archivo con los datos en el modelo de insumos (Formato XTF)</h4>
    <p class="card-text">Por favor cargue el archivo XTF a validar</p>
    <input type="file" accept=".xtf" (change)="loadFile($event.target.files)" multiple>
  </div>
  <div _ngcontent-hhg-c4="" class="alert alert-success" *ngIf='respuestaValidador[0].isValid === true'>
    <strong _ngcontent-hhg-c4="" class="ng-tns-c4-0">
      El archivo XTF</strong> validado correctamente.
    <i class="fa fa-file-archive-o" aria-hidden="true">Descargue aquí informe de validación de archivo</i>
  </div>
  <div _ngcontent-hbo-c4="" class="alert alert-danger" *ngIf='respuestaValidador[0].isValid === false'>
    <strong _ngcontent-hbo-c4="" class="ng-tns-c4-0">
      El archivo XTF </strong> No es valido.
    <i class="fa fa-file-archive-o" aria-hidden="true">Descargue aquí informe de validación de archivo</i>
  </div>
</div>
<div class="card bg-light mb-3">
  <div class="card-header text-center"><b>Cargue de Insumos</b></div>
  <div class="card-body">
    <div class="col-12">
      <div class="form-group form-check">
        <input name="splitZones" type="checkbox" class="form-check-input" id="exampleCheck2">
        <label class="form-check-label" for="exampleCheck1">Archivo XTF validado</label>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="form-group form-check">
        <input name="splitZones" type="checkbox" class="form-check-input" id="exampleCheck2">
        <label class="form-check-label" for="exampleCheck1">Cartografia de referencia</label>
      </div>
    </div>
    <div class='col-12 col-sm-6  mb-1'>
      <div class="input-group">
        <div class="input-group-prepend">
          <label class="input-group-text">* Tipo</label>
        </div>
        <select class="custom-select" name="" id="">
          <option selected>Seleccione el Tipo de archivo</option>
          <option value="">URL</option>
        </select>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="form-group form-check">
        <input name="splitZones" type="checkbox" class="form-check-input" id="exampleCheck2">
        <label class="form-check-label" for="exampleCheck1">PLan de ordenamiento territorial</label>
      </div>
    </div>
    <div class='col-12 col-sm-6  mb-1'>
      <div class="input-group">
        <div class="input-group-prepend">
          <label class="input-group-text">* Tipo</label>
        </div>
        <select class="custom-select" name="" id="">
          <option selected>Seleccione el Tipo de archivo</option>
          <option value="">URL</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12">
    <div class="alert alert-primary text-center" role="alert">
      Recuerde que los campos marcados con * son obligatorios.
    </div>
  </div>
</div>
<div class="card-footer text-muted text-center">
  <button type="button" class="btn btn-dark">Guardar</button>
</div>
