<div>
  <app-page-header [heading]="'Solicitudes pendientes'" [icon]="'fa-star'">
  </app-page-header>
  <div class="card text-center">
    <div class="card-header">
      <h3>Solicitud de insumo pendiente</h3>
    </div>
    <div class="card-body">
      <div class="row justify-content-center">
        <div class="col-12">
          <table class="table table-striped table-inverse table-responsive">
            <thead class="thead-inverse">
              <tr>
                <th>ID</th>
                <th>Departamento</th>
                <th>Municipio</th>
                <th>Gestor</th>
                <th>Categoria</th>
                <th>Modelo de insumos</th>
                <th>Fecha de Solicitud</th>
                <th>Fecha limite</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dataRequestPending">
                <td scope="row">{{item.id}}</td>
                <td scope="row">{{item.municipality.department.name}}</td>
                <td scope="row">{{item.municipality.name}}</td>
                <td scope="row">{{item.provider.name}}</td>
                <td scope="row">{{item.provider.providerCategory.name}}</td>
                <td scope="row">Modelo 2.9.6</td>
                <td scope="row">{{formatDate(item.createdAt)}}</td>
                <td scope="row">{{formatDate(item.deadline)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div *ngFor="let item of dataRequestPending; let idOut = index;">
        <div *ngFor="let supp of item.suppliesRequested; let idInt = index;">
          <div class="row">
            <div class="input-group col-12 col-sm-3 mb-2">
              <div class="input-group">
                <div class="input-group-prepend input-group-text">
                  <div>* Insumo</div>
                </div>
                <div class="form-control">
                  {{supp.typeSupply.name}}
                </div>
              </div>
            </div>
            <div class="input-group col-12 col-sm-3 mb-2">
              <div class="input-group">
                <div class="input-group-prepend input-group-text">
                  <div>* Tipo</div>
                </div>
                <div class="form-control">
                  <select (ngModelChange)="modelChanged(supp, idOut, idInt )" [(ngModel)]="supp.typeSupplyId"
                    name="tipos{{idOut}}{{idInt}}" id="tipo{{idOut}}{{idInt}}">
                    <option value='0' selected>Seleccione el tipo</option>
                    <option [ngValue]="tipo.file" *ngFor="let tipo of supp.type">{{tipo.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- {{supp | json}} -->
            <div class="input-group col-12 col-sm-4 mb-2">
              <div class="input-group">
                <div class="form-control">
                  <div [ngSwitch]="supp.typeSupplyId">
                    <div *ngSwitchCase="typeDataFieldModel.typeDataFile">
                      <div class="input-group">
                        <input [accept]="supp.format" id="file{{idOut}}{{idInt}}" name="file{{idOut}}{{idInt}}"
                          class="form-control" type="file" (change)="docSoport($event.target.files,idOut, idInt )"
                          multiple>
                      </div>
                      <div class="input-group">
                        <div class="input-group-prepend input-group-text">
                          <div>* Observación</div>
                        </div>
                        <textarea (change)="validsendFile(idOut, idInt)" class="form-control"
                          id="observations{{idOut}}{{idInt}}" type="text" name="observations{{idOut}}{{idInt}}"
                          [(ngModel)]="supp.observations" rows="2"></textarea>
                      </div>
                    </div>
                    <div *ngSwitchCase="typeDataFieldModel.typeDataUrl">
                      <div class="input-group">
                        <div class="input-group-prepend input-group-text">
                          <div>* URL</div>
                        </div>
                        <input (change)="intoValidURL(idOut, idInt)" class="form-control" id="url{{idOut}}{{idInt}}"
                          type="url" name="url{{idOut}}{{idInt}}" [(ngModel)]="supp.url">
                      </div>
                      <div class="input-group">
                        <div class="input-group-prepend input-group-text">
                          <div>* Observación</div>
                        </div>
                        <textarea (change)="intoValidURL(idOut, idInt)" class="form-control"
                          id="observations{{idOut}}{{idInt}}" type="text" name="observations{{idOut}}{{idInt}}"
                          [(ngModel)]="supp.observations" rows="2"></textarea>
                      </div>
                    </div>
                    <div *ngSwitchCase="typeDataFieldModel.typeDataNone">
                      <div class="input-group">
                        <div class="input-group-prepend input-group-text">
                          <div>* Justifique</div>
                        </div>
                        <textarea (change)="intoValidJustification(idOut, idInt)" class="form-control"
                          id="justificationNone{{idOut}}{{idInt}}" type="text"
                          name="justificationNone{{idOut}}{{idInt}}" [(ngModel)]="supp.justification"
                          rows="2"></textarea>
                      </div>
                    </div>
                    <div *ngSwitchDefault>
                      <h6>No hay ningún campo seleccionado</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-2 mb-2" *ngIf="supp.state.id === 1">
              <button type="button" class="btn" id="boton{{idOut}}{{idInt}}"
                [ngClass]="supp.button.status ? 'btn-success':'btn-warning'" (click)="send(item.id, supp, idOut)"
                [disabled]="supp.button.status">
                {{supp.button.status ? 'Enviado':'Reenviar'}}
              </button>
            </div>
            <div class="col-12 col-sm-2 mb-2" *ngIf="supp.state.id === 2">
              <button type="button" class="btn" id="boton{{idOut}}{{idInt}}"
                [ngClass]="supp.button.status ? 'btn-danger':'btn-dark'" (click)="send(item.id, supp, idOut)"
                [disabled]="supp.button.status">
                {{supp.button.status ? 'Rechazado':'Reenviar'}}
              </button>
            </div>
            <div class="col-12 col-sm-2 mb-2" *ngIf="supp.state.id === 3">
              <button type="button" class="btn" id="boton{{idOut}}{{idInt}}" [ngClass]="'btn-info'"
                (click)="send(item.id, supp, idOut)" [disabled]="true">
                {{supp.button.status ? 'Validando': ''}}
              </button>
              {{supp.button.status ? '': 'En este momento no es posible subir el archivo, porque hay una validación en curso.'}}
            </div>
            <div class="col-12 col-sm-2 mb-2" *ngIf="supp.state.id === 4">
              <button type="button" class="btn" id="boton{{idOut}}{{idInt}}" [ngClass]="'btn-dark'"
                (click)="send(item.id, supp, idOut)" [disabled]="supp.button.status">
                Enviar
              </button>
            </div>
            <div class="col-12 col-sm-2 mb-2" *ngIf="supp.state.id === 5">
              <button type="button" class="btn" id="boton{{idOut}}{{idInt}}" [ngClass]="'btn-warning'"
                (click)="send(item.id, supp)" [disabled]="supp.button.status">
                {{supp.button.status ? 'Justificación enviada':'Enviar'}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <div class="alert alert-warning text-center" role="alert">
          Recuerde que los campos marcados con * son obligatorios.
          <strong>Si el boton de enviar es de color verde, el insumo ya fue enviado.</strong>
          Si envia nuevamente el insumo, <strong style="color: red;">este sera remplazado.</strong>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      <button type="button" class="btn btn-dark" [disabled]="closeRequestButton" (click)="closeRequest()">
        Cerrar Solicitud
      </button>
    </div>
  </div>
</div>
