<div>
  <app-page-header
    [heading]="'Gestión de Municipios'"
    [icon]="'fa-star'"
  ></app-page-header>

  <div class="card">
    <div class="card-header text-center">
      <h3>Asignación de Gestor Catastral</h3>
    </div>
    <div class="card-body">
      <form action="" method="post">
        <div class="row mb-2">
          <div class="col-12 col-sm-6 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text">* Gestor</label>
              </div>
              <select
                class="custom-select"
                name="managers"
                id="managers"
                [(ngModel)]="dataCreateWorkSpace.managerCode"
                (change)="changeData()"
              >
                <option value="0" selected>Seleccione el Gestor</option>
                <option [ngValue]="item.id" *ngFor="let item of activeManagers">
                  {{ item.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-12 col-sm-6 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text">* Fecha de Inicio</label>
              </div>
              <input
                class="form-control"
                type="date"
                name="FechaInicio"
                [(ngModel)]="dataCreateWorkSpace.startDate"
                (change)="changeData()"
              />
            </div>
          </div>
          <div class="col-12 col-sm-6 mb-1">
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" aria-required="true"
                  >* Departamento</label
                >
              </div>
              <select
                (change)="changeDepartament()"
                class="custom-select"
                name="departments"
                id="departments"
                [(ngModel)]="dataCreateWorkSpace.selectDepartment"
              >
                <option value="0" selected>Seleccione el Departamento</option>
                <option [ngValue]="item.id" *ngFor="let item of departments">
                  {{ item.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-12 col-md-5 mb-1">
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" aria-required="true"
                  >* Municipios</label
                >
              </div>
              <ng-select2
                name="select2Munucipalities"
                [data]="munucipalities"
                [options]="options"
                [(ngModel)]="dataCreateWorkSpace.municipalityId"
                (change)="changeData()"
              >
              </ng-select2>
            </div>

            <small class="form-text text-muted"
              >Seleccione los Municipios a los cuales les va a asignar un
              Gestor.
            </small>
          </div>
          <div class="col-12 col-md-1 mb-1" *ngIf="viewSelectAllMunicipalities">
            <label
              class="switch"
              [title]="
                selectAllMunicipalities
                  ? 'Cancelar selección de municipios'
                  : 'Seleccione todos los municipios'
              "
            >
              <input
                [(ngModel)]="selectAllMunicipalities"
                type="checkbox"
                name="checkboxSelectAllMunicipalities"
                (click)="clickCheckBox()"
              />
              <span class="slider round"></span>
            </label>
            <small class="form-text text-muted">
              {{
                selectAllMunicipalities
                  ? "Cancelar selección de municipios"
                  : "Seleccione todos los municipios"
              }}
            </small>
          </div>
          <div class="col-12 col-md-12 mb-1">
            <div class="input-group">
              <div class="input-group-prepend input-group-text">
                <div class="">* Alcance / Observaciones</div>
              </div>
              <textarea
                maxlength="255"
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
                name="observaciones"
                [(ngModel)]="dataCreateWorkSpace.observations"
                (change)="changeData()"
              ></textarea>
            </div>
          </div>
          <div class="col-12">
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text"
                  >* Orden de Trabajo / Documento Soporte
                  <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                </label>
              </div>
              <input
                #myInput
                class="form-control"
                type="file"
                (change)="docSoport($event.target.files)"
                accept=".pdf"
              />
            </div>
          </div>
        </div>
      </form>
      <div class="row mt-3">
        <div class="col-12">
          <div class="alert alert-primary text-center" role="alert">
            Recuerde que los campos marcados con * son obligatorios.
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted text-center">
      <button
        type="button"
        class="btn btn-dark"
        (click)="openModal(modalRegistrar)"
        [disabled]="!createActive"
      >
        Asignar Gestor Catastral
      </button>
    </div>
  </div>
  <ng-template #modalRegistrar let-modal>
    <div class="modal-header">
      <h4 class="modal-title">¿Está seguro de crear el espacio de trabajo?</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h5 class="alert alert-warning text-center">
        Advertencia: Esta acción asignará un espacio de trabajo al municipio
        seleccionado.
      </h5>
    </div>
    <div class="modal-footer">
      <div class="col-6">
        <button
          type="button"
          class="btn btn-dark btn-block"
          (click)="closeModal(false)"
        >
          No
        </button>
      </div>
      <div class="col-6 text-right">
        <button
          type="button"
          ngbAutofocus
          class="btn btn-success btn-block"
          (click)="closeModal(true)"
        >
          Si
        </button>
      </div>
    </div>
  </ng-template>
</div>
