<div class="login-page mb-5" [@routerTransition]>
  <div class="row justify-content-md-center  mb-5">
    <div class="col-md-5  mb-5">
      <h1>SISTEMA DE TRANSICIÓN PARA EL BARRIDO PREDIAL EN COLOMBIA</h1> <br>
      <h3><strong style="color: darkgray;">CATASTRO MULTIPRÓPOSITO</strong></h3>
      <form role="form">
        <div class="form-content">
          <div class="form-group">
            <input name="username" type="text" [(ngModel)]="loginData.username"
              class="form-control input-underline input-lg" id="username" placeholder="Nombre de usuario" required>
          </div>

          <div class="form-group">
            <input (keyup.enter)="onKey($event)" name="password" type="password" [(ngModel)]="loginData.password"
              class="form-control input-underline input-lg" id="password" placeholder="Contraseña" required>
          </div>
        </div>
        <a class="btn rounded-btn" [routerLink]="['/inicio']" (click)="onLoggedin()">iniciar sesión</a>
        &nbsp;
        <a class="btn rounded-btn" [routerLink]="['/signup']">Registrar</a>
      </form>
    </div>
  </div>
</div>
<footer class="bg-white text-black">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <img class="center" src="./assets/logos/Logos_Entidades.svg" alt="Logos_Entidades">
      </div>
    </div>
  </div>
</footer>
