<div class="login-page">
  <div class="row justify-content-md-center  mb-5">
    <div class="col-md-4 mb-5">
      <!-- <h1>SISTEMA DE TRANSICIÓN PARA EL BARRIDO PREDIAL EN COLOMBIA</h1> <br>
      <h3><strong style="color: darkgray;">CATASTRO MULTIPRÓPOSITO</strong></h3> -->
      <img class="imagenST" src="./assets/logos/Logo Redimensionado_Blanco.png" alt="Logo Redimensionado ">
      <!-- <img class="imagenST" src="./assets/logos/Logo Redimensionado_Gris.png" alt="Logo Redimensionado ">
      <img class="imagenST" src="./assets/logos/Logo Redimensionado_Negro.png" alt="Logo Redimensionado "> -->
      <form role="form">
        <div class="form-content">
          <div class="form-group">
            <input name="username" type="text" [(ngModel)]="loginData.username"
              class="form-control input-underline input-lg" id="username" placeholder="Nombre de usuario" required>
          </div>

          <div class="form-group">
            <input (keyup.enter)="onKey($event)" name="password" type="password" [(ngModel)]="loginData.password"
              class="form-control input-underline input-lg" id="password" placeholder="Contraseña" required>
          </div>
        </div>
        <a class="btn rounded-btn" [routerLink]="['/inicio']" (click)="onLoggedin()">iniciar sesión</a>
        &nbsp;
        <!-- <a class="btn rounded-btn" [routerLink]="['/signup']">Registrar</a> -->
        <div class="col-md-12 text-center mt-5">
          <small><span class="text-secondary font-weight-bold">Esta aplicación funciona mejor en Mozilla Firefox 74.x y
              Google Chrome 80.x.</span></small>
        </div>
      </form>
    </div>
  </div>
</div>
<footer class="bg-white text-black">
  <div class="container-fluid">
    <div class="row justify-content-md-center align-items-center">
      <div class="col-12 mt-2 mb-2">
        <img class="center imagenEntidad" src="./assets/logos/entidad1.png" alt="entidad1">
        <img class="center imagenEntidad" src="./assets/logos/entidad2.png" alt="entidad2">
        <img class="center imagenEntidad" src="./assets/logos/entidad3.png" alt="entidad3">
        <img class="center imagenEntidad" src="./assets/logos/entidad4.png" alt="entidad4">
        <img class="center imagenEntidad" src="./assets/logos/entidad5.png" alt="entidad5">
        <img class="center imagenEntidad" src="./assets/logos/entidad6.png" alt="entidad6">
        <img class="center imagenEntidad" src="./assets/logos/entidad7.png" alt="entidad7">
      </div>
    </div>
  </div>
</footer>