<div class="body-back">
  <div class="container">
    <div class="login-page">
      <div class="row justify-content-md-center mb-5">
        <div class="col-12 col-md-6 col-xl-6 mb-5">
          <img class="imagenST" src="./assets/logos/Logo Redimensionado_Blanco.png" alt="Logo Redimensionado " />
          <form role="form">
            <div class="form-content">
              <div class="form-group">
                <input name="username" type="text" [(ngModel)]="loginData.username"
                  class="form-control input-underline input-lg" id="username" placeholder="Nombre de usuario"
                  required />
              </div>

              <div class="form-group">
                <input (keyup.enter)="onKey($event,modalReset)" name="password" type="password"
                  [(ngModel)]="loginData.password" class="form-control input-underline input-lg" id="password"
                  placeholder="Contraseña" required />
              </div>
            </div>
            <a class="btn rounded-btn" [routerLink]="['/inicio']" (click)="onLoggedin(modalReset)">iniciar sesión</a>
            <div class="col-md-12 text-right mt-1">
              <small (click)="recoverPassword(modalRecover)" style="cursor: pointer"><span
                  class="text-primary font-weight-bold">¿Ha olvidado el usuario o contraseña?
                </span>
              </small>
            </div>
            &nbsp;
            <div class="col-md-12 text-left mt-2">
              <small><span class="text-secondary font-weight-bold">Esta aplicación funciona mejor en Mozilla Firefox
                  74.x y
                  Google Chrome 80.x.</span></small>
            </div>
          </form>
        </div>
        <div class="row footer-agencia mb-5">
          <div class="col-md-12 col-xl-12 text-center">
            <a class="dark-grey-text" href="https://swisstierrascolombia.com/" target="_blank">
              <img class="image-fluid logo" src="./assets/logos/agencia2.png" alt="Logo agencia de implementación" />
            </a>
          </div>
          <div class="col-md-12 col-xl-12 text-center">
            <a href="https://github.com/SwissTierrasColombia" target="_blank"
              class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i
                class="fa fa-github"></i></a>
            <a href="https://twitter.com/SwissTierrasCol" target="_blank"
              class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i
                class="fa fa-twitter"></i></a>
            <a href="https://www.youtube.com/channel/UCzWCy5tCs77ZNblFxi9b_Og" target="_blank"
              class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i
                class="fa fa-youtube"></i></a>
          </div>
          <div class="col-md-12 col-xl-12 text-center">
            <small>
              © 2019
              <span class="text-secondary font-weight-bold">
                Affero General Public License</span></small>
          </div>
        </div>
      </div>
    </div>
    <div class="fixed-bottom">
      <div class="row justify-content-md-center">
        <div class="col-3 col-sm-2 col-md-1">
          <img class="imagenEntidad" src="./assets/logos/entidad1.png" alt="entidad1" />
        </div>
        <div class="col-3 col-sm-2 col-md-1">
          <img class="imagenEntidad" src="./assets/logos/entidad2.png" alt="entidad2" />
        </div>
        <div class="col-3 col-sm-2 col-md-1">
          <img class="imagenEntidad" src="./assets/logos/entidad3.png" alt="entidad3" />
        </div>
        <div class="col-3 col-sm-2 col-md-1">
          <img class="imagenEntidad" src="./assets/logos/entidad4.png" alt="entidad4" />
        </div>
        <div class="col-3 col-sm-2 col-md-1">
          <img class="imagenEntidad" src="./assets/logos/entidad5.png" alt="entidad5" />
        </div>
        <div class="col-3 col-sm-2 col-md-1">
          <img class="imagenEntidad" src="./assets/logos/entidad6.png" alt="entidad6" />
        </div>
        <div class="col-3 col-sm-2 col-md-1">
          <img class="imagenEntidad" src="./assets/logos/entidad7.png" alt="entidad7" />
        </div>
      </div>
    </div>
  </div>
  <ng-template #modalRecover let-modal>
    <div class="modal-header">
      <h4 class="modal-title">¿Ha olvidado el usuario o contraseña?</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h5 class="alert alert-info text-center">
        Por favor ingrese el correo electrónico.
      </h5>
      <div class="input-group mb-4">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="material-icons"> email </i>
          </span>
        </div>
        <input (change)="validfield()" type="email" name="email" class="form-control" placeholder="Correo electrónico"
          autocomplete="email" [(ngModel)]="emailByRecover" required />
      </div>
    </div>
    <div class="modal-footer">
      <div class="col-12">
        <button type="button" class="btn btn-dark btn-block" (click)="closeModalRecover(modalReset)"
          [disabled]="!buttonRecover">
          Enviar
        </button>
      </div>
    </div>
  </ng-template>
  <ng-template #modalReset let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Cambiar contraseña</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h5 class="alert alert-info text-center">
        Por favor ingrese el código enviado a su correo electrónico y la nueva
        contraseña.
      </h5>
      <div class="input-group mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="material-icons"> email </i>
          </span>
        </div>
        <input type="email" name="email" class="form-control" placeholder="Correo electrónico" autocomplete="email"
          disabled="false" [(ngModel)]="emailByRecover" required />
      </div>
      <div class="input-group mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="material-icons"> account_circle </i>
          </span>
        </div>
        <input (change)="validfield2()" type="text" name="username" class="form-control" placeholder="Nombre de usuario"
          autocomplete="username" [(ngModel)]="username" required />
      </div>
      <div class="input-group mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="material-icons"> code </i>
          </span>
        </div>
        <input (change)="validfield2()" type="text" name="codeRecover" class="form-control" placeholder="código"
          [(ngModel)]="codeRecover" required />
      </div>
      <div class="input-group mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="material-icons"> security </i>
          </span>
        </div>
        <input (change)="validfield2()" type="password" name="password" class="form-control" placeholder="Contraseña"
          autocomplete="current-password" [(ngModel)]="newPassword" required />
      </div>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="material-icons"> lock </i>
          </span>
        </div>
        <input (change)="validfield2()" type="password" name="confirmationPassword" class="form-control"
          placeholder="Confirmar contraseña" autocomplete="current-password" [(ngModel)]="confirmationNewPassword"
          required />
      </div>
    </div>
    <div class="modal-footer">
      <div class="col-12">
        <button type="button" class="btn btn-dark btn-block" (click)="closeModalReset()" [disabled]="!buttonReset">
          Enviar
        </button>
      </div>
    </div>
  </ng-template>
</div>