<app-page-header [heading]="'Entrega'" [icon]="'fa-star'"> </app-page-header>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-2">
                <span ngbTooltip="Volver" placement="bottom" show-delay="500">
                    <i class="material-icons cursor m-2" (click)="goBack()">backspace</i>
                </span>
            </div>
            <div class="col-5"></div>
            <div class="col-5">
                <!-- <div class="text-left">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text" aria-required="true">* Trimestre para informar: </label>
                        </div>
                        <select class="custom-select" name="managers" id="managers" disabled="true">
                            <option value="0" selected [disabled]="true">
                                Último trimestre 2021 (octubre – diciembre de 2021)
                            </option>
                        </select>
                    </div>
                </div> -->
            </div>
            <div class="col-12">
                <div class="text-center">
                    <h3>Entrega</h3>
                    Estado de la entrega:
                    <span [innerHTML]="nameStateDelivery(delivery.status)"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="col-12 mb-1">
            <div class="table-inverse table-responsive text-center">
                <table class="table table-striped">
                    <thead class="thead-inverse">
                        <tr>
                            <th *ngIf="isAdministrator">Gestor</th>
                            <th>Código de la entrega</th>
                            <th>Fecha</th>
                            <th>Departamento</th>
                            <th>Municipio</th>
                            <th>Observación</th>
                            <th>Fecha de estado <span [innerHTML]="nameStateDelivery(delivery.status)"></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row" *ngIf="isAdministrator">{{ delivery.manager.name }}</td>
                            <td scope="row">{{ delivery.code }}</td>
                            <td scope="row">
                                {{ formatDate(delivery.date) }}
                            </td>
                            <td scope="row">{{ delivery.locality.department }}</td>
                            <td scope="row">{{ delivery.locality.municipality}}</td>
                            <td scope="row">
                                <app-observation [name]="'observation'" [(inputModel)]="delivery.observations"
                                    [disabled]="true"></app-observation>
                            </td>
                            <td scope="row">
                                <span style="color: red;">{{ formatDate(delivery.dateStatus) }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-header text-center" *ngIf="!isAdministrator && delivery.status ==='DRAFT'">
            <h2>
                {{ id > 0 ? "Actualizar" : "Añadir" }} archivo XTF a la entrega
                <span *ngIf="id > 0"><b>#{{ id }}</b></span>
            </h2>
        </div>
        <form action="" method="post" *ngIf="!isAdministrator && delivery.status ==='DRAFT'">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text">* Adjunto
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                            </label>
                        </div>
                        <input #myInput class="form-control" type="file" (change)="docSoport($event.target.files)"
                            accept=".zip" />
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-1">
                    <app-observation [name]="'observation'" [placeholder]="'Observación'" [(inputModel)]="observations"
                        (change)="changeData()">
                    </app-observation>
                </div>
                <div class="col-12">
                    <div class="alert alert-primary text-center" role="alert">
                        Recuerde que los campos marcados con * son obligatorios.
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer text-muted text-center" *ngIf="!isAdministrator && delivery.status ==='DRAFT'">
        <button type="button" [disabled]="!formOk" *ngIf="!editMode" class="btn btn-dark" (click)="create()">
            Adjuntar
        </button>
    </div>
    <div class="card-header text-center">
        <h4>Lista de archivos adjuntos <strong style="color: green">({{listFiles.length}})</strong></h4>
    </div>
    <div class="card-body" *ngIf="listFiles.length > 0">
        <div class="col-12 mb-1">
            <div class="table-inverse table-responsive text-center">
                <table class="table table-striped">
                    <thead class="thead-inverse">
                        <tr>
                            <th>ID</th>
                            <th>Fecha de cargue</th>
                            <th>Información</th>
                            <th>Observación</th>
                            <!-- <th>Version</th> -->
                            <th *ngIf="!isAdministrator && delivery.status ==='DRAFT'">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of listFiles; let index = index">
                            <td scope="row">{{ item.id }}</td>
                            <td scope="row">{{ formatDate(item.date) }}</td>
                            <td scope="row">
                                <strong>Estado: </strong> <span
                                    [innerHTML]="changeNameStateFile(item.status)"></span><br>
                                <strong>Versión del modelo RCI: </strong>{{item.version}}<br>
                                <strong>Fecha: </strong>{{ formatDate(item.dateStatus) }}
                            </td>
                            <td scope="row">
                                <app-observation [name]="'observation'" [(inputModel)]="item.observations"
                                    [disabled]="true"></app-observation>
                            </td>
                            <!-- <td scope="row">{{ item.version }}</td> -->
                            <td scope="row" *ngIf="!isAdministrator">
                                <span ngbTooltip="Descargar adjunto" placement="top" show-delay="500"
                                    (click)="downloadFile(item)" *ngIf="isAdministrator">
                                    <i class="material-icons cursor">
                                        file_download
                                    </i>
                                </span>
                                <span *ngIf="!isAdministrator && item.hasLog && delivery.status ==='DRAFT'"
                                    ngbTooltip="Descargar log de errores" placement="top" show-delay="500"
                                    (click)="downloadLog(item)">
                                    <i class="material-icons cursor">
                                        description
                                    </i>
                                </span>
                                <span *ngIf="delivery.status ==='DRAFT'" ngbTooltip="Eliminar" placement="top"
                                    show-delay="500" (click)="deleteAttachment(item)">
                                    <i class="material-icons cursor">
                                        delete
                                    </i>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div *ngIf="listFiles.length === 0" class="row">
        <div class="col-12">
            <div class="alert alert-primary text-center" role="alert">
                No tiene adjuntos
            </div>
        </div>
    </div>
    <div class="card-footer text-muted text-center" *ngIf="!isAdministrator && delivery.status ==='DRAFT'">
        <button type="button" [disabled]="!sendAuthority" class="btn btn-dark" (click)="save()">
            Enviar a Autoridad Catastral
        </button>
    </div>
</div>