/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import "ngx-toastr/ngx-toastr";
@import "modal";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@media print {
  .breadcrumb {
    display: none !important;
  }
}
.cursor {
  cursor: pointer;
}
.input-group-text {
  font-weight: bold;
}
.col-form-label {
  font-weight: bold;
}
