<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form #formulariologin="ngForm">
                  <h1 class="text-center mb-2">Registro de Usuarios</h1>
                  <h3 class="text-center mb-2" *ngIf="roleConnect.id === 5">
                    Administrador del Sistema
                  </h3>
                  <h3 class="text-center mb-2" *ngIf="roleConnect.id === 1">
                    Perfil Administrador
                  </h3>
                  <h3 class="text-center mb-2" *ngIf="roleConnect.id === 2">
                    Gestor
                  </h3>
                  <h3 class="text-center mb-2" *ngIf="roleConnect.id === 4">
                    Proveedor
                  </h3>
                  <p class="text-muted">Ingrese los siguientes datos.</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons"> perm_identity </i>
                      </span>
                    </div>
                    <input
                      (change)="validfield()"
                      type="text"
                      name="firstName"
                      class="form-control"
                      placeholder="Nombres"
                      autocomplete="firstName"
                      [(ngModel)]="registerData.firstName"
                      required
                    />
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons"> list_alt </i>
                      </span>
                    </div>
                    <input
                      (change)="validfield()"
                      type="text"
                      name="lastName"
                      class="form-control"
                      placeholder="Apellidos"
                      autocomplete="lastName"
                      [(ngModel)]="registerData.lastName"
                      required
                    />
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons"> account_circle </i>
                      </span>
                    </div>
                    <input
                      (change)="validfield()"
                      type="text"
                      name="username"
                      class="form-control"
                      placeholder="Nombre de usuario"
                      autocomplete="username"
                      [(ngModel)]="registerData.username"
                      required
                    />
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="material-icons"> email </i></span
                      >
                    </div>
                    <input
                      (change)="validfield()"
                      type="email"
                      name="email"
                      class="form-control"
                      placeholder="Correo electrónico"
                      autocomplete="email"
                      [(ngModel)]="registerData.email"
                      required
                    />
                  </div>

                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons"> security </i>
                      </span>
                    </div>
                    <input
                      (change)="validfield()"
                      type="password"
                      name="password"
                      class="form-control"
                      placeholder="Contraseña"
                      autocomplete="current-password"
                      [(ngModel)]="registerData.password"
                      required
                    />
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons"> lock </i>
                      </span>
                    </div>
                    <input
                      (change)="validfield()"
                      type="password"
                      name="confirmationPassword"
                      class="form-control"
                      placeholder="Confirmar contraseña"
                      autocomplete="current-password"
                      [(ngModel)]="registerData.confirmationPassword"
                      required
                    />
                  </div>
                  <!-- Select profiles -->
                  <small
                    *ngIf="roleConnect.id === 1"
                    id="perfil"
                    class="form-text text-muted mb-3"
                  >
                    Seleccione el rol que tendrá el usuario.
                  </small>
                  <fieldset
                    class="form-group text-center"
                    *ngIf="roleConnect.id === 1"
                  >
                    <label
                      class="radio-inline col-12 col-sm-3"
                      *ngFor="let item of registerData.state; let i = index"
                    >
                      <input
                        (change)="validfield()"
                        [(ngModel)]="selectROL"
                        [value]="item.id"
                        [id]="item.id"
                        name="roles"
                        type="radio"
                      />
                      {{ item.name }}
                    </label>
                  </fieldset>
                  <fieldset
                    class="form-group text-center"
                    *ngIf="dataUserLogger.is_provider_director"
                  >
                    <label
                      class="radio-inline col-12 col-sm-3"
                      *ngFor="let item of registerData.state; let i = index"
                    >
                      <input
                        (change)="validfield()"
                        [(ngModel)]="selectROL"
                        [value]="item.id"
                        [id]="item.id"
                        name="roles"
                        type="radio"
                      />
                      {{ item.name }}
                    </label>
                  </fieldset>
                  <div class="mb-3" *ngIf="selectROL === 2">
                    <!-- Gestor lista unica -->
                    <div class="input-group" *ngIf="roleConnect.id === 1">
                      <div class="input-group-prepend">
                        <label class="input-group-text" aria-required="true"
                          >* Gestor</label
                        >
                      </div>
                      <select
                        (change)="getProfilesManager()"
                        class="custom-select"
                        name="managers"
                        id="managers"
                        [(ngModel)]="registerData.roleManager.managerId"
                      >
                        <option value="0" selected>Seleccione entidad</option>
                        <option
                          [ngValue]="item.id"
                          *ngFor="let item of managers"
                        >
                          {{ item.alias }}
                        </option>
                      </select>
                    </div>
                    <!-- Perfiles Gestor lista multiple -->
                    <div
                      class="input-group mt-2"
                      *ngIf="dataUserLogger.is_manager_director"
                    >
                      <div class="input-group-prepend">
                        <label class="input-group-text" aria-required="true"
                          >* Perfil</label
                        >
                      </div>
                      <select
                        (change)="validfield()"
                        class="custom-select"
                        name="managersprfile"
                        id="managersprofile"
                        [(ngModel)]="registerData.roleManager.profiles"
                        multiple
                      >
                        <option
                          [ngValue]="item.id"
                          *ngFor="let item of profilesManagers"
                        >
                          {{ item.alias }}
                        </option>
                      </select>
                    </div>
                    <!-- <small id="entities" class="form-text text-muted">Seleccione el perfil del gestor</small> -->
                  </div>
                  <div class="mb-3" *ngIf="selectROL === 3">
                    <!-- Proveedor lista unica -->
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <label class="input-group-text" aria-required="true"
                          >* Operador</label
                        >
                      </div>
                      <select
                        (change)="validfield()"
                        class="custom-select"
                        name="operator"
                        id="operator"
                        [(ngModel)]="registerData.roleOperator.operatorId"
                      >
                        <option value="0" selected>Seleccione entidad</option>
                        <option
                          [ngValue]="item.id"
                          *ngFor="let item of operators"
                        >
                          {{ item.alias }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="mb-3" *ngIf="selectROL === 4">
                    <!-- Proveedor lista unica -->
                    <div class="input-group" *ngIf="roleConnect.id === 1">
                      <div class="input-group-prepend">
                        <label class="input-group-text" aria-required="true"
                          >* Proveedor</label
                        >
                      </div>
                      <select
                        (change)="
                          getProfilesProviders(
                            registerData.roleProvider.providerId
                          )
                        "
                        class="custom-select"
                        name="providers"
                        id="providers"
                        [(ngModel)]="registerData.roleProvider.providerId"
                      >
                        <option value="0" selected>Seleccione entidad</option>
                        <option
                          [ngValue]="item.id"
                          *ngFor="let item of providers"
                        >
                          {{ item.alias }}
                        </option>
                      </select>
                    </div>
                    <!-- Perfiles Proveedor lista multiple -->
                    <div
                      class="input-group mt-2"
                      *ngIf="dataUserLogger.is_provider_director"
                    >
                      <div class="input-group-prepend">
                        <label class="input-group-text" aria-required="true"
                          >* Areá de trabajo</label
                        >
                      </div>
                      <select
                        (change)="validfield()"
                        class="custom-select"
                        name="profilesProviders"
                        id="profilesProviders"
                        [(ngModel)]="registerData.roleProvider.profiles"
                        multiple
                      >
                        <option
                          [ngValue]="item.id"
                          *ngFor="let item of profilesProviders"
                        >
                          {{ item.name }}
                        </option>
                      </select>
                    </div>
                    <small
                      *ngIf="dataUserLogger.is_provider_director"
                      id="entities"
                      class="form-text text-muted"
                      >Seleccione el área o áreas de trabajo al que se vinculará
                      el usuario.</small
                    >
                  </div>
                  <div class="mb-3" *ngIf="selectROL === 5">
                    <small
                      *ngIf="dataUserLogger.is_provider_director"
                      id="entities"
                      class="form-text text-muted"
                    >
                      <b>Generador PDF:</b> Este usuario revisará y agregará los
                      archivos soporte, para cabida y linderos en el archivo
                      XTF.
                    </small>
                  </div>
                </form>
              </div>
              <div class="text-muted text-center">
                <button
                  type="button"
                  class="btn btn-dark px-4"
                  [disabled]="botonRegistrar"
                  (click)="openModal(modalRegistrar)"
                >
                  Registrar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <ng-template #modalRegistrar let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Registro de Usuarios</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h2 class="text-center font-weight-bold">
        ¿Está seguro de registrar el usuario?
      </h2>
      <h5 class="alert alert-warning text-center">
        Advertencia: Esta acción registra un usuario en el sistema.
      </h5>
    </div>
    <div class="modal-footer">
      <div class="col-6">
        <button
          type="button"
          class="btn btn-dark btn-block"
          (click)="closeModal(false)"
        >
          No
        </button>
      </div>
      <div class="col-6 text-right">
        <button
          type="button"
          ngbAutofocus
          class="btn btn-success btn-block"
          (click)="closeModal(true)"
        >
          Si
        </button>
      </div>
    </div>
  </ng-template>
</div>
