<div [@routerTransition]>
  <div class="row">
    <div class="col-md-12 text-center mb-2">
      <h2 class="text-muted"><small>Sistema de Transición para el Barrido Predial en Colombia</small></h2>
    </div>
    <div class="col-md-12">
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let slider of sliders">
          <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
          <div class="carousel-caption">
            <h3>{{slider.label}}</h3>
            <p>{{slider.text}}</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  <hr>
  <div class="row justify-content-center justify-content-md-center">
    <div *ngIf="roleproveedor" class="mt-1 mb-1 col-8 col-md-4">
      <app-stat [bgClass]="'success'" [icon]="'fa-tasks'" [count]="dataRequestPending" [label]="'SOLICITUDES'"
        [url]="'/insumos/solicitudes'">
      </app-stat>
    </div>
    <div class="mt-1 mb-1 col-8 col-md-4">
      <app-stat [bgClass]="'info'" [icon]="'fa-tasks'" [count]="0" [label]="'ENTREGAS'" [url]="">
      </app-stat>
    </div>
    <!-- <div class="mt-1 mb-1 col-8 col-md-4">
      <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="0" [label]="'INTEGRACIONES'"></app-stat>
    </div> -->
  </div>
  <hr />
</div>