<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form #formulariologin="ngForm">
                  <h1 class="text-center mb-2">Registro de Usuarios</h1>
                  <p class="text-muted">Ingrese los siguientes datos.</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">
                          perm_identity
                        </i>
                      </span>
                    </div>
                    <input type="text" name="firstName" class="form-control" placeholder="Nombres"
                      autocomplete="firstName" [(ngModel)]="registerData.firstName" required>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">
                          list_alt
                        </i>
                      </span>
                    </div>
                    <input type="text" name="lastName" class="form-control" placeholder="Apellidos"
                      autocomplete="lastName" [(ngModel)]="registerData.lastName" required>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">
                          account_circle
                        </i>
                      </span>
                    </div>
                    <input type="text" name="username" class="form-control" placeholder="Nombre de usuario"
                      autocomplete="username" [(ngModel)]="registerData.username" required>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="material-icons">
                          email
                        </i></span>
                    </div>
                    <input type="email" name="email" class="form-control" placeholder="Correo electrónico"
                      autocomplete="email" [(ngModel)]="registerData.email" required>
                  </div>

                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">
                          security
                        </i>
                      </span>
                    </div>
                    <input type="password" name="password" class="form-control" placeholder="Contraseña"
                      autocomplete="current-password" [(ngModel)]="registerData.password" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">
                          lock
                        </i>
                      </span>
                    </div>
                    <input type="password" name="confirmationPassword" class="form-control"
                      placeholder="Confirmar contraseña" autocomplete="current-password"
                      [(ngModel)]="registerData.confirmationPassword" required>
                  </div>
                  <fieldset class="form-group text-center">
                    <label class="radio-inline col-12 col-sm-3" *ngFor="let item of registerData.state; let i = index;">
                      <input [(ngModel)]="selectROL" [value]="item.id" [id]="item.id" name="roles" type="radio">
                      {{item.name}}
                    </label>
                  </fieldset>
                  <small id="perfil" class="form-text text-muted mb-3">Seleccione el perfil para
                    este usuario</small>
                  <div class="mb-3" *ngIf="selectROL === 2">
                    <!-- Gestor lista unica -->
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <label class="input-group-text" aria-required="true">* Gestor</label>
                      </div>
                      <select (change)="getProfilesManager()" class="custom-select" name="managers" id="managers"
                        [(ngModel)]="registerData.roleManager.managerId">
                        <option value='0' selected>Seleccione el Gestor</option>
                        <option [ngValue]="item.id" *ngFor="let item of managers">{{item.name}}</option>
                      </select>
                    </div>
                    <!-- Perfiles Gestor lista multiple -->
                    <div class="input-group mt-2">
                      <div class="input-group-prepend">
                        <label class="input-group-text" aria-required="true">* Perfil Gestor</label>
                      </div>
                      <select class="custom-select" name="managersprfile" id="managersprofile"
                        [(ngModel)]="registerData.roleManager.profiles" multiple>
                        <option [ngValue]="item.id" *ngFor="let item of profilesManagers">{{item.name}}</option>
                      </select>
                    </div>
                    <small id="entities" class="form-text text-muted">Seleccione el Gestor y su perfil</small>
                  </div>
                  <div class="mb-3" *ngIf="selectROL === 3">
                    <!-- Proveedor lista unica -->
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <label class="input-group-text" aria-required="true">* Operador</label>
                      </div>
                      <select class="custom-select" name="operator" id="operator"
                        [(ngModel)]="registerData.roleProvider.providerId">
                        <option value='0' selected>Seleccione el Operador</option>
                        <option [ngValue]="item.id" *ngFor="let item of operators">{{item.name}}</option>
                      </select>
                    </div>
                    <small id="entities" class="form-text text-muted">Seleccione el Operador</small>
                  </div>
                  <div class="mb-3" *ngIf="selectROL === 4">
                    <!-- Proveedor lista unica -->
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <label class="input-group-text" aria-required="true">* Proveedor</label>
                      </div>
                      <select (change)="getProfilesProviders(registerData.roleProvider.providerId)"
                        class="custom-select" name="providers" id="providers"
                        [(ngModel)]="registerData.roleProvider.providerId">
                        <option value='0' selected>Seleccione el Proveedor</option>
                        <option [ngValue]="item.id" *ngFor="let item of providers">{{item.name}}</option>
                      </select>
                    </div>
                    <!-- Perfiles Proveedor lista multiple -->
                    <div class="input-group mt-2">
                      <div class="input-group-prepend">
                        <label class="input-group-text" aria-required="true">* Perfil Proveedor</label>
                      </div>
                      <select class="custom-select" name="profilesProviders" id="profilesProviders"
                        [(ngModel)]="registerData.roleProvider.profiles" multiple>
                        <option [ngValue]="item.id" *ngFor="let item of profilesProviders">{{item.name}}</option>
                      </select>
                    </div>
                    <small id="entities" class="form-text text-muted">Seleccione el Proveedor y su perfil</small>
                  </div>

                  <div class="row mt-4">
                    <div class="col-6">
                      <button type="button" class="btn btn-primary px-4" (click)="register()">Registrar</button>
                    </div>
                  </div>
                </form>
                <!-- <pre>{{registerData | json}}</!-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>