<div>
  <div class="row mb-3">
    <div class="col-12 col-sm-1">
      <i class="material-icons cursor m-2" (click)="volver()">backspace</i>
    </div>
    <div class="col-12 col-sm-5">
      <div class="input-group">
        <div class="input-group-prepend">
          <label class="input-group-text">Departamento</label>
        </div>
        <div class="form-control">{{dataWorkSpace.municipality.department.name}}</div>
      </div>
    </div>
    <div class="col-12 col-sm-5">
      <div class="input-group">
        <div class="input-group-prepend">
          <label class="input-group-text">* Municipio</label>
        </div>
        <div class="form-control">{{dataWorkSpace.municipality.name}}</div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header"><b>Espacio de trabajo</b></div>
    <div class="card-body">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active':tab === 1}" data-toggle="tab" role="tab" (click)="tab = 1"
            aria-controls="home">
            <i class="material-icons">
              home
            </i>General</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active':tab === 2}" data-toggle="tab" role="tab" (click)="getSopports()"
            aria-controls="messages">
            <i class="material-icons">
              archive
            </i>Soportes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active':tab === 3}" data-toggle="tab" role="tab" (click)="tab = 3"
            aria-controls="messages">
            <i class="material-icons">
              people
            </i>Operador</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane" [ngClass]="{'active':tab === 1}" role="tabpanel"><br>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Área del Municipio:</label>
            <div class="col-sm-8">
              <div class="form-control">
                {{dataWorkSpace.municipalityArea}}
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Número de Predios:</label>
            <div class="col-sm-8">
              <div class="form-control">
                {{dataWorkSpace.numberAlphanumericParcels}}
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Fecha de Creación:</label>
            <div class="col-sm-8">
              <div class="form-control">{{formatDate(dataWorkSpace.createdAt)}}</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Fecha de Inicio:</label>
            <div class="col-sm-8">
              <div class="form-control">{{formatDate(dataWorkSpace.startDate)}}</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Observaciones:</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" name="observations" [(ngModel)]="dataWorkSpace.observations"
                disabled="true">
            </div>
          </div>
          <h3>Gestor</h3>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Nombre:</label>
            <div class="col-sm-8">
              <div class="form-control">{{dataWorkSpace.manager.name}}</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">NIT:</label>
            <div class="col-sm-8">
              <div class="form-control">{{dataWorkSpace.manager.taxIdentificationNumber}}</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Creado el:</label>
            <div class="col-sm-8">
              <div class="form-control">{{formatDate(dataWorkSpace.manager.createdAt)}}</div>
            </div>
          </div>
        </div>
        <div class="tab-pane" [ngClass]="{'active':tab === 2}" role="tabpanel">
          <br>
          <div class="row">
            <div class="col-12">
              <div class="table-inverse table-responsive">
                <table class="table table-striped">
                  <thead class="thead-inverse">
                    <tr>
                      <th>ID</th>
                      <th>Hito</th>
                      <th>Fecha de Creación</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of dataSoports; let i = index">
                      <td scope="row">{{i+1}}</td>
                      <td scope="row">{{item.milestone.name}}</td>
                      <td scope='row'>{{formatDate(item.createdAt)}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" [ngClass]="{'active':tab === 3}" role="tabpanel"><br>
          <div class="form-group row">
            <label class="col-sm-1 col-form-label">Operador:</label>
            <div class="col-sm-11">
              <div class="form-control">{{dataOperatorsWorkSpace.operatorName}}</div>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-sm-1 col-form-label">Fecha de Inicio:</label>
            <div class="col-sm-5">
              <div class="form-control">{{dataOperatorsWorkSpace.startDate}}</div>
            </div>
            <label class="col-sm-1 col-form-label">Fecha Final:</label>
            <div class="col-sm-5">
              <div class="form-control">{{dataOperatorsWorkSpace.endDate}}</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-1 col-form-label">Número de Predios a Intervenir:</label>
            <div class="col-sm-5">
              <div class="form-control">{{dataOperatorsWorkSpace.numberParcelsExpected}}</div>
            </div>
            <label class="col-sm-1 col-form-label">Área de Trabajo:</label>
            <div class="col-sm-5">
              <div class="form-control">{{dataOperatorsWorkSpace.workArea ? dataOperatorsWorkSpace.workArea:'0' }} km
                <sup>2</sup></div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-12">
              <div class="input-group">
                <div class="input-group-prepend input-group-text">
                  <div class="">* Alcance / Observaciones</div>
                </div>
                <textarea disabled="true" class="form-control" id="observations" rows="3" name="observaciones"
                  [(ngModel)]="dataOperatorsWorkSpace.observations"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>