<div #actionForm>
    <app-page-header [heading]="'Crear Gestor'" [icon]="'fa-star'">
    </app-page-header>
    <div class="card">
        <div class="card-header text-center">
            <h2>{{id>0?"Actualizar":"Crear"}} Gestor <span *ngIf="id>0"><b>#{{id}}</b></span></h2>
        </div>
        <div class="card-body">
            <form action="" method="post">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    * Nombre
                                </span>
                            </div>
                            <input (change)="changeState()" type="text" name="name" class="form-control"
                                placeholder="Nombre" [(ngModel)]="data.name">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    * NIT
                                </span>
                            </div>
                            <input (change)="changeState()" type="text" name="taxIdentificationNumber"
                                class="form-control" placeholder="XXXXXXXXX-Y" [(ngModel)]="data.taxIdentificationNumber">
                        </div>
                    </div>
                    <!-- <div class="col-12">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    * Categoría
                                </span>
                            </div>
                            <select (change)="changeState()" class="custom-select" name="managersprfile" id="managersprofile"
                                [(ngModel)]="data.providerCategoryId">
                                <option value="0">Seleccione la categoría del proveedor</option>
                                <option [ngValue]="item.id" *ngFor="let item of categoriesProviders">{{item.name}}
                                </option>
                            </select>
                        </div>
                    </div> -->
                </div>
            </form>
        </div>
        <div class="card-footer text-muted text-center">
            <button type="button" [disabled]="!formOk" *ngIf="!editMode" class="btn btn-dark"
                (click)="create()">Crear</button>
            <button type="button" [disabled]="!formOk" *ngIf="editMode" class="btn btn-dark"
                (click)="save()">Guardar</button>
            <button type="button" style="margin-left: 10px;" class="btn btn-dark" (click)="cancel()">Cancelar</button>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header text-center">
            <h2>Lista de Gestores</h2>
        </div>
        <div class="card-body">
            <div class="table-inverse table-responsive">
                <table *ngIf="dataProfile.length > 0" class="table table-striped">
                    <thead class="thead-inverse">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>NIT</th>
                            <th>Editar</th>
                            <th>Activar/Desactivar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr [style.background-color]="item.id==id ? '#3ada1273' : ''"
                            [style.font-weight]="item.id==id ? 'bold' : ''"
                            *ngFor="let item of dataProfile; let i = index">
                            <td scope="row">{{i+1}}</td>
                            <td scope="row">{{item.name}}</td>
                            <td scope="row">{{item.taxIdentificationNumber}}</td>
                            <td scope="row">
                                <span ngbTooltip="Modificar gestor" placement="bottom" show-delay="500">
                                    <i class="material-icons mr-2" (click)="updateProfile(item)">
                                        edit
                                    </i>
                                </span>
                            </td>
                            <td scope="row">
                                <label class="switch" [title]="item.state ? 'Desactivar':'Activar'"
                                    (click)="item.state ? deleteProfile('modalDisabled',item):activeManager('modalEnable',item)">
                                    <input (click)="clickCheckBox($event)" [(ngModel)]="item.state" type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="dataProfile.length === 0" class="row mt-3">
                <div class="col-12">
                    <div class="alert alert-primary text-center" role="alert">
                        No tienes gestores
                    </div>
                </div>
            </div>
        </div>
        <jw-modal id="modalDisabled" class="mt-5">
            <div class="card">
                <!--style="height:500px"  Se puede especificar el height de la ventana modal, o el cojera por defecto el contenido de los elementos-->
                <div class="card-header">
                    <i class="cui-arrow-bottom"></i>
                    <h2 class="text-center font-weight-bold">
                        ¿Está seguro de Desactivar el Gestor?
                    </h2>
                    <h5 class="alert alert-warning text-center">Advertencia: Esta acción deshabilita el Gestor.</h5>
                </div>
                <div class="card-body row">
                    <div class="text-center col-sm">
                        <button type="button" class="btn btn-primary btn-block"
                            (click)="closeModalDisabled('modalDisabled',true);">
                            <h4>Sí</h4>
                        </button>
                    </div>
                    <div class="text-center col-sm">
                        <button type="button" class="btn btn-dark btn-block"
                            (click)="closeModalDisabled('modalDisabled',false);">
                            <h4>No</h4>
                        </button>
                    </div>
                </div>
            </div>
        </jw-modal>
        <jw-modal id="modalEnable" class="mt-5">
            <div class="card">
                <!--style="height:500px"  Se puede especificar el height de la ventana modal, o el cojera por defecto el contenido de los elementos-->
                <div class="card-header">
                    <i class="cui-arrow-bottom"></i>
                    <h2 class="text-center font-weight-bold">
                        ¿Está seguro de Habilita el Gestor?
                    </h2>
                    <h5 class="alert alert-warning text-center">Advertencia: Esta acción habilita el Gestor.</h5>
                </div>
                <div class="card-body row">
                    <div class="text-center col-sm">
                        <button type="button" class="btn btn-primary btn-block"
                            (click)="closeModalEnable('modalEnable',true);">
                            <h4>Sí</h4>
                        </button>
                    </div>
                    <div class="text-center col-sm">
                        <button type="button" class="btn btn-dark btn-block"
                            (click)="closeModalEnable('modalEnable',false);">
                            <h4>No</h4>
                        </button>
                    </div>
                </div>
            </div>
        </jw-modal>
    </div>
</div>