<div class="input-group" [class]="classStyle" *ngIf="min && max">
  <div class="input-group-prepend">
    <label class="input-group-text" aria-required="true">{{ title }}</label>
  </div>
  <input
    [id]="id"
    [type]="type"
    [min]="min"
    [max]="max"
    [name]="name"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [(ngModel)]="inputModel"
    (ngModelChange)="inputModelChange.emit(inputModel)"
  />
</div>
<div class="input-group" [class]="classStyle">
  <div class="input-group-prepend" *ngIf="title">
    <label class="input-group-text" aria-required="true">{{ title }}</label>
  </div>
  <input
    [id]="id"
    [type]="type"
    [name]="name"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [(ngModel)]="inputModel"
    (ngModelChange)="inputModelChange.emit(inputModel)"
  />
</div>
