<div>
  <app-page-header [heading]="'Cargue de Insumos'" [icon]="'fa-star'">
  </app-page-header>
  <div class="card text-center">
    <div class="card-header">
      <div class="col-1 btn-backspace">
        <span ngbTooltip="Volver" placement="bottom" show-delay="500">
          <i class="material-icons cursor" (click)="volver()">backspace</i>
        </span>
      </div>
      <div class="col-12">
        <h3>Cargue de Insumos</h3>
      </div>
    </div>
    <div class="card-body">
      <div class="row justify-content-center">
        <div class="col-12 table-inverse table-responsive">
          <table class="table table-striped text-center">
            <thead class="thead-inverse">
              <tr>
                <th>Código de Orden</th>
                <th>Nº de Solicitud</th>
                <th>Departamento</th>
                <th>Municipio</th>
                <th>Gestor</th>
                <th>Fecha de Solicitud</th>
                <th>Fecha Límite</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dataRequestPending; let i = index">
                <td scope="row">
                  {{ item.packageLabel }}
                </td>
                <td scope="row">{{ item.id }}</td>
                <td scope="row">{{ item.municipality.department.name }}</td>
                <td scope="row">{{ item.municipality.name }}</td>
                <td scope="row">{{ getEntity(item) }}</td>
                <td scope="row">{{ formatDate(item.createdAt) }}</td>
                <td scope="row">{{ formatDate(item.deadline) }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div *ngFor="let item of dataRequestPending; let idOut = index">
        <div *ngFor="let supp of item.suppliesRequested; let idInt = index">
          <div>
            <div class="row mt-1">
              <div class="col-12 col-lg-10 mb-2">
                <div class="input-group">
                  <div class="input-group-prepend input-group-text">
                    <div>Observación GESTOR</div>
                  </div>
                  <div class="form-control">
                    <textarea
                      style="width: 100%"
                      maxlength="255"
                      class="form-control"
                      id="observations"
                      rows="1"
                      [(ngModel)]="supp.description"
                      name="typeSupplyDescription"
                      disabled="true"
                    ></textarea>
                  </div>
                </div>
              </div>
              <div class="input-group col-12 col-lg-3 mb-2">
                <div class="input-group-prepend input-group-text">
                  <div>Insumo</div>
                </div>
                <div
                  class="form-control"
                  [ngClass]="{ uploadSupply: !supp.canUpload }"
                >
                  {{ supp.typeSupply.name }} <br />
                  <strong>{{ supp.typeSupply.providerProfile.name }}</strong>
                </div>
              </div>
              <div class="input-group col-12 col-lg-3 mb-2">
                <div
                  class="input-group-prepend input-group-text"
                  *ngIf="supp.canUpload"
                >
                  <div>* Tipo</div>
                </div>
                <div class="form-control" *ngIf="supp.canUpload">
                  <select
                    style="width: 100%"
                    (change)="modelChanged(supp, idOut, idInt)"
                    [(ngModel)]="supp.typeSupplyId"
                    name="tipos{{ idOut }}{{ idInt }}"
                    id="tipo{{ idOut }}{{ idInt }}"
                    [disabled]="!supp.canUpload"
                  >
                    <option value="0" selected>Seleccione el tipo</option>
                    <option
                      [ngValue]="tipo.file"
                      *ngFor="let tipo of supp.type"
                    >
                      {{ tipo.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="input-group col-12 col-lg-4 mb-2">
                <div class="form-control">
                  <div [ngSwitch]="supp.typeSupplyId">
                    <div *ngSwitchCase="typeDataFieldModel.typeDataFile">
                      <div class="input-group">
                        <input
                          #myInput
                          [accept]="supp.format"
                          id="file{{ idOut }}{{ idInt }}"
                          name="file{{ idOut }}{{ idInt }}"
                          class="form-control"
                          type="file"
                          (change)="
                            docSoport($event.target.files, idOut, idInt)
                          "
                          multiple
                        />
                      </div>
                      <div
                        *ngIf="supp.modelVersion"
                        class="alert alert-info text-center"
                        role="alert"
                      >
                        <!-- <strong>Modelo {{supp.modelVersion}}</strong> -->
                        <strong>Submodelo Insumos V1.0</strong>
                      </div>
                      <div *ngIf="supp.typeSupply.id === 2">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="skipValidation"
                          [(ngModel)]="skipValidation"
                          (change)="openModalSkipValidated(modalskipValidated)"
                        />
                        <label class="form-check-label" for="skipValidation">
                          Omitir validación
                        </label>
                        <div class="input-group">
                          <div class="input-group-prepend input-group-text">
                            <div>Reporte</div>
                          </div>
                          <input
                            #myInputFileExtra
                            accept=".zip"
                            id="file{{ idOut }}{{ idInt }}-extra"
                            name="file{{ idOut }}{{ idInt }}-extra"
                            class="form-control"
                            type="file"
                            (change)="
                              documentsExtra($event.target.files, idOut, idInt)
                            "
                          />
                        </div>
                      </div>
                      <div class="input-group">
                        <div class="input-group-prepend input-group-text">
                          <div>* Observación</div>
                        </div>
                        <textarea
                          maxlength="255"
                          (change)="validsendFile(idOut, idInt)"
                          class="form-control"
                          id="observations{{ idOut }}{{ idInt }}"
                          type="text"
                          name="observations{{ idOut }}{{ idInt }}"
                          [(ngModel)]="supp.observations"
                          rows="2"
                        ></textarea>
                      </div>
                    </div>
                    <div *ngSwitchCase="typeDataFieldModel.typeDataUrl">
                      <div class="input-group">
                        <div class="input-group-prepend input-group-text">
                          <div>* URL</div>
                        </div>
                        <input
                          (change)="intoValidURL(idOut, idInt)"
                          class="form-control"
                          id="url{{ idOut }}{{ idInt }}"
                          type="url"
                          name="url{{ idOut }}{{ idInt }}"
                          [(ngModel)]="supp.url"
                        />
                      </div>
                      <div class="input-group">
                        <div class="input-group-prepend input-group-text">
                          <div>* Observación</div>
                        </div>
                        <textarea
                          maxlength="255"
                          (change)="intoValidURL(idOut, idInt)"
                          class="form-control"
                          id="observations{{ idOut }}{{ idInt }}"
                          type="text"
                          name="observations{{ idOut }}{{ idInt }}"
                          [(ngModel)]="supp.observations"
                          rows="2"
                        ></textarea>
                      </div>
                    </div>
                    <div *ngSwitchCase="typeDataFieldModel.typeDataNone">
                      <div class="input-group">
                        <div class="input-group-prepend input-group-text">
                          <div>* Justificación</div>
                        </div>
                        <textarea
                          maxlength="255"
                          (change)="intoValidJustification(idOut, idInt)"
                          class="form-control"
                          id="justificationNone{{ idOut }}{{ idInt }}"
                          type="text"
                          name="justificationNone{{ idOut }}{{ idInt }}"
                          [(ngModel)]="supp.justification"
                          rows="2"
                        ></textarea>
                      </div>
                    </div>
                    <div *ngSwitchDefault>
                      <h6 *ngIf="supp.canUpload">
                        No hay ningún campo seleccionado.
                      </h6>
                      <h5
                        *ngIf="supp.canUpload === false"
                        style="font-style: oblique"
                      >
                        <strong>Este insumo no es de su perfil.</strong>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-2 mb-2" *ngIf="supp.state.id === 1">
                <button
                  type="button"
                  class="btn"
                  id="boton{{ idOut }}{{ idInt }}"
                  [ngClass]="
                    supp.button.status
                      ? 'btn-success btn-block'
                      : 'btn-warning btn-block'
                  "
                  (click)="send(item.id, supp, idOut, idInt)"
                  [disabled]="supp.button.status"
                >
                  {{ supp.button.status ? "Insumo Cargado" : "Reenviar" }}
                </button>
                <!-- <app-preview *ngIf="supp.preview" [url]="supp.url" [version]="supp.modelVersion?supp.modelVersion:''">
                </app-preview> -->
              </div>
              <div
                class="col-12 col-sm-2 col-lg-2 mb-2"
                *ngIf="supp.state.id === 2"
              >
                <button
                  type="button"
                  class="btn"
                  id="boton{{ idOut }}{{ idInt }}"
                  [ngClass]="
                    supp.button.status
                      ? 'btn-danger btn-block'
                      : 'btn-dark btn-block'
                  "
                  (click)="send(item.id, supp, idOut, idInt)"
                  [disabled]="supp.button.status"
                >
                  {{ supp.button.status ? "Rechazado" : "Reenviar" }}
                </button>
                <div
                  *ngIf="supp.errors !== null"
                  id="logsXTF{{ idOut }}{{ idInt }}"
                  class="logsXTF"
                  (click)="openModalErrorXTF(modalError, supp)"
                >
                  <small><u> Ver log </u></small>
                </div>
              </div>
              <div class="col-12 col-lg-2 mb-2" *ngIf="supp.state.id === 3">
                <button
                  type="button"
                  class="btn"
                  id="boton{{ idOut }}{{ idInt }}"
                  [ngClass]="'btn-info btn-block'"
                  (click)="send(item.id, supp, idOut, idInt)"
                  [disabled]="true"
                >
                  {{ supp.button.status ? "Validando" : "" }}
                </button>
                {{
                  supp.button.status
                    ? ""
                    : "En este momento no es posible subir el archivo, porque hay una validación en curso."
                }}
              </div>
              <div class="col-12 col-lg-2 mb-2" *ngIf="supp.state.id === 4">
                <button
                  type="button"
                  class="btn"
                  id="boton{{ idOut }}{{ idInt }}"
                  [ngClass]="'btn-dark btn-block'"
                  (click)="send(item.id, supp, idOut, idInt)"
                  [disabled]="supp.button.status"
                >
                  Enviar
                </button>
              </div>
              <div class="col-12 col-lg-2 mb-2" *ngIf="supp.state.id === 5">
                <button
                  type="button"
                  class="btn"
                  id="boton{{ idOut }}{{ idInt }}"
                  [ngClass]="'btn-warning'"
                  (click)="send(item.id, supp, idOut, idInt)"
                  [disabled]="supp.button.status"
                >
                  {{ supp.button.status ? "Justificación enviada" : "Enviar" }}
                </button>
              </div>
              <div class="col-12 col-lg-2 mb-2" *ngIf="supp.state.id === 6">
                <button
                  type="button"
                  class="btn btn-info btn-block"
                  id="boton{{ idOut }}{{ idInt }}"
                  disabled="true"
                >
                  Pendiente de revisión
                </button>
              </div>
              <div class="col-12 col-lg-2 mb-2" *ngIf="supp.state.id === 8">
                <button
                  type="button"
                  class="btn btn-info btn-block"
                  id="boton{{ idOut }}{{ idInt }}"
                  disabled="true"
                >
                  En revisión
                </button>
              </div>
              <div class="col-12 col-lg-10 mb-3">
                <div *ngIf="supp.userDeliveryBy">
                  <div class="input-group">
                    <div class="input-group-prepend input-group-text">
                      <div>Entregado</div>
                    </div>
                    <div
                      class="form-control"
                      style="background-color: lightsteelblue"
                    >
                      <strong
                        >{{ supp.userDeliveryBy.firstName }}
                        {{ supp.userDeliveryBy.lastName }}</strong
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <div class="alert alert-warning text-center" role="alert">
          Se puede cargar más de una versión de un insumo,
          <strong
            >pero recuerde que esta solicitud se vinculará al último archivo
            cargado.</strong
          >
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      <button
        type="button"
        class="btn btn-dark"
        [disabled]="closeRequestButton"
        (click)="openModal(nameButton() ? modalRevision : modalRegistrar)"
      >
        {{ nameButton() ? "Enviar a Revisión" : "Cerrar Solicitud" }}
      </button>
    </div>
  </div>
  <ng-template #modalRegistrar let-modal>
    <div class="modal-header">
      <h4 class="modal-title">¿Está seguro de cerrar la solicitud?</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h5 class="alert alert-warning text-center">
        Advertencia: Va a cerrar la solicitud.
      </h5>
    </div>
    <div class="modal-footer">
      <div class="col-6">
        <button
          type="button"
          class="btn btn-dark btn-block"
          (click)="closeModal(false)"
        >
          No
        </button>
      </div>
      <div class="col-6 text-right">
        <button
          type="button"
          ngbAutofocus
          class="btn btn-success btn-block"
          (click)="closeModal(true)"
        >
          Si
        </button>
      </div>
    </div>
  </ng-template>
  <ng-template #modalRevision let-modal>
    <div class="modal-header">
      <h4 class="modal-title">¿Está seguro de enviar la solicitud?</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h5 class="alert alert-warning text-center">
        Advertencia: Va a enviar la solicitud a revisión.
      </h5>
    </div>
    <div class="modal-footer">
      <div class="col-6">
        <button
          type="button"
          class="btn btn-dark btn-block"
          (click)="closeModal(false)"
        >
          No
        </button>
      </div>
      <div class="col-6 text-right">
        <button
          type="button"
          ngbAutofocus
          class="btn btn-success btn-block"
          (click)="closeModal(true)"
        >
          Si
        </button>
      </div>
    </div>
  </ng-template>
  <ng-template #modalError let-modal>
    <div class="modal-header">
      <h4 class="modal-title">
        Log de validación
        <span ngbTooltip="Copiar" placement="top" show-delay="500">
          <span class="material-icons ml-2" (click)="myFunctionCopyOrder()">
            content_copy
          </span>
        </span>
      </h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <span class="text-center">{{ errorXTF }}</span>
    </div>
    <div class="modal-footer"></div>
  </ng-template>
  <ng-template #modalskipValidated let-modal>
    <div class="modal-header">
      <h4 class="modal-title">
        ¿Está seguro de omitir la validación?
      </h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="closeModalSkipValidation(false)"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h5 class="alert alert-warning text-center">
        Advertencia: Esta acción puede afectar la integración con los datos
        registrales y generar inconvenientes en el despliegue de datos y
        representación Cartográfica al Operador.
      </h5>
    </div>
    <div class="modal-footer">
      <div class="col-6">
        <button
          type="button"
          class="btn btn-dark btn-block"
          (click)="closeModalSkipValidation(false)"
        >
          No
        </button>
      </div>
      <div class="col-6 text-right">
        <button
          type="button"
          ngbAutofocus
          class="btn btn-success btn-block"
          (click)="closeModalSkipValidation(true)"
        >
          Si
        </button>
      </div>
    </div>
  </ng-template>
</div>
