<div class="row">
  <div class="col-12 mb-1" *ngIf="isOperator">
    <app-select
      [disableOptionZero]="false"
      [labelSelect]="'* Gestor - Municipio'"
      [nameSelect]="'managersAndMunicipality'"
      [idSelect]="'managersAndMunicipality'"
      [optionZero]="'Seleccione el Gestor - Municipio'"
      [listSelect]="listManagerWithMunicipality"
      [key]="'option'"
      [(inputModel)]="managerCodeAndMunicipality"
      (change)="changePage()"
    ></app-select>
  </div>
  <div class="col-12 mb-1" *ngIf="itemsDelivery.length > 0">
    <ngb-pagination
      class="d-flex justify-content-center"
      id="serverSupplies"
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="totalElements"
      [rotate]="true"
      [ellipses]="false"
      [boundaryLinks]="true"
      (pageChange)="changePage($event)"
    >
    </ngb-pagination>
  </div>
  <div class="col-12 mb-1" *ngIf="itemsDelivery.length > 0">
    <div class="table-inverse table-responsive text-center">
      <table class="table table-striped">
        <thead class="thead-inverse">
          <tr>
            <th>código</th>
            <th>Departamento</th>
            <th>Municipio</th>
            <th>Gestor</th>
            <th>Observación</th>
            <th>Estado</th>
            <th>Fecha</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of itemsDelivery; let index = index">
            <td scope="row">{{ item.code }}</td>
            <td scope="row">Departamento</td>
            <td scope="row">Municipio</td>
            <td scope="row">Gestor</td>
            <td scope="row">
              <app-observation
                [name]="'observation' + index"
                [(inputModel)]="item.observations"
                [disabled]="true"
              ></app-observation>
            </td>
            <td scope="row">
              <span
                [innerHTML]="nameStateDelivery(item.deliveryStatusId)"
              ></span>
            </td>
            <td scope="row">
              {{ formatDate(item.deliveryDate) }}
            </td>
            <td scope="row">
              <span ngbTooltip="Ver entrega" placement="top" show-delay="500">
                <i
                  class="material-icons cursor"
                  (click)="viewDetailDelivery(item)"
                >
                  input
                </i>
              </span>
              <span
                ngbTooltip="Editar Entrega"
                placement="top"
                show-delay="500"
              >
                <i
                  class="material-icons cursor"
                  (click)="openModalUpdateDelivery(modalUpdateDelivery)"
                >
                  edit
                </i>
              </span>
              <span ngbTooltip="Eliminar" placement="top" show-delay="500">
                <i
                  class="material-icons cursor"
                  (click)="openModalDeleteDelivery(item)"
                >
                  delete
                </i>
              </span>
              <ng-template #modalUpdateDelivery let-modal>
                <div class="modal-header">
                  <h4 class="modal-title">
                    Actualizar información de la entrega
                  </h4>
                  <button
                    type="button"
                    class="close"
                    aria-label="Close"
                    (click)="modal.dismiss('Cross click')"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <app-observation
                    [title]="'Observaciones'"
                    [name]="'observation' + index"
                    [(inputModel)]="item.observations"
                  ></app-observation>
                </div>
                <div class="modal-footer">
                  <div class="col-12 text-center">
                    <button
                      type="button"
                      ngbAutofocus
                      class="btn btn-dark btn-block"
                      (click)="closeModalDeleteDelivery(item)"
                    >
                      Guardar
                    </button>
                  </div>
                </div>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
