<div>
    <app-page-header [heading]="'Bootstrap Component'" [icon]="'fa-th-list'"></app-page-header>
    Componente app-alert
    <app-alert></app-alert>
    fin componente app-alert
    <hr>
    componente app-buttons
    <app-buttons></app-buttons>
    fin app-buttons
    <hr>
    componete app-collapse
    <app-collapse></app-collapse>
    fin app-collapse
    <hr>
    componente app-date-picker fecha
    <app-date-picker></app-date-picker>
    fin componente app-date-picker fecha
    <hr>
    componente jw-modal name dialog-box
    <jw-modal></jw-modal>
    fin componente jw-modal
    <hr>
    componente app-dropdown
    <app-dropdown></app-dropdown>
    fin app-dropdown
    <hr>
    componente app-pagination
    <app-pagination></app-pagination>
    fin app-pagination
    <hr>
    componente app-pop-over
    <app-pop-over></app-pop-over>
    fin app-pop-over
    componente app-progressbar
    <app-progressbar></app-progressbar>
    fin app-progressbar
    <hr>
    componente app-rating
    <app-rating></app-rating>
    fin app-rating
    <hr>
    componente app-tabs
    <app-tabs></app-tabs>
    componente app-timepicker
    <app-timepicker></app-timepicker>
    fin app-timepicker
    <hr>
    componente app-tooltip
    <app-tooltip></app-tooltip>
    fin app-tooltip
    <hr>
    componente app-modal-bootstrap
    <app-modal-bootstrap></app-modal-bootstrap>
    fin app-modal-bootstrap
    <hr>
</div>