<div id="actionForm">
  <app-page-header [heading]="'Crear Producto'" [icon]="'fa-star'">
  </app-page-header>
  <div class="card">
    <div class="card-header text-center">
      <h2>
        {{ id > 0 ? "Actualizar" : "Crear" }} Producto
        <span *ngIf="id > 0"
          ><b>#{{ id }}</b></span
        >
      </h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-6 mb-1">
          <app-input
            [id]="'nameProduct'"
            [name]="'nameProduct'"
            [title]="'* Nombre'"
            [placeholder]="'Nombre del Producto'"
            [(inputModel)]="data.name"
            (change)="changeState()"
          ></app-input>
        </div>
        <div class="col-12 col-md-6 mb-1">
          <app-checkbox
            [id]="'typeProduct'"
            [name]="'typeProduct'"
            [(inputModel)]="data.isXTF"
            (change)="changeState()"
          ></app-checkbox>
          <small>
            <span class="text-secondary font-weight-bold">
              ¿El producto es XTF? Rta: {{ data.isXTF ? "Si" : "No" }}</span
            ></small
          >
        </div>
        <div class="col-12 col-md-12 mb-1">
          <app-observation
            [title]="'* Descripción'"
            [name]="'description-product'"
            [placeholder]="'Descripción del Producto'"
            [(inputModel)]="data.description"
            (change)="changeState()"
          ></app-observation>
        </div>
        <div class="col-12">
          <div class="alert alert-primary text-center" role="alert">
            Recuerde que los campos marcados con * son obligatorios.
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted text-center">
      <button
        type="button"
        [disabled]="!formOk"
        *ngIf="!editMode"
        class="btn btn-dark"
        (click)="create()"
      >
        Crear
      </button>
      <button
        type="button"
        [disabled]="!formOk"
        *ngIf="editMode"
        class="btn btn-dark"
        (click)="save()"
      >
        Guardar
      </button>
      <button
        type="button"
        style="margin-left: 10px"
        class="btn btn-dark"
        (click)="cancel()"
      >
        Cancelar
      </button>
    </div>
  </div>
  <div class="card mt-2">
    <div class="col-12">
      <div class="card-header">
        <div class="text-center">
          <h3>Productos creados</h3>
        </div>
      </div>
      <div
        class="table-inverse table-responsive text-center"
        *ngIf="listProducts.length > 0"
      >
        <table class="table table-striped">
          <thead class="thead-inverse">
            <tr>
              <th>Nº</th>
              <th>Nombre</th>
              <th>XTF</th>
              <th>Fecha</th>
              <th>Descripción</th>
              <!-- <th>Opciones</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listProducts; let index = index">
              <td scope="row">{{ index + 1 }}</td>
              <td scope="row">{{ item.name }}</td>
              <td scope="row">{{ item.isXTF ? "Si" : "No" }}</td>
              <td scope="row">{{ formatDate(item.createdAt) }}</td>
              <td scope="row">
                <app-observation
                  [id]="'observationProduct' + index"
                  [name]="'observationProduct' + index"
                  [(inputModel)]="item.description"
                  [disabled]="true"
                >
                </app-observation>
              </td>
              <td scope="row">
                <!-- <span ngbTooltip="Actualizar" placement="top" show-delay="500">
                  <i
                    class="material-icons cursor"
                    (click)="openModaldeleteProduct(item)"
                  >
                    edit
                  </i>
                </span> -->
                <!-- <span ngbTooltip="Eliminar" placement="top" show-delay="500">
                  <i
                    class="material-icons cursor"
                    (click)="openModaldeleteProduct(item)"
                  >
                    delete
                  </i>
                </span> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 mb-1" *ngIf="listProducts.length === 0">
        <div class="alert alert-primary text-center" role="alert">
          No existen productos.
        </div>
      </div>
    </div>
  </div>
</div>
