<aside class="sidebar shadow-sm">
  <div *ngIf="rol" class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
    <div class="picture-wrapper mb-4">
      <div class="user-picture m-auto">
        <img src="./assets/img/user.jpg" class="img-fluid" alt="" />
      </div>
    </div>
    <div class="profile-details text-center pb-4">
      <p class="mb-0 text-uppercase name">
        {{ rol.firstName }} {{ rol.lastName }}
      </p>
      <small class="text-uppercase role">{{ rol.roles[0].role }}</small>
    </div>
    <button type="button" class="btn btn-secondary btn-sm btn-block" (click)="logout()">
      Cerrar sesión
    </button>
  </div>
  <div *ngIf="!rol" class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
    <div class="profile-details text-center pb-4">
      <small class="text-uppercase role">No haz iniciado sesión</small>
    </div>
    <button type="button" class="btn btn-secondary btn-sm btn-block" [routerLink]="['/autenticacion/login']">
      Iniciar sesión
    </button>
  </div>
  <div class="sidebar-search pt-1 pb-1 pl-3 pr-3">
    <input type="search" class="form-control rounded-pill" name="search" placeholder="buscar ..." />
  </div>
  <nav class="sidebar-menu pt-3 pb-3">
    <div *ngFor="let item of listMenu; let id = index;">
      <div class="menu-header mt-3 mb-2 cursor" (click)="toggleNavbar(id)">
        {{item.titulo}}
      </div>
      <div *ngFor="let subitem of item.subitems" class="collapse navbar-collapse" [ngClass]="{ show: navbarOpen[id] }">
        <ul class="menu-items navbar-nav smr-auto">
          <li class="nav-item">
            <a href="#" [routerLink]="[subitem.link]">
              <i class="fa fa-info"></i>
              <span>{{subitem.subtitulo}}</span>
              <!-- <span class="badge badge-warning rounded-0 text-dark p-1">NEW</span> -->
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</aside>