<div>
    <app-page-header [heading]="'Descarga de insumo pendiente'" [icon]="'fa-star'">
    </app-page-header>
    <div class="justify-content-center text-center mb-2">
        <div class="card text-center">
            <div class="card-header">
                <div class="col-1">
                    <span ngbTooltip="Volver" placement="bottom" show-delay="500">
                        <i class="material-icons cursor" (click)="volver()">backspace</i>
                    </span>
                </div>
                <div class="col-12">
                    <h3>Información general de los insumos</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="table-inverse table-responsive">
                    <table *ngIf="dataRequestPending.length > 0" class="table table-striped">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Código</th>
                                <th>Gestor</th>
                                <th>Municipio</th>
                                <th>Código Municipio</th>
                                <th>Fecha de entrega</th>
                                <th>Observaciones generales</th>
                                <th *ngIf="isAllDownloadReports">Descargar reporte general</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of dataRequestPending">
                                <td scope="row">{{item.id}}</td>
                                <td scope="row">{{item.manager.name}}</td>
                                <td scope="row">{{item.municipality.name}}</td>
                                <td scope="row">{{item.municipality.code}}</td>
                                <td scope="row">{{formatDate(item.createdAt)}}</td>
                                <td scope="row">
                                    <textarea class="form-control" rows="3" maxlength="255" disabled="true">{{item.observations}}</textarea>
                                </td>
                                <td scope="row" *ngIf="isAllDownloadReports">
                                    <span ngbTooltip="Descargar reporte general" placement="bottom" show-delay="500">
                                        <i class="material-icons" style="color: red;"
                                            (click)="downloadGeneralReport('Reporte-general-entrega')">
                                            description
                                        </i>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="justify-content-center text-center">
        <div class="card text-center">
            <div class="card-header">
                <h3>Descarga de insumos</h3>
            </div>
            <div class="card-body">
                <div class="table-inverse table-responsive">
                    <table *ngIf="supplies.length > 0" class="table table-striped">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Insumo</th>
                                <th>Observaciones</th>
                                <th>Descargar</th>
                                <th>Fecha de descarga y reporte</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of supplies">
                                <td scope="row">
                                    <span *ngIf="isAuthority(item)">{{item.supply.name}}</span><span *ngIf="isAuthority(item) === false">{{item.supply.typeSupply ?item.supply.typeSupply.name : ''}}<br />({{item.supply.typeSupply ? item.supply.typeSupply.provider.name:''}})</span>
                                </td>
                                <td scope="row">
                                    <textarea class="form-control" rows="3" maxlength="255" disabled="true">{{item.observations}}</textarea>
                                </td>
                                <td scope="row">
                                    <span ngbTooltip="Descargar insumo" placement="bottom" show-delay="500">
                                        <i class="material-icons cursor"
                                            (click)="downloadSupplies(item.supplyCode, item.supply.typeSupply ? item.supply.typeSupply.name: 'Insumo')">
                                            cloud_download
                                        </i>
                                    </span>
                                </td>
                                <td scope="row">
                                    {{item.downloadedAt ? formatDate(item.downloadedAt) :'No se ha descargado el insumo.'}}
                                    <div *ngIf="item.downloaded">
                                        <span ngbTooltip="Descargar reporte" placement="bottom" show-delay="500">
                                            <i class="material-icons" style="color: red;"
                                                (click)="downloadReport(item.supplyCode, item.supply.typeSupply ? item.supply.typeSupply.name: 'Insumo')">
                                                description
                                            </i>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-dark" (click)="openModal(custommodal3)">Cerrar entrega</button>
            </div>
        </div>
        <ng-template #custommodal3 let-modal>
            <div class="modal-header">
                <h4 class="modal-title">
                    ¿Está seguro de cerrar la entrega?
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="alert alert-warning text-center">
                    Tenga en cuenta, que una vez cerrada la entrega, no podrá descargar nuevamente estos insumos.
                </h5>
            </div>
            <div class="modal-footer">
                <div class="col-6">
                    <button type="button" class="btn btn-dark btn-block" (click)="closeModal(false)">No</button>
                </div>
                <div class="col-6 text-right">
                    <button type="button" ngbAutofocus class="btn btn-success btn-block" (click)="closeModal(true)">Si</button>
                </div>
            </div>
        </ng-template>
    </div>
</div>