<div class="card bg-light mb-3">
  <div class="card-header text-center"><b>Validar isumos</b></div>
  <div class="card-body">
    <h4 class="card-title">Validar archivo XTF</h4>
    <p class="card-text">Por favor cargue el archivo XTF a validar</p>
    <input type="file" accept=".xtf" (change)="cargandoImagen($event.target.files)" multiple>
  </div>
  <div _ngcontent-hhg-c4="" class="alert alert-success" *ngIf='respuestaValidador[0].isValid === true'>
    <strong _ngcontent-hhg-c4="" class="ng-tns-c4-0">
      El archivo XTF</strong> validado correctamente. </div>
  <div _ngcontent-hbo-c4="" class="alert alert-danger" *ngIf='respuestaValidador[0].isValid === false'>
    <strong _ngcontent-hbo-c4="" class="ng-tns-c4-0">
      El archivo XTF </strong> No es valido. </div>
</div>
<!-- {{questionsForm | json}} -->
<div class="card bg-light mb-3">
  <div class="card-header text-center"><b>Generar base de datos</b></div>
  <div class="card-body">
    <h4 class="card-title">Modelo LADM 2.9.6</h4>
    <p class="card-text">Tenga en cuenta que debe existir la base de datos, esto generara el esquema de la base de
      datos con el modelo LADM 2.9.6</p>
    <form action="" method="post">
      <div class="form-group" *ngFor="let item of questionsForm">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">{{item.title}}</span>
          </div>
          <input class="form-control" id="{{item.id}}" type="{{item.typeInput}}" name="{{item.name}}"
            [(ngModel)]="item.value">
        </div>
      </div>
    </form>
    <button type="button" class="btn btn-primary btn-sm btn-block" (click)='crearEsquema()'>Crear esquema de la base
      de datos</button>
    <div _ngcontent-hhg-c4="" class="alert alert-success" *ngIf='validSchema.imported === true'>
      <strong _ngcontent-hhg-c4="" class="ng-tns-c4-0">
        Se ha generado el esquema</strong> de la base de datos correctamente. </div>
    <div _ngcontent-hbo-c4="" class="alert alert-danger" *ngIf='validSchema.imported === false'>
      <strong _ngcontent-hbo-c4="" class="ng-tns-c4-0">
        No se pudo generar</strong> la estructura de la base de datos. </div>
  </div>
</div>

<div class="card bg-light mb-3">
  <div class="card-header text-center"><b>Importar base de datos</b></div>
  <div class="card-body">
    <h4 class="card-title">Modelo LADM 2.9.6</h4>
    <p class="card-text">Tenga en cuenta que debe existir la base de datos, esto importa el esquema de la base de
      datos con el modelo LADM 2.9.6 a partir del archivo XTF</p>
    <form action="" method="post">
      <div class="form-group" *ngFor="let item of importQuestionsForm; let id = index;">
        <div class="input-group" *ngIf="item.typeInput === 'file'">
          <div class="input-group-prepend">
            <span class="input-group-text">{{item.title}}</span>
          </div>
          <input type="file" accept=".xtf" (change)="cargandoXTF($event.target.files)" multiple>
        </div>
        <div class="input-group" *ngIf="item.typeInput != 'file'">
          <div class="input-group-prepend">
            <span class="input-group-text">{{item.title}}</span>
          </div>
          <input class="form-control" id="{{item.id}}{{id}}" type="{{item.typeInput}}" name="{{item.name}}{{id}}"
            [(ngModel)]="item.value">
        </div>
      </div>
    </form>
    <button type="button" class="btn btn-primary btn-sm btn-block" (click)='crearDB()'>Crear base de datos a partir de
      archivo XTF</button>
  </div>
  <div _ngcontent-hhg-c4="" class="alert alert-success" *ngIf='validImportDB.imported === true'>
    <strong _ngcontent-hhg-c4="" class="ng-tns-c4-0">
      Se ha importando</strong> la base de datos apartir del archivo XTF. </div>
  <div _ngcontent-hbo-c4="" class="alert alert-danger" *ngIf='validImportDB.imported === false'>
    <strong _ngcontent-hbo-c4="" class="ng-tns-c4-0">
      No se pudo crear</strong> la base de datos. </div>
</div>

<div class="card bg-light mb-3">
  <div class="card-header text-center"><b>Cargar archivo</b></div>
  <div class="card-body">
    <h4 class="card-title">Repositorio Documental</h4>
    <p class="card-text">Este archivo sera subido en el repositorio documental</p>
    <form action="" method="post">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Seleccione el archivo</span>
          </div>
          <input type="file" accept="*" (change)="saveFileRepository($event.target.files)" multiple>
        </div>
      </div>
    </form>
    <button type="button" class="btn btn-primary btn-sm btn-block" (click)='sendFileRepository()'>Subir archivo</button>
  </div>
  <div _ngcontent-hhg-c4="" class="alert alert-success" *ngIf='validSaveRepository.status === true'>
    <strong _ngcontent-hhg-c4="" class="ng-tns-c4-0">
      Se ha subido</strong> el archivo al repositorio documental. </div>
  <div _ngcontent-hbo-c4="" class="alert alert-danger" *ngIf='validSaveRepository.status === false'>
    <strong _ngcontent-hbo-c4="" class="ng-tns-c4-0">
      No se pudo cargar</strong> el archivo al repositorio documental. </div>
</div>
