<div>
  <app-page-header [heading]="'Solicitudes Atendidas'" [icon]="'fa-star'">
  </app-page-header>
  <div class="card text-center">
    <div class="card-header">
      <h3>
        Solicitudes Atendidas
        <h4 style="color: green">({{ numSolicitudes }})</h4>
      </h3>
    </div>
    <div class="card-body">
      <div class="row mb-2">
        <div class="col-12 col-sm-6 mb-1">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" aria-required="true"
                >* Departamento</label
              >
            </div>
            <select
              (change)="changeDepartament()"
              class="custom-select"
              name="departments"
              id="departments"
              [(ngModel)]="selectDepartment"
            >
              <option value="0" selected>Seleccione el Departamento</option>
              <option [ngValue]="item.id" *ngFor="let item of listDepartments">
                {{ item.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-12 col-sm-6 mb-1">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text">* Municipio</label>
            </div>
            <select
              class="custom-select"
              name="municipalities"
              id="municipalities"
              [(ngModel)]="selectMunicipality"
            >
              <option value="0" selected>Seleccione el Municipio</option>
              <option
                [ngValue]="item.code"
                *ngFor="let item of listMunicipalities"
              >
                {{ item.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-12 col-sm-12 mb-1">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" aria-required="true"
                >* Código de Orden</label
              >
            </div>
            <input
              [(ngModel)]="selectOrder"
              class="form-control"
              type="text"
              name="numberPackage"
              id="numberPackage"
              placeholder="Digite el Código de Orden"
              maxlength="6"
            />
          </div>
        </div>
      </div>
      <button
        type="button"
        class="btn btn-dark mb-2"
        [disabled]="
          selectOrder == '' && selectDepartment == 0 && selectMunicipality == 0
        "
        (click)="filter()"
      >
        Filtrar
      </button>
      <ngb-pagination
        id="pagination-usersManagers"
        class="d-flex justify-content-center"
        [(page)]="page"
        [pageSize]="totalElements"
        [collectionSize]="dataRequestPending.length"
        [rotate]="true"
        [ellipses]="false"
        [boundaryLinks]="true"
        (pageChange)="getPage($event)"
      >
      </ngb-pagination>
      <div class="search-hero">
        <input
          class="form-control"
          type="text"
          name="search"
          [(ngModel)]="searchText"
          autocomplete="off"
          placeholder="&#61442;  Buscar"
        />
      </div>
      <div class="table-inverse table-responsive">
        <table
          *ngIf="dataRequestPending.length > 0"
          class="table table-striped"
        >
          <thead class="thead-inverse">
            <tr>
              <th>Código de Orden</th>
              <th>Nº de Solicitud</th>
              <th>Área</th>
              <th>Insumo</th>
              <th>Departamento</th>
              <th>Municipio</th>
              <th>Gestor</th>
              <th>Fecha de Solicitud</th>
              <th>Fecha Límite</th>
              <th>Ver</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dataRequestPending | filter: searchText">
              <td scope="row">
                {{ item.orderNumber }}
              </td>
              <td scope="row">{{ item.id }}</td>
              <td scope="row">{{ item.suppliesSummary[0].area }} <br /></td>
              <td scope="row">
                <div *ngFor="let element of item.suppliesSummary">
                  {{ element.name }}
                </div>
              </td>
              <td scope="row">{{ item.federation.state }}</td>
              <td scope="row">{{ item.federation.municipality }}</td>
              <td scope="row">{{ item.manager.alias }}</td>
              <td scope="row">{{ formatDate(item.createdAt) }}</td>
              <td scope="row">{{ formatDate(item.deadline) }}</td>
              <td scope="row">
                <i class="material-icons cursor" (click)="load(item.id)">
                  input
                </i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="dataRequestPending.length === 0" class="row mt-3">
        <div class="col-12">
          <div class="alert alert-primary text-center" role="alert">
            No tiene solicitudes
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
