<div [@routerTransition]>
  <app-page-header [heading]="'Solicitud de insumos'" [icon]="'fa-star'">
  </app-page-header>
  <div class="card">
    <div class="card-header text-center">
      <h3>Solicitud de insumos</h3>
    </div>
    <div class="card-body">
      <form action="" method="post">
        <div class="row mb-2">
          <div class='col-12 col-sm-6 mb-1'>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" aria-required="true">* Departamento</label>
              </div>
              <select (change)="changeDepartament()" class="custom-select" name="departments" id="departments"
                [(ngModel)]="selectDepartment">
                <option value='0' selected>Seleccione el departamento</option>
                <option [ngValue]="item.id" *ngFor="let item of departments">{{item.name}}</option>
              </select>
            </div>
          </div>
          <div class='col-12 col-sm-6  mb-1'>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text">* Municipio</label>
              </div>
              <select (change)="changeMunucipality()" class="custom-select" name="municipalities" id="municipalities"
                [(ngModel)]="selectMunicipality">
                <option value='0' selected>Seleccione el Municipio</option>
                <option [ngValue]="item.id" *ngFor="let item of municipalities">{{item.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mb-2" *ngIf="dataWorkSpaceMunicipality[0]">
          <div class='col-12 col-sm-6 mb-2'>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text">Gestor</label>
              </div>
              <div class="form-control">
                {{dataWorkSpaceMunicipality[0].manager.name}}
              </div>
            </div>
          </div>
          <div class='col-12 col-sm-6 mb-2'>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text">Operador</label>
              </div>
              <div class="form-control">
                {{dataWorkSpaceMunicipality[0].operators[0] ? dataWorkSpaceMunicipality[0].operators[0].operator.name : ' '}}
              </div>
            </div>
          </div>
          <div class='col-12 col-sm-6 mb-1'>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text">Número de predios</label>
              </div>
              <div class="form-control">
                {{dataWorkSpaceMunicipality[0].numberAlphanumericParcels}}
              </div>
            </div>
          </div>
          <div class='col-12 col-sm-6 mb-1'>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text">Área de Trabajo</label>
              </div>
              <div class="form-control">
                {{dataWorkSpaceMunicipality[0].municipalityArea ? dataWorkSpaceMunicipality[0].municipalityArea: '0'}} m
                <sup>2</sup>
              </div>
            </div>
          </div>
          <div class='col-12 col-sm-6  mb-1'>
            <div class="form-group form-check">
              <input name="splitZones" type="checkbox" class="form-check-input" id="exampleCheck1"
                [(ngModel)]="splitZones" disabled="true">
              <label class="form-check-label" for="exampleCheck1">Selección de Zonas</label>
            </div>
          </div>
          <div class='col-12 col-sm-6 mb-1'>
            <div class="input-group">
              <input class="form-control" type="text" disabled="true" placeholder="4" disabled="true">
            </div>
          </div>
          <!-- <div class='col-12 col-sm-12 mb-1 mt-1 text-center'>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" aria-required="true">* Modelo de insumos</label>
              </div>
              <select class="custom-select" name="modelSupplies" id="modelSupplies" [(ngModel)]="selectModelSupplies">
                <option value='0' selected>Seleccione la versión del modelo de insumos.</option>
                <option value='1' selected disabled="true">Modelo 3.0.0</option>
                <option value='2' selected disabled="true">Modelo 2.9.6</option>
                <option value='3' selected>Modelo 2.9.4</option>
              </select>
            </div>
            <div class="alert alert-primary text-center m-2" role="alert">
              La versión seleccionada del modelo de insumos <b>solo se tendrá en cuenta</b> para los insumos del <b>modelo Catastral y Registral.</b>
            </div>
          </div> -->
        </div>
        <div class="row">
          <div class='col-12 col-sm-3 mb-1'>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" aria-required="true">* Entidad</label>
              </div>
              <select (change)="changeProvider()" class="custom-select" name="entidades" id="entidades"
                [(ngModel)]="selectProvider">
                <option value='0' selected>Seleccione la entidad</option>
                <option [ngValue]="item" *ngFor="let item of providers">{{item.name}}</option>
              </select>
            </div>
          </div>
          <div class='col-12 col-sm-3 mb-1'>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" aria-required="true">* Insumos</label>
              </div>
              <select class="custom-select" name="insumos" id="insumos" [(ngModel)]="selectSupplies">
                <option value='0' selected>Seleccione el insumo</option>
                <option [ngValue]="item" *ngFor="let item of dataSuppliesProvider">{{item.name}}</option>
              </select>
            </div>
          </div>
          <div class='col-12 col-sm-5 mb-1'>
            <div class="input-group">
              <div class="input-group-prepend input-group-text">
                <div class="">* Alcance / Observaciones</div>
              </div>
              <textarea class="form-control" id="observations" rows="3" name="observaciones"
                [(ngModel)]="observations"></textarea>
            </div>
          </div>
          <div class='col-12 col-sm-1 mt-5'>
            <button type="button" name="agregar" id="agregar" class="btn btn-primary btn-sm btn-block"
              (click)="agregar()">Agregar</button>
          </div>
        </div>
      </form>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-inverse" *ngIf="this.tablesupplies.length > 0">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" sortable="entidad">Entidad</th>
            <th scope="col" sortable="insumo">Insumo</th>
            <th scope="col" sortable="modelo">Modelo de insumo</th>
            <th scope="col" sortable="observacion">Observación</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tablesupplies">
            <th>{{ item.idCount }}</th>
            <td class="col-sm-1"> {{ item.entidad }} </td>
            <td class="col-sm-2">{{ item.insumo}}</td>
            <td class="col-sm-3">
              <div class="input-group" *ngIf="item.modelRequired">
                <div class="input-group-prepend">
                  <label class="input-group-text" aria-required="true">*</label>
                </div>
                <select (change)="changeModelSupplies(item.idCount, item.modelVersion)" class="custom-select"
                  name="modelSupplies{{item.idCount}}" id="modelSupplies{{item.idCount}}"
                  [(ngModel)]="item.modelVersion">
                  <option value='0' selected>Seleccione la versión del insumos.</option>
                  <option [ngValue]="item.name" *ngFor="let item of item.versions">Modelo {{item.name}}</option>
                </select>
              </div>
              <div *ngIf="!item.modelRequired">N/A</div>
            </td>
            <td class="col-sm-4">{{ item.observacion }}</td>
            <td class="col-sm-2"><i class="material-icons cursor" (click)="delete(item)">
                delete_forever
              </i></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer text-muted text-center">
      <div class="row">
        <div class="col-12 col-sm-6 offset-sm-6 mt-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text">* fecha Limite</label>
            </div>
            <input class="form-control" type="date" name="deadline" [(ngModel)]="listsupplies.deadline">
          </div>
        </div>
        <div class="col-12 mt-2">
          <div class="alert alert-warning text-center small" role="alert">
            Recuerde que los campos marcados con <b>*</b> son obligatorios.
          </div>
        </div>
        <div class="col-12">
          <button type="button" [disabled]="enviarsolicitud" class="btn btn-dark" (click)="submitInfo()">Enviar
            Solicitud</button>
        </div>
      </div>
    </div>
  </div>
</div>