<div>
    <app-page-header [heading]="'Crear áreas de trabajo'" [icon]="'fa-star'">
    </app-page-header>
    <div class="card">
        <div class="card-header text-center">
            <h2>{{id>0?"Actualizar":"Crear"}} área de trabajo <span *ngIf="id>0"><b>#{{id}}</b></span></h2>
            <h4>(para asociar insumos)</h4>
        </div>
        <div class="card-body">
            <form action="" method="post">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    * Nombre
                                </span>
                            </div>
                            <input (change)="changeState()" type="text" name="name" class="form-control"
                                placeholder="Nombre" [(ngModel)]="data.name">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    * Descripción
                                </span>
                            </div>
                            <input (change)="changeState()" type="text" name="description" class="form-control"
                                placeholder="Descripción" [(ngModel)]="data.description">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="alert alert-primary text-center" role="alert">
                            Recuerde que los campos marcados con * son obligatorios.
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer text-muted text-center">
            <button type="button" [disabled]="!formOk" *ngIf="!editMode" class="btn btn-dark"
                (click)="create()">Crear</button>
            <button type="button" [disabled]="!formOk" *ngIf="editMode" class="btn btn-dark"
                (click)="save()">Guardar</button>
            <button type="button" style="margin-left: 10px;" class="btn btn-dark" (click)="cancel()">Cancelar</button>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header text-center">
            <h2>Áreas de trabajo</h2>
        </div>
        <div class="card-body">
            <div class="table-inverse table-responsive">
                <table *ngIf="dataProfile.length > 0" class="table table-striped">
                    <thead class="thead-inverse">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr [style.background-color]="item.id==id ? '#3ada1273' : ''"
                            [style.font-weight]="item.id==id ? 'bold' : ''"
                            *ngFor="let item of dataProfile; let i = index">
                            <td scope="row">{{i+1}}</td>
                            <td scope="row">{{item.name}}</td>
                            <td scope="row">
                                <textarea class="form-control" rows="3" maxlength="255"
                                    disabled="true">{{item.description?item.description:'N/D'}}</textarea>
                            </td>
                            <td scope="row">
                                <span ngbTooltip="Modificar perfil" placement="bottom" show-delay="500">
                                    <i class="material-icons mr-2" (click)="updateProfile(item)">
                                        edit
                                    </i>
                                </span>
                            </td>
                            <td scope="row">
                                <span ngbTooltip="Eliminar perfil" placement="bottom" show-delay="500">
                                    <i class="material-icons mr-2" (click)="deleteProfile(modalDisabled,item.id)">
                                        delete
                                    </i>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="dataProfile.length === 0" class="row mt-3">
                <div class="col-12">
                    <div class="alert alert-primary text-center" role="alert">
                        No tienes áreas de trabajo
                    </div>
                </div>
            </div>
        </div>
        <ng-template #modalDisabled let-modal>
            <div class="modal-header">
                <h4 class="modal-title">
                    ¿Está seguro de Eliminar el Perfil?
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="alert alert-warning text-center">
                    Advertencia: Esta acción eliminará el perfil.
                </h5>
            </div>
            <div class="modal-footer">
                <div class="col-6">
                    <button type="button" class="btn btn-dark btn-block" (click)="closeModalDisabled(false)">No</button>
                </div>
                <div class="col-6 text-right">
                    <button type="button" ngbAutofocus class="btn btn-success btn-block"
                        (click)="closeModalDisabled(true)">Si</button>
                </div>
            </div>
        </ng-template>
    </div>
</div>