<app-page-header [heading]="'Entrega'" [icon]="'fa-star'"> </app-page-header>
<div class="card">
  <div class="card-header">
    <span ngbTooltip="Volver" placement="bottom" show-delay="500">
      <i class="material-icons cursor m-2" (click)="goBack()">backspace</i>
    </span>
    <div class="text-center">
      <h3>Entrega</h3>
      Estado de la entrega:
      <span
        *ngIf="dataDelivery"
        [innerHTML]="nameStateDelivery(dataDelivery.deliveryStatusId)"
      ></span>
    </div>
  </div>
  <div class="card-body">
    <div class="row" *ngIf="dataDelivery">
      <div class="col-12 col-md-6 mb-1">
        <app-input
          [title]="'Código'"
          [id]="'code'"
          [name]="'code'"
          [disabled]="true"
          [(inputModel)]="dataDelivery.code"
        ></app-input>
      </div>
      <div class="col-12 col-md-6 mb-1">
        <app-input
          [title]="'Fecha'"
          [id]="'date'"
          [name]="'date'"
          [disabled]="true"
          [type]="'text'"
          [(inputModel)]="dataDelivery.deliveryDate"
        ></app-input>
      </div>
      <div class="col-12 mb-1">
        <app-select
          [disableOptionZero]="false"
          [labelSelect]="'Gestor - Municipio'"
          [nameSelect]="'managersAndMunicipality'"
          [idSelect]="'managersAndMunicipality'"
          [optionZero]="'Seleccione el Gestor - Municipio'"
          [listSelect]="listManagerWithMunicipality"
          [key]="'option'"
          [(inputModel)]="managerCodeAndMunicipality"
          [disable]="true"
        ></app-select>
      </div>
      <div class="col-12 mb-1">
        <app-observation
          [title]="'Observación'"
          [id]="'observations'"
          [disabled]="true"
          [(inputModel)]="dataDelivery.observations"
        ></app-observation>
      </div>
      <div
        class="col-12 col-md-8 mb-1"
        *ngIf="dataProductsFromManager.length > 0"
      >
        <app-select
          [labelSelect]="'Agregar productos a la entrega'"
          [nameSelect]="'listProductsDelivery'"
          [idSelect]="'listProductsDelivery'"
          [optionZero]="'Seleccione el producto'"
          [listSelect]="listProductsDelivery"
          [key]="'option'"
          [(inputModel)]="selecProductsDelivery"
        ></app-select>
      </div>
      <div
        class="col-12 col-md-4 mb-1"
        *ngIf="dataProductsFromManager.length > 0"
      >
        <button
          type="button"
          name="agregar"
          id="agregar"
          class="btn btn-dark btn-sm btn-block"
          [disabled]="selecProductsDelivery === '0' ? true : false"
          (click)="openAddProductToDelivery()"
        >
          Agregar
        </button>
      </div>
      <div class="col-12">
        <div class="card-header">
          <div class="text-center">
            <h3>Productos agregados a la entrega</h3>
          </div>
        </div>
        <div
          class="table-inverse table-responsive text-center"
          *ngIf="dataDelivery && productsFromDelivery.length > 0"
        >
          <table class="table table-striped">
            <thead class="thead-inverse">
              <tr>
                <th>Nº</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Descripción</th>
                <th>Observación</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of productsFromDelivery; let index = index">
                <td scope="row">{{ index + 1 }}</td>
                <td scope="row">
                  {{ changeIdProduct(item.productId, "name") }}
                </td>
                <td scope="row">
                  <span
                    [innerHTML]="nameStateProduct(item.deliveryProductStatusId)"
                  ></span>
                </td>
                <td scope="row">
                  {{ changeIdProduct(item.productId, "description") }}
                </td>
                <td scope="row">
                  <app-observation
                    [id]="'observationProduct' + index"
                    [name]="'observationProduct' + index"
                    [(inputModel)]="item.observations"
                    [disabled]="true"
                  >
                  </app-observation>
                </td>
                <td scope="row">
                  <span
                    ngbTooltip="Actualizar"
                    placement="top"
                    show-delay="500"
                  >
                    <i
                      class="material-icons cursor"
                      (click)="openModalUpdateProduct(modalUpdateProduct)"
                    >
                      edit
                    </i>
                  </span>
                  <span ngbTooltip="Eliminar" placement="top" show-delay="500">
                    <i
                      class="material-icons cursor"
                      (click)="openModaldeleteProduct(item)"
                    >
                      delete
                    </i>
                  </span>
                  <ng-template #modalUpdateProduct let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title">
                        Actualizar información de la entrega
                      </h4>
                      <button
                        type="button"
                        class="close"
                        aria-label="Close"
                        (click)="modal.dismiss('Cross click')"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <app-observation
                        [title]="'Observaciones'"
                        [name]="'observation' + index"
                        [(inputModel)]="item.observations"
                      ></app-observation>
                    </div>
                    <div class="modal-footer">
                      <div class="col-12 text-center">
                        <button
                          type="button"
                          ngbAutofocus
                          class="btn btn-dark btn-block"
                          (click)="closeModalProductDelivery(item)"
                        >
                          Guardar
                        </button>
                      </div>
                    </div>
                  </ng-template>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12 mb-1" *ngIf="productsFromDelivery.length === 0">
          <div class="alert alert-primary text-center" role="alert">
            No existen productos asociados a la entrega.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer"></div>
</div>
