<div id="actionForm">
  <app-page-header [heading]="'Registrar Operador'" [icon]="'fa-star'">
  </app-page-header>
  <div class="card">
    <div class="card-header text-center">
      <h2>
        {{ id > 0 ? "Actualizar" : "Crear" }} Operador
        <span *ngIf="id > 0"
          ><b>#{{ id }}</b></span
        >
      </h2>
    </div>
    <div class="card-body">
      <form action="" method="post">
        <div class="row">
          <div class="col-12 col-md-6">
            <app-input
              [id]="'name'"
              [title]="'* Nombre Completo'"
              [name]="'name'"
              [type]="'text'"
              [placeholder]="'Nombre Completo'"
              (change)="changeState()"
              [(inputModel)]="data.name"
            ></app-input>
          </div>
          <div class="col-12 col-md-6">
            <app-input
              [id]="'alias'"
              [title]="'* Alias'"
              [name]="'alias'"
              [type]="'text'"
              [placeholder]="'Alias'"
              (change)="changeState()"
              [(inputModel)]="data.alias"
            ></app-input>
          </div>
          <div class="col-12 col-md-6">
            <app-input
              [id]="'taxIdentificationNumber'"
              [title]="'* NIT'"
              [name]="'taxIdentificationNumber'"
              [type]="'text'"
              [placeholder]="'XXXXXXXXX-Y'"
              (change)="changeState()"
              [(inputModel)]="data.taxIdentificationNumber"
            ></app-input>
          </div>
          <div class="col-12 col-md-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> * Tipo de Empresa </span>
              </div>
              <select
                (change)="changeState()"
                class="custom-select"
                name="managersprfile"
                id="managersprofile"
                [(ngModel)]="data.isPublic"
              >
                <option [value]="0">Seleccione el tipo de empresa</option>
                <option [value]="false">Privada</option>
                <option [value]="true">Pública</option>
              </select>
            </div>
          </div>
          <div class="col-12">
            <div class="alert alert-primary text-center" role="alert">
              Recuerde que los campos marcados con * son obligatorios.
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer text-muted text-center">
      <button
        type="button"
        [disabled]="!formOk"
        *ngIf="!editMode"
        class="btn btn-dark"
        (click)="create()"
      >
        Crear
      </button>
      <button
        type="button"
        [disabled]="!formOk"
        *ngIf="editMode"
        class="btn btn-dark"
        (click)="save()"
      >
        Guardar
      </button>
      <button
        type="button"
        style="margin-left: 10px"
        class="btn btn-dark"
        (click)="cancel()"
      >
        Cancelar
      </button>
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-header text-center">
      <h2>Lista de Operadores</h2>
    </div>
    <div class="card-body">
      <div class="table-inverse table-responsive">
        <table *ngIf="dataProfile.length > 0" class="table table-striped">
          <thead class="thead-inverse">
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Alias</th>
              <th>NIT</th>
              <th>Tipo de Empresa</th>
              <th>Editar</th>
              <th>Activar/Desactivar</th>
            </tr>
          </thead>
          <tbody>
            <tr
              [style.background-color]="item.id == id ? '#3ada1273' : ''"
              [style.font-weight]="item.id == id ? 'bold' : ''"
              *ngFor="let item of dataProfile; let i = index"
            >
              <td scope="row">{{ i + 1 }}</td>
              <td scope="row">{{ item.name }}</td>
              <td scope="row">{{ item.alias }}</td>
              <td scope="row">{{ item.taxIdentificationNumber }}</td>
              <td scope="row">{{ item.isPublic ? "Pública" : "Privada" }}</td>
              <td scope="row">
                <span
                  ngbTooltip="Modificar Operador"
                  placement="bottom"
                  show-delay="500"
                >
                  <i class="material-icons mr-2" (click)="updateProfile(item)">
                    edit
                  </i>
                </span>
              </td>
              <td scope="row">
                <label
                  class="switch"
                  [title]="item.state ? 'Desactivar' : 'Activar'"
                  (click)="
                    item.state ? deleteProfile(item) : activeManager(item)
                  "
                >
                  <input
                    (click)="clickCheckBox($event)"
                    [(ngModel)]="item.state"
                    type="checkbox"
                  />
                  <span class="slider round"></span>
                </label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="dataProfile.length === 0" class="row mt-3">
        <div class="col-12">
          <div class="alert alert-primary text-center" role="alert">
            No tiene operadores
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
