<nav
  class="sidebar"
  [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }"
>
  <div class="list-group">
    <a routerLink="" class="list-group-item">
      <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
      <span>Página Principal</span>
    </a>
    <div
      class="nested-menu"
      *ngIf="
        roleAdmin
          ? roleAdmin.id
          : 0 === allroles.administrador || rolegestor
          ? rolegestor.id
          : 0 === allroles.gestor
      "
    >
      <a class="list-group-item" (click)="addExpandClass(listMenu.gestion)">
        <i class="fa fa-fw fa-angle-double-down"></i>&nbsp;
        <span>Gestión de Municipio</span>
      </a>
      <li class="nested" [class.expand]="showMenu === listMenu.gestion">
        <ul class="submenu">
          <li *ngIf="roleAdmin ? roleAdmin.id : 0 === allroles.administrador">
            <a
              href=""
              [routerLink]="['/gestion/workspace']"
              (click)="isCollapsed(listMenu.gestion)"
            >
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Asignación</span>
            </a>
          </li>
          <li *ngIf="roleAdmin ? roleAdmin.id : 0 === allroles.administrador">
            <a
              href=""
              [routerLink]="['/gestion/workspace/active']"
              (click)="isCollapsed(listMenu.gestion)"
            >
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Búsqueda de</span><br />
              <span class="ml-4">municipios</span>
            </a>
          </li>
          <li *ngIf="roleAdmin ? roleAdmin.id : 0 === allroles.administrador">
            <a
              href=""
              [routerLink]="['/gestion/workspace/delivery']"
              (click)="isCollapsed(listMenu.gestion)"
            >
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Entrega de</span><br />
              <span class="ml-4">información</span>
            </a>
          </li>
          <li *ngIf="roleAdmin ? roleAdmin.id : 0 === allroles.administrador">
            <a
              href=""
              [routerLink]="['/gestion/workspace/refuse']"
              (click)="isCollapsed(listMenu.gestion)"
            >
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Desasignar</span>
            </a>
          </li>
          <li *ngIf="rolegestor ? rolegestor.id : 0 === allroles.gestor">
            <a
              href=""
              [routerLink]="['/gestion/workspace/asignado']"
              (click)="isCollapsed(listMenu.gestion)"
            >
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Búsqueda de</span><br />
              <span class="ml-4">municipios</span>
            </a>
          </li>
        </ul>
      </li>
    </div>
    <div
      class="nested-menu"
      *ngIf="
        rolegestor
          ? rolegestor.id
          : 0 === allroles.gestor || roleproveedor
          ? roleproveedor.id
          : 0 === allroles.proveedor || roleoperador
          ? roleoperador.id
          : 0 === allroles.operador
      "
    >
      <a class="list-group-item" (click)="addExpandClass(listMenu.insumos)">
        <i class="fa fa-fw fa-angle-double-down"></i>&nbsp;
        <span>Insumos</span>
      </a>
      <li class="nested" [class.expand]="showMenu === listMenu.insumos">
        <ul class="submenu">
          <li *ngIf="rolegestor ? rolegestor.id : 0 === allroles.gestor">
            <a
              [routerLink]="['/insumos/solicitud']"
              (click)="isCollapsed(listMenu.insumos)"
            >
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Solicitud</span>
            </a>
          </li>
          <li *ngIf="rolegestor ? rolegestor.id : 0 === allroles.gestor">
            <a
              href=""
              [routerLink]="['/insumos/buscar-solicitud']"
              (click)="isCollapsed(listMenu.insumos)"
            >
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Búsqueda</span><br />
              <span class="ml-4">de Solicitudes</span>
            </a>
          </li>
          <li *ngIf="rolegestor ? rolegestor.id : 0 === allroles.gestor">
            <a
              [routerLink]="['/insumos/integracion']"
              (click)="isCollapsed(listMenu.insumos)"
            >
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Integración</span>
            </a>
          </li>
          <li *ngIf="rolegestor ? rolegestor.id : 0 === allroles.gestor">
            <a
              href=""
              [routerLink]="['/insumos/buscar']"
              (click)="isCollapsed(listMenu.insumos)"
            >
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Búsqueda</span><br />
              <span class="ml-4">de Insumos</span>
            </a>
          </li>
          <li
            *ngIf="
              (roleproveedor
                ? roleproveedor.id && user.is_provider_director === false
                : 0 === allroles.proveedor) && !this.delegate
            "
          >
            <a
              [routerLink]="['/insumos/solicitudes/pendientes']"
              (click)="isCollapsed(listMenu.insumos)"
            >
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Solicitudes</span><br />
              <span class="ml-4">Pendientes</span>
            </a>
          </li>
          <li
            *ngIf="
              (roleproveedor
                ? roleproveedor.id && user.is_provider_director === false
                : 0 === allroles.proveedor) && this.delegate
            "
          >
            <a
              [routerLink]="['/insumos/revisiones-pendientes']"
              (click)="isCollapsed(listMenu.insumos)"
            >
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Revisiones</span><br />
              <span class="ml-4">Pendientes</span>
            </a>
          </li>
          <li
            *ngIf="
              ((roleproveedor
                ? roleproveedor.id && user.is_provider_director === false
                : 0 === allroles.proveedor) &&
                !this.isSnr) ||
              this.delegate
            "
          >
            <a
              [routerLink]="['/insumos/solicitudes/atendidas']"
              (click)="isCollapsed(listMenu.insumos)"
            >
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Solicitudes</span><br />
              <span class="ml-4">Atendidas</span>
            </a>
          </li>

          <li *ngIf="user.is_provider_director">
            <a
              [routerLink]="['/insumos/caracterizacion/insumo']"
              (click)="isCollapsed(listMenu.insumos)"
            >
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Caracterización</span><br />
              <span class="ml-4">de Insumos</span>
            </a>
          </li>
          <li
            *ngIf="rolegestor ? rolegestor.id : 0 === allroles.gestor"
            (click)="isCollapsed(listMenu.insumos)"
          >
            <a [routerLink]="['/insumos/realizar-entrega']">
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Realización</span><br />
              <span class="ml-4">de Entregas</span>
            </a>
          </li>
          <li
            *ngIf="rolegestor ? rolegestor.id : 0 === allroles.gestor"
            (click)="isCollapsed(listMenu.insumos)"
          >
            <a [routerLink]="['/insumos/entregas-realizadas']">
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Entregas</span><br />
              <span class="ml-4">Realizadas</span>
            </a>
          </li>
          <li
            *ngIf="roleoperador ? roleoperador.id : 0 === allroles.operador"
            (click)="isCollapsed(listMenu.insumos)"
          >
            <a [routerLink]="['/operador/descargas']">
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Descargas</span><br />
              <span class="ml-4">pendientes</span>
            </a>
          </li>
          <li
            *ngIf="roleoperador ? roleoperador.id : 0 === allroles.operador"
            (click)="isCollapsed(listMenu.insumos)"
          >
            <a [routerLink]="['/operador/descargas-realizadas']">
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Descargas</span><br />
              <span class="ml-4">realizadas</span>
            </a>
          </li>
        </ul>
      </li>
      <a
        class="list-group-item"
        (click)="addExpandClass(listMenu.quality)"
        *ngIf="
          roleoperador
            ? roleoperador.id
            : 0 === allroles.operador || rolegestor
            ? rolegestor.id
            : 0 === allroles.gestor
        "
      >
        <i class="fa fa-fw fa-angle-double-down"></i>&nbsp;
        <span>Recepción LevCat</span>
      </a>
      <li
        class="nested"
        [class.expand]="showMenu === listMenu.quality"
        *ngIf="
          roleoperador
            ? roleoperador.id
            : 0 === allroles.operador || rolegestor
            ? rolegestor.id
            : 0 === allroles.gestor
        "
      >
        <ul class="submenu">
          <li
            *ngIf="rolegestor ? rolegestor.id : 0 === allroles.gestor"
            (click)="isCollapsed(listMenu.quality)"
          >
            <a [routerLink]="['calidad/crear-producto']">
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Creación de</span><br />
              <span class="ml-4">Productos</span>
            </a>
          </li>
          <li
            *ngIf="roleoperador ? roleoperador.id : 0 === allroles.operador"
            (click)="isCollapsed(listMenu.quality)"
          >
            <a [routerLink]="['/calidad/hacer-entrega-gestor']">
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Creación de</span><br />
              <span class="ml-4">Entregas</span>
            </a>
          </li>
          <li
            *ngIf="
              roleoperador
                ? roleoperador.id
                : 0 === allroles.operador || rolegestor
                ? rolegestor.id
                : 0 === allroles.gestor
            "
            (click)="isCollapsed(listMenu.quality)"
          >
            <a [routerLink]="['/calidad/buscar-entregas/0']">
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Búsqueda</span><br />
              <span class="ml-4">de Entregas</span>
            </a>
          </li>
        </ul>
      </li>
    </div>
    <div class="nested-menu" *ngIf="administration">
      <a
        class="list-group-item"
        (click)="addExpandClass(listMenu.administrador)"
      >
        <i class="fa fa-fw fa-angle-double-down"></i>&nbsp;
        <span>Administrador</span>
      </a>
      <li class="nested" [class.expand]="showMenu === listMenu.administrador">
        <ul class="submenu">
          <li>
            <a
              [routerLink]="['/administrador/usuarios/1']"
              (click)="isCollapsed(listMenu.administrador)"
            >
              <i class="fa fa-fw fa-angle-double-right"></i>
              <span>Listar</span><br />
              <span class="ml-3">Usuarios</span>
            </a>
          </li>
          <li *ngIf="!this.user.is_manager_director">
            <a
              [routerLink]="['/administrador/crear-usuario']"
              (click)="isCollapsed(listMenu.administrador)"
            >
              <i class="fa fa-fw fa-angle-double-right"></i>
              <span>Registrar</span><br />
              <span class="ml-3">Usuarios</span>
            </a>
          </li>
          <li
            *ngIf="roleAdmin ? roleAdmin.id : 0 === allroles.administrador"
            (click)="isCollapsed(listMenu.administrador)"
          >
            <a [routerLink]="['/administrador/crear/gestor']">
              <i class="fa fa-fw fa-angle-double-right"></i>
              <span>Registrar</span><br />
              <span class="ml-3">Gestor</span>
            </a>
          </li>
          <li
            *ngIf="roleAdmin ? roleAdmin.id : 0 === allroles.administrador"
            (click)="isCollapsed(listMenu.administrador)"
          >
            <a [routerLink]="['/administrador/crear/operador']">
              <i class="fa fa-fw fa-angle-double-right"></i>
              <span>Registrar</span><br />
              <span class="ml-3">Operador</span>
            </a>
          </li>
          <li
            *ngIf="roleAdmin ? roleAdmin.id : 0 === allroles.administrador"
            (click)="isCollapsed(listMenu.administrador)"
          >
            <a [routerLink]="['/administrador/crear/proveedor']">
              <i class="fa fa-fw fa-angle-double-right"></i>
              <span>Registrar</span><br />
              <span class="ml-3">Proveedor</span>
            </a>
          </li>
          <li *ngIf="user.is_provider_director">
            <a
              [routerLink]="['/administrador/crear/area-trabajo']"
              (click)="isCollapsed(listMenu.administrador)"
            >
              <i class="fa fa-fw fa-angle-double-right"></i>
              <span>Crear</span><br />
              <span class="ml-3">Área de trabajo</span>
            </a>
          </li>
        </ul>
      </li>
    </div>
    <a [routerLink]="['/colaboradores']" class="list-group-item">
      <i class="fa fa-fw fa-plus-circle"></i>&nbsp;
      <span>Acerca de</span>
    </a>
    <div class="header-fields">
      <div class="nested-menu">
        <a class="list-group-item" (click)="addExpandClass('profile')">
          <span><i class="fa fa-user"></i>&nbsp;{{ user.first_name }}</span>
          <div class="ml-4">{{ user.last_name }}</div>
          <div class="ml-4" *ngIf="user.entity">
            {{ user.entity.alias }}
          </div>
          <div class="ml-4" *ngIf="!user.is_provider_director">
            <div *ngFor="let item of user.roles">
              {{ toUpperCasetoLowerCase(item.name) }}
            </div>
          </div>
          <div class="ml-4" *ngIf="user.manager_sub_roles">
            <div *ngFor="let item of user.manager_sub_roles">
              {{ toUpperCasetoLowerCase(item.name) }}
            </div>
          </div>
          <div class="ml-4" *ngIf="user.provider_sub_roles">
            <div *ngFor="let item of user.provider_sub_roles">
              {{ toUpperCasetoLowerCase(item.name) }}
            </div>
          </div>
        </a>
        <li class="nested" [class.expand]="showMenu === 'profile'">
          <ul class="submenu">
            <li>
              <a [routerLink]="['/cuenta/perfil']">
                <span><i class="fa fa-fw fa-user"></i> Perfil</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/login']" (click)="onLoggedout()">
                <span><i class="fa fa-fw fa-power-off"></i> Cerrar sesión</span>
              </a>
            </li>
          </ul>
        </li>
      </div>
    </div>
  </div>
  <div
    class="toggle-button"
    [ngClass]="{ collapsed: collapsed }"
    (click)="toggleCollapsed()"
  >
    <i class="fa fa-fw fa-angle-double-{{ collapsed ? 'right' : 'left' }}"></i
    >&nbsp;
    <span>Contraer barra lateral</span>
  </div>
</nav>
