<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
  <div class="list-group">

    <a routerLink="" class="list-group-item">
      <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
      <span>Página Principal</span>
    </a>
    <!-- <a href="http://sat.proadmintierra.info/autenticacion/login" target="_blank" class="list-group-item">
      <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
      <span>Consulta</span><br>
      <span class="ml-3">(Punto único de verdad)</span>
    </a> -->
    <div class="nested-menu"
      *ngIf="roleAdmin ? roleAdmin.id: 0 === allroles.administrador || rolegestor ? rolegestor.id: 0 === allroles.gestor">
      <a class="list-group-item" (click)="addExpandClass(listMenu[0].gestion)">
        <i class="fa fa-fw fa-angle-double-down"></i>&nbsp;
        <span>Gestión de Municipio</span>
      </a>
      <li class="nested" [class.expand]="showMenu === listMenu[0].gestion">
        <ul class="submenu">
          <li
            *ngIf="roleAdmin ? roleAdmin.id: 0 === allroles.administrador || rolegestor ? rolegestor.id: 0 === allroles.gestor">
            <a href="" [routerLink]="['/gestion/workspace']">
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Asignación</span>
            </a>
          </li>
          <!-- <li>
            <a href="javascript:void(0)">
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Tareas</span>
            </a>
          </li> -->
          <!-- <li>
            <a href="javascript:void(0)">
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Reportes</span>
            </a>
          </li> -->
          <!-- <li>
            <a href="javascript:void(0)">
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Indicadores</span>
            </a>
          </li> -->
        </ul>
      </li>
    </div>
    <div class="nested-menu"
      *ngIf="rolegestor ? rolegestor.id: 0 === allroles.gestor || roleproveedor ? roleproveedor.id: 0 === allroles.proveedor || roleoperador ? roleoperador.id: 0 === allroles.operador">
      <a class="list-group-item" (click)="addExpandClass(listMenu[0].insumos)">
        <i class="fa fa-fw fa-angle-double-down"></i>&nbsp;
        <span>Insumos</span>
      </a>
      <li class="nested" [class.expand]="showMenu === listMenu[0].insumos">
        <ul class="submenu">
          <li *ngIf="rolegestor ? rolegestor.id: 0 === allroles.gestor">
            <a [routerLink]="['/insumos/solicitud']">
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Solicitud</span>
            </a>
          </li>
          <li *ngIf="rolegestor ? rolegestor.id: 0 === allroles.gestor">
            <a [routerLink]="['/insumos/integracion']">
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Integración</span>
            </a>
          </li>
          <li
            *ngIf="(roleproveedor ? roleproveedor.id && user.is_provider_director===false: 0 === allroles.proveedor) && !this.delegate">
            <a [routerLink]="['/insumos/solicitudes/pendientes']">
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Solicitudes</span><br>
              <span class="ml-4">Pendientes</span>
            </a>
          </li>
          <li
            *ngIf="(roleproveedor ? roleproveedor.id && user.is_provider_director===false: 0 === allroles.proveedor) && !this.delegate">
            <a [routerLink]="['/insumos/solicitudes/atendidas']">
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Solicitudes</span><br>
              <span class="ml-4">Atendidas</span>
            </a>
          </li>
          <li *ngIf="rolegestor ? rolegestor.id: 0 === allroles.gestor">
            <a href="" [routerLink]="['/insumos/buscar']">
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Búsqueda</span><br>
              <span class="ml-4">de Insumos</span>
            </a>
          </li>
          <li *ngIf="rolegestor ? rolegestor.id: 0 === allroles.gestor">
            <a href="" [routerLink]="['/insumos/buscar-solicitud']">
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Búsqueda</span><br>
              <span class="ml-4">de Solicitudes</span>
            </a>
          </li>
          <li *ngIf="user.is_provider_director">
            <a [routerLink]="['/insumos/caracterizacion/insumo']">
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Caracterización</span><br>
              <span class="ml-4">de Insumos</span>
            </a>
          </li>
          <li *ngIf="rolegestor ? rolegestor.id: 0 === allroles.gestor">
            <a [routerLink]="['/insumos/entrega']">
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Entrega</span>
            </a>
          </li>
          <li *ngIf="roleoperador ? roleoperador.id: 0 === allroles.operador">
            <a [routerLink]="['/operador/descargas']">
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Descargas</span><br>
              <span class="mt-4">pendientes</span>
            </a>
          </li>
          <li *ngIf="roleoperador ? roleoperador.id: 0 === allroles.operador">
            <a [routerLink]="['/operador/descargas-realizadas']">
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Descargas</span><br>
              <span class="mt-4">realizadas</span>
            </a>
          </li>
        </ul>
      </li>
    </div>
    <!-- <div class="nested-menu" *ngIf="roleoperador ? roleoperador.id: 0 === allroles.operador">
      <a class="list-group-item" (click)="addExpandClass(listMenu[0].operacion)">
        <i class="fa fa-fw fa-angle-double-down"></i>&nbsp;
        <span>Operación</span>
      </a>
      <li class="nested" [class.expand]="showMenu === listMenu[0].operacion">
        <ul class="submenu">
           <li>
            <a [routerLink]="['/operador/entregas']">
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Descargas</span><br>
              <span class="mt-4">pendientes</span>
            </a>
            <a [routerLink]="['/operador/entregas-atendidas']">
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Descargas</span><br>
              <span class="mt-4">realizadas</span>
            </a>
          </li>
           <li>
            <a>
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Cargue BPM</span>
            </a>
          </li> 
        </ul>
      </li>
    </div> -->
    <!-- <div class="nested-menu">
      <a class="list-group-item" (click)="addExpandClass(listMenu[0].calidad)">
        <i class="fa fa-plus"></i>&nbsp;
        <span>Control calidad</span>
      </a>
      <li class="nested" [class.expand]="showMenu === listMenu[0].calidad">
        <ul class="submenu">
          <li>
            <a>
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Control de calidad</span>
            </a>
          </li>
        </ul>
      </li>
    </div> -->
    <!-- <div class="nested-menu">
      <a class="list-group-item" (click)="addExpandClass(listMenu[0].tramites)">
        <i class="fa fa-plus"></i>&nbsp;
        <span>Trámites</span>
      </a>
      <li class="nested" [class.expand]="showMenu === listMenu[0].tramites">
        <ul class="submenu">
          <li>
            <a>
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Novedades</span>
            </a>
          </li>
          <li>
            <a>
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Trámites</span>
            </a>
          </li>
          <li>
            <a>
              <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
              <span>Radicación</span>
            </a>
          </li>
        </ul>
      </li>
    </div> -->
    <!-- *ngIf="roleAdmin ? roleAdmin.id: 0 === allroles.administrador" -->
    <div class="nested-menu" *ngIf="administration">
      <a class="list-group-item" (click)="addExpandClass(listMenu[0].administrador)">
        <i class="fa fa-fw fa-angle-double-down"></i>&nbsp;
        <span>Administrador</span>
      </a>
      <li class="nested" [class.expand]="showMenu === listMenu[0].administrador">
        <ul class="submenu">
          <li>
            <a [routerLink]="['/administrador/usuarios']">
              <i class="fa fa-fw fa-angle-double-right"></i>
              <span>Listar</span><br>
              <span class="ml-3">Usuarios</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/administrador/crear-usuario']">
              <i class="fa fa-fw fa-angle-double-right"></i>
              <span>Registrar</span><br>
              <span class="ml-3">Usuarios</span>
            </a>
          </li>
          <li *ngIf="roleAdmin ? roleAdmin.id: 0 === allroles.administrador">
            <a [routerLink]="['/administrador/crear/gestor']">
              <i class="fa fa-fw fa-angle-double-right"></i>
              <span>Registrar</span><br>
              <span class="ml-3">Gestor</span>
            </a>
          </li>
          <li *ngIf="roleAdmin ? roleAdmin.id: 0 === allroles.administrador">
            <a [routerLink]="['/administrador/crear/operador']">
              <i class="fa fa-fw fa-angle-double-right"></i>
              <span>Registrar</span><br>
              <span class="ml-3">Operador</span>
            </a>
          </li>
          <li *ngIf="roleAdmin ? roleAdmin.id: 0 === allroles.administrador">
            <a [routerLink]="['/administrador/crear/proveedor']">
              <i class="fa fa-fw fa-angle-double-right"></i>
              <span>Registrar</span><br>
              <span class="ml-3">Proveedor</span>
            </a>
          </li>
          <li *ngIf="user.is_provider_director">
            <a [routerLink]="['/administrador/crear/area-trabajo']">
              <i class="fa fa-fw fa-angle-double-right"></i>
              <span>Crear</span><br>
              <span class="ml-3">Área de trabajo</span>
            </a>
          </li>
        </ul>
      </li>
    </div>
    <a href="https://SwissTierrasColombia.github.io/Asistente-LADM-COL/" target="_blank" class="list-group-item">
      <i class="fa fa-fw fa-angle-double-right"></i>&nbsp;
      <span>Asistente LADM-COL</span>
    </a>
    <a [routerLink]="['/colaboradores']" class="list-group-item">
      <i class="fa fa-fw fa-plus-circle"></i>&nbsp;
      <span>Acerca de</span>
    </a>
    <div class="header-fields">
      <div class="nested-menu">
        <a class="list-group-item" (click)="addExpandClass('profile')">
          <span><i class="fa fa-user"></i>&nbsp;{{user.first_name}}</span>
          <div class="ml-4">{{user.last_name}}</div>
          <div class="ml-4" *ngIf="!user.is_provider_director">
            <div *ngFor="let item of user.roles">
              {{toUpperCasetoLowerCase(item.name)}}
            </div>
          </div>
          <div class="ml-4" *ngIf="user.manager_sub_roles">
            <div *ngFor="let item of user.manager_sub_roles">
              {{toUpperCasetoLowerCase(item.name)}}
            </div>
          </div>
          <div class="ml-4" *ngIf="user.provider_sub_roles">
            <div *ngFor="let item of user.provider_sub_roles">
              {{toUpperCasetoLowerCase(item.name)}}
            </div>
          </div>
          <div class="ml-4" *ngIf="user.entity">
            {{user.entity.name}}
          </div>
        </a>
        <li class="nested" [class.expand]="showMenu === 'profile'">
          <ul class="submenu">
            <li>
              <a [routerLink]="['/cuenta/perfil']">
                <span><i class="fa fa-fw fa-user"></i> Perfil</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/login']" (click)="onLoggedout()">
                <span><i class="fa fa-fw fa-power-off"></i> Cerrar sesión</span>
              </a>
            </li>
          </ul>
        </li>
      </div>
    </div>

  </div>
  <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
    <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
    <span>Contraer barra lateral</span>
  </div>
</nav>