<div [@routerTransition]>
  <app-page-header [heading]="'Gestión de municipio'" [icon]="'fa-star'"></app-page-header>

  <div class="card">
    <div class="card-header text-center">
      <h3>Gestión de municipio</h3>
    </div>
    <div class="card-body">
      <form action="" method="post">
        <div class="row mb-2">
          <div class='col-12 col-sm-6 mb-1'>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" aria-required="true">* Departamento</label>
              </div>
              <select class="custom-select" name="departments" id="departments" [(ngModel)]="selectDepartment">
                <option value='0' selected>Seleccione el departamento</option>
                <option [ngValue]="item.id" *ngFor="let item of departments">{{item.name}}</option>
              </select>
            </div>
          </div>
          <div class='col-12 col-sm-6  mb-1'>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text">* Municipio</label>
              </div>
              <select class="custom-select" name="" id="">
                <option selected>Seleccione el Municipio</option>
                <option value="">OVEJAS</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class='col-12 col-sm-12 mb-2'>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text">* Gestor</label>
              </div>
              <select class="custom-select" name="managers" id="managers" [(ngModel)]="selectManager">
                <option value='0' selected>Seleccione el Gestor</option>
                <option [ngValue]="item.id" *ngFor="let item of activeManagers">{{item.name}}</option>
              </select>
            </div>
          </div>
          <div class='col-12 col-sm-12  mb-1'>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text">Numero de predios esperados</label>
              </div>
              <input class="form-control" type="text">
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class='col-12 col-sm-6  mb-1'>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text">* Fecha de Inicio</label>
              </div>
              <input class="form-control" type="date">
            </div>
          </div>
          <div class='col-12 col-sm-6  mb-1'>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text">* Fecha Final</label>
              </div>
              <input class="form-control" type="date">
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-12">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">* Alcance / Observaciones</div>
              </div>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-12">
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text">* Orden de Trabajo / Documento Soporte
                  <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                </label>
              </div>
              <input class="form-control" type="file" accept="pdf" (change)="docSoport($event.target.files)" multiple>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="alert alert-primary text-center" role="alert">
              Recuerde que los campos marcados con * son obligatorios.
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer text-muted text-center">
      <button type="button" class="btn btn-dark">Guardar</button>
    </div>
  </div>
</div>
