<div>
    <app-page-header [heading]="'Modificar usuario'" [icon]="'fa-star'">
    </app-page-header>

    <div class="card text-center">
        <div class="card-header row">
            <div class="col-1">
                <span ngbTooltip="Volver" placement="bottom" show-delay="500">
                    <i class="material-icons cursor" (click)="volver()">backspace</i>
                </span>
            </div>
            <div class="col-10">
                <h3>Modificar Usuario</h3>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text">Content</p>
        </div>
        <div class="card-footer">
            Footer
        </div>
    </div>

</div>