<div class="card-body">
  <div class="list-group">
    <a href="#" class="list-group-item clearfix d-block">
      <i class="fa fa-comment fa-fw"></i> Nuevo comentario
      <span class="float-right text-muted small"><em>hace 4 minutos</em></span>
    </a>
    <a href="#" class="list-group-item clearfix d-block">
      <i class="fa fa-twitter fa-fw"></i> 3 nuevos seguidores
      <span class="float-right text-muted small"><em>hace 12 minutos</em></span>
    </a>
    <a href="#" class="list-group-item clearfix d-block">
      <i class="fa fa-envelope fa-fw"></i> Mensaje enviado
      <span class="float-right text-muted small"><em>hace 27 minutos</em></span>
    </a>
    <a href="#" class="list-group-item clearfix d-block">
      <i class="fa fa-tasks fa-fw"></i> Nueva tarea
      <span class="float-right text-muted small"><em>hace 43 minutos</em></span>
    </a>
    <a href="#" class="list-group-item clearfix d-block">
      <i class="fa fa-upload fa-fw"></i> Servidor reiniciado
      <span class="float-right text-muted small"><em>11:32 AM</em></span>
    </a>
    <a href="#" class="list-group-item clearfix d-block">
      <i class="fa fa-bolt fa-fw"></i> Servidor bloqueado!
      <span class="float-right text-muted small"><em>11:13 AM</em></span>
    </a>
    <a href="#" class="list-group-item clearfix d-block">
      <i class="fa fa-warning fa-fw"></i> Servidor no responde
      <span class="float-right text-muted small"><em>10:57 AM</em></span>
    </a>
    <a href="#" class="list-group-item clearfix d-block">
      <i class="fa fa-shopping-cart fa-fw"></i> Nuevo pedido realizado
      <span class="float-right text-muted small"><em>9:49 AM</em></span>
    </a>
    <a href="#" class="list-group-item clearfix d-block">
      <i class="fa fa-money fa-fw"></i> Pago recibido
      <span class="float-right text-muted small"><em>Ayer</em></span>
    </a>
  </div>
  <a href="#" class="btn btn-default btn-block">Ver todas las alertas</a>
</div>
