<div>
  <div class="row mb-3">
    <div class="col-12 col-sm-1">
      <i class="material-icons cursor m-2" (click)="volver()">backspace</i>
    </div>
    <div class="col-12 col-sm-5">
      <div class="input-group">
        <div class="input-group-prepend">
          <label class="input-group-text">Departamento</label>
        </div>
        <div class="form-control">{{dataWorkSpace.municipality.department.name}}</div>
      </div>
    </div>
    <div class="col-12 col-sm-5">
      <div class="input-group">
        <div class="input-group-prepend">
          <label class="input-group-text">* Municipio</label>
        </div>
        <div class="form-control">{{dataWorkSpace.municipality.name}}</div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header"><b>Espacio de Trabajo</b></div>
    <div class="card-body">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active':tab === 1}" data-toggle="tab" role="tab" (click)="tab1()"
            aria-controls="home">
            <i class="material-icons">
              home
            </i>Información Básica</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active':tab === 2}" data-toggle="tab" role="tab" (click)="getSopports()"
            aria-controls="messages">
            <i class="material-icons">
              archive
            </i>Soportes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active':tab === 3}" data-toggle="tab" role="tab" (click)="getOperator()"
            aria-controls="messages">
            <i class="material-icons">
              people
            </i>Operador</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane" [ngClass]="{'active':tab === 1}" role="tabpanel"><br>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Área del municipio (km<sup>2</sup>) :</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" name="municipalityArea"
                [(ngModel)]="dataWorkSpace.municipalityArea" disabled="{{editForm.municipalityArea}}">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Número de Predios:</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" name="numberAlphanumericParcels"
                [(ngModel)]="dataWorkSpace.numberAlphanumericParcels" disabled="{{editForm.numberAlphanumericParcels}}">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Fecha de Creación:</label>
            <div class="col-sm-8">
              <div class="form-control">{{formatDate(dataWorkSpace.createdAt)}}</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Fecha de Inicio:</label>
            <div class="col-sm-8">
              <input class="form-control" type="date" name="startDate" [(ngModel)]="dataWorkSpace.startDate"
                disabled="{{editForm.startDate}}">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Observaciones:</label>
            <div class="col-sm-8">
              <textarea [(ngModel)]="dataWorkSpace.observations" (keyup.enter)="onKey($event)" class="form-control"
                rows="3" maxlength="255" disabled="{{editForm.observations}}"></textarea>
            </div>
          </div>
          <div class="mb-2 form-group row" *ngIf="assingOperator">
            <button *ngIf="editForm.municipalityArea" type="button" class="btn btn-primary btn-sm btn-block"
              (click)="changeUpdate()">Editar</button>
            <button *ngIf="editForm.municipalityArea === false" type="button" class="btn btn-primary btn-sm btn-block"
              (click)="openModalUpdate(modalRegistrar)">Actualizar</button>
          </div>
          <h3>Gestor</h3>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Nombre:</label>
            <div class="col-sm-8">
              <input disabled="{{!assingOperator}}" class="form-control" type="text" name="managerName"
                [(ngModel)]="dataWorkSpace.manager.name" disabled="true">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">NIT:</label>
            <div class="col-sm-8">
              <input disabled="{{!assingOperator}}" class="form-control" type="text" name="taxIdentificationNumber"
                [(ngModel)]="dataWorkSpace.manager.taxIdentificationNumber" disabled="true">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Fecha de Asignación:</label>
            <div class="col-sm-8">
              <div class="form-control">{{formatDate(dataWorkSpace.manager.createdAt)}}</div>
            </div>
          </div>
        </div>
        <div class="tab-pane" [ngClass]="{'active':tab === 2}" role="tabpanel">
          <br>
          <div class="row">
            <div class="col-12">
              <div class="table-inverse table-responsive">
                <table class="table table-striped text-center">
                  <thead class="thead-inverse">
                    <tr>
                      <th>ID</th>
                      <th>Repositorio Documental</th>
                      <th>Hito</th>
                      <th>Fecha de Creación</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of dataSoports; let i = index">
                      <td scope="row">{{i+1}}</td>
                      <td scope="row">
                        Descargar soporte
                        <i class="material-icons mt-2 ml-2 cursor" (click)="downloadSupplies(item.id)">
                          cloud_download
                        </i>
                      </td>
                      <td scope="row">{{item.milestone.name}}</td>
                      <td scope='row'>{{formatDate(item.createdAt)}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" [ngClass]="{'active':tab === 3}" role="tabpanel"><br>
          <form action="" method="post">
            <div class="row mb-2">
              <div class="col-12">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <label class="input-group-text" aria-required="true">* Operador</label>
                  </div>
                  <select disabled="{{!assingOperator}}" class="custom-select" name="operators" id="operators"
                    [(ngModel)]="dataOperatorsWorkSpace.operatorCode">
                    <option value='0' selected>Seleccione el Operador</option>
                    <option [ngValue]="item.id" *ngFor="let item of operators">{{item.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class='col-12 col-sm-6  mb-1'>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <label class="input-group-text">* Fecha de Inicio</label>
                  </div>
                  <input disabled="{{!assingOperator}}" class="form-control" type="date" name="FechaInicio"
                    [(ngModel)]="dataOperatorsWorkSpace.startDate">
                </div>
              </div>
              <div class='col-12 col-sm-6  mb-1'>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <label class="input-group-text">* Fecha Final</label>
                  </div>
                  <input disabled="{{!assingOperator}}" class="form-control" type="date" name="FechaFin"
                    [(ngModel)]="dataOperatorsWorkSpace.endDate">
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class='col-12 col-sm-6 mb-1'>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <label class="input-group-text">Número de Predios a Intervenir</label>
                  </div>
                  <input disabled="{{!assingOperator}}" class="form-control" type="number" name="numberParcelsExpected"
                    [(ngModel)]="dataOperatorsWorkSpace.numberParcelsExpected">
                </div>
              </div>
              <div class='col-12 col-sm-6 mb-1'>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <label class="input-group-text">Área de Trabajo (km <sup>2</sup>)</label>
                  </div>
                  <input disabled="{{!assingOperator}}" class="form-control" type="number" name="workArea"
                    [(ngModel)]="dataOperatorsWorkSpace.workArea">
                </div>
              </div>
            </div>
            <!-- <div class='col-12 col-sm-6  mb-1'>
            <div class="form-group form-check">
              <input name="splitZones" type="checkbox" class="form-check-input" id="exampleCheck1"
                [(ngModel)]="splitZones" disabled="true">
              <label class="form-check-label" for="exampleCheck1">Selección de Zonas</label>
            </div>
          </div>
          <div class='col-12 col-sm-6 mb-1'>
            <div class="input-group">
              <input class="form-control" type="text" disabled="true" placeholder="1" disabled="true">
            </div>
          </div> -->
            <div class="row mb-2">
              <div class="col-12">
                <div class="input-group">
                  <div class="input-group-prepend input-group-text">
                    <div class="">* Alcance / Observaciones</div>
                  </div>
                  <textarea maxlength="255" disabled="{{!assingOperator}}" class="form-control" id="observations"
                    rows="3" name="observaciones" [(ngModel)]="dataOperatorsWorkSpace.observations"></textarea>
                </div>
              </div>
            </div>
            <div class="row mb-2" *ngIf="assingOperator">
              <div class="col-12">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <label class="input-group-text">* Orden de Trabajo / Documento Soporte
                      <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    </label>
                  </div>
                  <input #myInput class="form-control" type="file" (change)="docSoport($event.target.files)" multiple>
                </div>
              </div>
            </div>
            <div class="row mt-3" *ngIf="assingOperator">
              <div class="col-12">
                <div class="alert alert-primary text-center" role="alert">
                  Recuerde que los campos marcados con * son obligatorios.
                </div>
              </div>
            </div>
          </form>
          <div class="card-footer text-muted text-center" *ngIf="assingOperator">
            <button *ngIf="replaceOperator === false" type="button" class="btn btn-dark"
              (click)="assingOperatorInWorkSpace()">Asignar Operador</button>
            <button *ngIf="replaceOperator === true" type="button" class="btn btn-dark"
              (click)="openModal(modalOperator)">Asignar Operador</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #modalOperator let-modal>
    <div class="modal-header">
      <h4 class="modal-title">
        ¿Está seguro de modificar los datos del Operador?
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h5 class="alert alert-warning text-center">
        Advertencia: Esta acción generará un nuevo espacio de trabajo para el Municipio.
      </h5>
    </div>
    <div class="modal-footer">
      <div class="col-6">
        <button type="button" class="btn btn-dark btn-block" (click)="closeModal(false)">No</button>
      </div>
      <div class="col-6 text-right">
        <button type="button" ngbAutofocus class="btn btn-success btn-block" (click)="closeModal(true)">Si</button>
      </div>
    </div>
  </ng-template>

  <ng-template #modalRegistrar let-modal>
    <div class="modal-header">
      <h4 class="modal-title">
        ¿Está seguro de actualizar la información?
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h5 class="alert alert-warning text-center">
        Advertencia: Esta acción actualizará la información del espacio de trabajo.
      </h5>
    </div>
    <div class="modal-footer">
      <div class="col-6">
        <button type="button" class="btn btn-dark btn-block" (click)="closeModalUpdate(false)">No</button>
      </div>
      <div class="col-6 text-right">
        <button type="button" ngbAutofocus class="btn btn-success btn-block"
          (click)="closeModalUpdate(true)">Si</button>
      </div>
    </div>
  </ng-template>
</div>