/* You can add global styles to this file, and also import other style files */

.material-icons {
    cursor: pointer;
}

.btn-backspace {
    z-index: 1;

    span {
        float: left;
        margin-top: 8px;
    }
}
