/* You can add global styles to this file, and also import other style files */
.text {
  font-family: "helvetica-Roman";
  font-size: large;
}

.material-icons {
  cursor: pointer;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #299406b5;
}

input:focus + .slider {
  box-shadow: 0 0 1px #299406b5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

html {
  scroll-behavior: smooth;
}

.btn-backspace {
  z-index: 1;

  span {
    float: left;
    margin-top: 8px;
  }
}

.ol-attribution {
  font-size: 10px !important;
}


.modal-xl {
  max-width: 100% !important;
}