<div>
  <app-page-header [heading]="'Revisión Pendiente'" [icon]="'fa-star'"></app-page-header>
  <div *ngIf="dataRecordsXTF.length > 0">
    <div class="row justify-content-md-center">
      <div class="card text-center">
        <div class="card-header">
          <div class="col-1">
            <span ngbTooltip="Volver" placement="bottom" show-delay="500">
              <i class="material-icons cursor" (click)="volver()">backspace</i>
            </span>
          </div>
          <div class="col-12">
            <h3>Resultados de Búsqueda</h3>
            <h4>
              <span class="badge badge-info">
                Grupo {{currentPage}} de {{totalPages}}
              </span>
            </h4>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-2">
              <div ngbTooltip="Obtener anteriores 1000 registros" placement="top" show-delay="500"
                *ngIf="currentPage > 1">
                <span class="material-icons" style="font-size: 60px" (click)="getPage(currentPage-1)">
                  keyboard_arrow_left
                </span>
              </div>
            </div>
            <div class="col-8">
              <ngb-pagination class="d-flex justify-content-center" id="serverSupplies" [(page)]="page"
                [pageSize]="size" [collectionSize]="totalElements" [rotate]="true" [maxSize]="10" [ellipses]="false"
                [boundaryLinks]="true">
              </ngb-pagination>
            </div>
            <div class="col-2">
              <div ngbTooltip="Obtener proximos 1000 registros" placement="top" show-delay="500"
                *ngIf="currentPage < totalPages">
                <span class="material-icons" (click)="getPage(currentPage+1)" style="font-size: 60px">
                  keyboard_arrow_right
                </span>
              </div>
            </div>
          </div>
          <div class="search-hero">
            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
              placeholder="&#61442;  Buscar">
          </div>
          <div class="table-inverse table-responsive">
            <table class="table table-striped text-center">
              <thead class="thead-inverse">
                <tr>
                  <th>Código <br> ORIP</th>
                  <th>Matricula <br> inmobiliaria</th>
                  <th>Número predial <br> nuevo FMI</th>
                  <th>Fecha del <br> documento</th>
                  <th>Cabidas y linderos</th>
                  <th>Revisar</th>
                  <th>Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let item of dataRecordsXTF |filter:searchText | slice: (page-1) * size : (page-1) * size + size; let index=index">
                  <td scope="row">{{item.orip?item.orip:'N/A'}}</td>
                  <td scope="row">{{item.realEstateRegistration?item.realEstateRegistration:'N/A'}}</td>
                  <td scope="row">{{item.newFmi?item.newFmi:'N/A'}}</td>
                  <td scope="row">{{item.documentDate}}</td>
                  <td scope="row">
                    <textarea maxlength="255" class="form-control" id="exampleFormControlTextarea1" disabled="true"
                      rows="5" cols="70">{{item.boundarySpace}}</textarea>
                  </td>
                  <th scope="row">
                    <div [ngbTooltip]="item.fileId ?'Actualizar PDF':'Subir PDF'" placement="left" show-delay="500">
                      <span class="material-icons" (click)="openModal(modal)" [ngClass]="item.fileId ?'valid':''">
                        find_in_page
                      </span>
                    </div>
                    <ng-template #modal let-modal>
                      <div class="modal-header">
                        <h4 class="modal-title">
                          Interfaz de edición
                          <span class="badge badge-info">
                            Grupo {{currentPage}} de {{totalPages}}
                          </span>
                        </h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="row align-items-center">
                          <div class="col-12 col-sm-6">
                            <h5>Página {{(page)}} de {{totalElements/size}}.</h5>
                          </div>
                          <div class="col-12 col-sm-6 text-right" style="color:green">
                            {{numDataRecords}}% de registros revisados para este grupo.
                          </div>
                          <div class="col-12">
                            <div class="table-inverse table-responsive">
                              <table class="table table-striped text-center">
                                <thead class="thead-inverse">
                                  <tr>
                                    <th>Registro</th>
                                    <th>Número predial nuevo FMI</th>
                                    <th>Número predial anterior FMI</th>
                                    <th>Código ORIP</th>
                                    <th>Matricula inmobiliaria</th>
                                    <th>Nomenclatura</th>
                                    <th>Fecha del documento</th>
                                    <th>Tipo de documento</th>
                                    <th>Ciudad emisora</th>
                                    <th>Entidad emisora</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td scope="row">{{item.id}}</td>
                                    <td scope="row">{{item.newFmi?item.newFmi:'N/A'}}</td>
                                    <td scope="row">{{item.oldFmi?item.oldFmi:'N/A'}}</td>
                                    <td scope="row">{{item.orip?item.orip:'N/A'}}</td>
                                    <td scope="row">{{item.realEstateRegistration?item.realEstateRegistration:'N/A'}}
                                    </td>
                                    <td scope="row">
                                      <textarea maxlength="255" class="form-control" id="exampleFormControlTextarea1"
                                        disabled="true" rows="2" cols="50">{{item.nomenclature}}</textarea>
                                    </td>
                                    <td scope="row">{{item.documentDate}}</td>
                                    <td scope="row">{{item.documentType? item.documentType:'N/A'}}</td>
                                    <td scope="row">{{item.issuingCity?item.issuingCity:'N/A'}}</td>
                                    <td scope="row">{{item.issuingEntity?item.issuingEntity:'N/A'}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="col-12 col-md-6">
                            <div class="card">
                              <div class="card-header">
                                <h3>Cabida y linderos</h3>
                              </div>
                              <div class="card-body">
                                <textarea maxlength="255" class="form-control" id="exampleFormControlTextarea1"
                                  disabled="true" rows="7">{{item.boundarySpace}}</textarea>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md-6 pl-5 pr-5">
                            <span class="form-text text-danger mb-3" *ngIf="item.fileId">
                              Ya ha subido un archivo PDF, si sube otro archivo el anterior será remplazado.
                            </span>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <label class="input-group-text">* Adjuntar archivos PDF Relacionados
                                  <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                </label>
                              </div>
                              <br>
                              <input #myInput class="form-control" accept=".pdf" type="file"
                                (change)="docSoport($event.target.files)" multiple>
                            </div>
                            <span class="form-text text-info mb-3">
                              Seleccione solo un archivo PDF.
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-dark bnt-block"
                          (click)="modal.close('Close click')">Cerrar</button>
                        <button type="button" class="btn btn-dark bnt-block" (click)="sendSoport(item)"
                          [disabled]="!buttonActive">Guardar</button>
                      </div>
                    </ng-template>
                  </th>
                  <th scope="row">
                    <div *ngIf="item.fileId">
                      <span [ngbTooltip]="'Archivo cargado!'" placement="top" show-delay="500">
                        <span class="material-icons" style="color: red;">
                          picture_as_pdf
                        </span>
                      </span>
                    </div>
                    <div *ngIf="!item.fileId">
                    </div>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <button type="button" class="btn btn-dark" (click)="openModalCloseRecord(ModalCloseRecord)">
              Cerrar Revisión
            </button>
          </div>
          <ng-template #ModalCloseRecord let-modal>
            <div class="modal-header">
              <h4 class="modal-title">
                ¿Está seguro de cerrar la revisión?
              </h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h5 class="alert alert-warning text-center">
                Advertencia: Esta acción finalizará la revisión y hará entrega del insumo al gestor.
              </h5>
            </div>
            <div class="modal-footer">
              <div class="col-6">
                <button type="button" class="btn btn-dark btn-block" (click)="closeRecords(false)">No</button>
              </div>
              <div class="col-6 text-right">
                <button type="button" ngbAutofocus class="btn btn-success btn-block"
                  (click)="closeRecords(true)">Si</button>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
