<div>
  <div class="row mb-3">
    <div class="col-12 col-sm-1">
      <i class="material-icons cursor m-2" (click)="volver()">backspace</i>
    </div>
    <div class="col-12 col-sm-5">
      <div class="input-group">
        <div class="input-group-prepend">
          <label class="input-group-text">Departamento</label>
        </div>
        <div class="form-control">
          {{ dataWorkSpace.municipality.department.name }}
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-5">
      <div class="input-group">
        <div class="input-group-prepend">
          <label class="input-group-text">* Municipio</label>
        </div>
        <div class="form-control">{{ dataWorkSpace.municipality.name }}</div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header"><b>Gestión de Municipio</b></div>
    <div class="card-body">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ active: tab === 1 }"
            data-toggle="tab"
            role="tab"
            (click)="tab1()"
            aria-controls="home"
          >
            <i class="material-icons"> groups </i>Gestores</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ active: tab === 3 }"
            data-toggle="tab"
            role="tab"
            (click)="getOperator()"
            aria-controls="messages"
          >
            <i class="material-icons"> people </i>Operadores</a
          >
        </li>
        <li class="nav-item" *ngIf="assingOperator">
          <a
            class="nav-link"
            [ngClass]="{ active: tab === 5 }"
            data-toggle="tab"
            role="tab"
            (click)="tab5()"
            aria-controls="messages"
          >
            <i class="material-icons"> view_list </i>Información -
            <em>Habilitación Catastral</em></a
          >
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane" [ngClass]="{ active: tab === 1 }" role="tabpanel">
          <br />
          <div class="table-inverse table-responsive">
            <table class="table table-striped">
              <thead class="thead-inverse">
                <tr>
                  <th>Gestor</th>
                  <th>NIT</th>
                  <th>Fecha de Asignación</th>
                  <th>Soporte</th>
                  <th>Fecha de inicio</th>
                  <th>Observaciones</th>
                  <th *ngIf="updateInfoBasic">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  [style.background-color]="
                    item.managerCode == idManagerUpdate ? '#3ada1273' : ''
                  "
                  [style.font-weight]="
                    item.managerCode == idManagerUpdate ? 'bold' : ''
                  "
                  *ngFor="let item of dataWorkSpace.managers; let index = index"
                >
                  <td scope="row">{{ item.manager.name }}</td>
                  <td scope="row">
                    {{ item.manager.taxIdentificationNumber }}
                  </td>
                  <td scope="row">
                    {{ formatDate(item.manager.createdAt) }}
                  </td>
                  <td scope="row">
                    <span
                      ngbTooltip="Ver soporte"
                      placement="top"
                      show-delay="500"
                    >
                      <i
                        class="material-icons cursor"
                        (click)="previewSupplies(item.managerCode, index)"
                      >
                        preview
                      </i>
                    </span>
                  </td>
                  <td scope="row">
                    <input
                      class="form-control"
                      type="date"
                      name="startDate"
                      [(ngModel)]="item.startDate"
                      disabled="{{ !editForm[index]?.startDate }}"
                      id="startDate{{ index }}"
                    />
                  </td>
                  <td scope="row">
                    <textarea
                      id="observations{{ index }}"
                      [(ngModel)]="item.observations"
                      class="form-control"
                      rows="3"
                      maxlength="255"
                      disabled="{{ !editForm[index]?.observations }}"
                    ></textarea>
                  </td>
                  <td scope="row">
                    <div *ngIf="updateInfoBasic">
                      <button
                        *ngIf="!editForm[index]?.observations"
                        class="btn btn-dark btn-sm btn-block"
                        (click)="changeUpdate(index, item.managerCode)"
                        id="buttonEditar{{ index }}"
                      >
                        Editar
                      </button>
                      <button
                        *ngIf="editForm[index]?.observations"
                        type="button"
                        class="btn btn-dark btn-sm btn-block"
                        (click)="openModalUpdate(modalRegistrar)"
                        id="buttonActualizar{{ index }}"
                      >
                        Actualizar
                      </button>
                      <button
                        *ngIf="editForm[index]?.observations"
                        type="button"
                        class="btn btn-dark btn-sm btn-block"
                        (click)="cancelarUpdate(index)"
                        id="buttonCancelar{{ index }}"
                      >
                        Cancelar
                      </button>
                    </div>
                  </td>
                  <ng-template #modalRegistrar let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title">
                        ¿Está seguro de actualizar la información?
                      </h4>
                      <button
                        type="button"
                        class="close"
                        aria-label="Close"
                        (click)="modal.dismiss('Cross click')"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <h5 class="alert alert-warning text-center">
                        Advertencia: Esta acción actualizará la información del
                        municipio.
                      </h5>
                    </div>
                    <div class="modal-footer">
                      <div class="col-6">
                        <button
                          type="button"
                          class="btn btn-dark btn-block"
                          (click)="closeModalUpdate(false)"
                        >
                          No
                        </button>
                      </div>
                      <div class="col-6 text-right">
                        <button
                          type="button"
                          ngbAutofocus
                          class="btn btn-success btn-block"
                          (click)="closeModalUpdate(true, index)"
                        >
                          Si
                        </button>
                      </div>
                    </div>
                  </ng-template>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div
          id="actionFormOperator"
          class="tab-pane"
          [ngClass]="{ active: tab === 3 }"
          role="tabpanel"
        >
          <br />
          <ng-template #modalUpdateOperator let-modal>
            <div class="modal-header">
              <h4 class="modal-title">
                ¿Está seguro de modificar los datos del Operador?
              </h4>
              <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h5 class="alert alert-warning text-center">
                Advertencia: Esta acción actualizará la información del
                municipio.
              </h5>
            </div>
            <div class="modal-footer">
              <div class="col-6">
                <button
                  type="button"
                  class="btn btn-dark btn-block"
                  (click)="closeModalUpdateOperator(false)"
                >
                  No
                </button>
              </div>
              <div class="col-6 text-right">
                <button
                  type="button"
                  ngbAutofocus
                  class="btn btn-success btn-block"
                  (click)="closeModalUpdateOperator(true)"
                >
                  Si
                </button>
              </div>
            </div>
          </ng-template>
          <ng-template #modalCreateOperator let-modal>
            <div class="modal-header">
              <h4 class="modal-title">¿Está seguro de asignar el Operador?</h4>
              <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h5 class="alert alert-warning text-center">
                Advertencia: Esta acción asignará un operador al municipio.
              </h5>
            </div>
            <div class="modal-footer">
              <div class="col-6">
                <button
                  type="button"
                  class="btn btn-dark btn-block"
                  (click)="closeModalCreateOperator(false)"
                >
                  No
                </button>
              </div>
              <div class="col-6 text-right">
                <button
                  type="button"
                  ngbAutofocus
                  class="btn btn-success btn-block"
                  (click)="closeModalCreateOperator(true)"
                >
                  Si
                </button>
              </div>
            </div>
          </ng-template>
          <div class="card" *ngIf="assingOperator">
            <div class="card-header text-center">
              <h3>
                {{ idOperator > 0 ? "Actualizar" : "Asignar" }} Operador
                <span *ngIf="idOperator > 0"
                  ><b>#{{ idOperator }}</b></span
                >
              </h3>
            </div>
            <div class="card-body">
              <form action="" method="post">
                <div class="row mb-2">
                  <div class="col-12">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <label class="input-group-text" aria-required="true"
                          >* Operador</label
                        >
                      </div>
                      <select
                        (change)="changeDataOperator()"
                        disabled="{{ !assingOperator }}"
                        class="custom-select"
                        name="operators"
                        id="operators"
                        [(ngModel)]="dataOperatorsWorkSpace.operatorCode"
                      >
                        <option value="0" selected>
                          Seleccione el Operador
                        </option>
                        <option
                          [ngValue]="item.id"
                          *ngFor="let item of operators"
                        >
                          {{ item.alias }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-12 col-sm-6 mb-1">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <label class="input-group-text"
                          >* Fecha de Inicio</label
                        >
                      </div>
                      <input
                        disabled="{{ !assingOperator }}"
                        class="form-control"
                        type="date"
                        name="FechaInicio"
                        [(ngModel)]="dataOperatorsWorkSpace.startDate"
                        (change)="changeDataOperator()"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 mb-1">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <label class="input-group-text">* Fecha Final</label>
                      </div>
                      <input
                        disabled="{{ !assingOperator }}"
                        class="form-control"
                        type="date"
                        name="FechaFin"
                        [(ngModel)]="dataOperatorsWorkSpace.endDate"
                        (change)="changeDataOperator()"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-12 col-sm-6 mb-1">
                    <form [formGroup]="formGroup1">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <label class="input-group-text"
                            >Número de Predios a Intervenir</label
                          >
                        </div>
                        <input
                          formControlName="number"
                          disabled="{{ !assingOperator }}"
                          class="form-control"
                          type="number"
                          name="numberParcelsExpected"
                          [ngModel]="
                            dataOperatorsWorkSpace.numberParcelsExpected
                          "
                          (change)="changeDataOperator()"
                          numbersOnly
                        />
                      </div>
                    </form>
                  </div>
                  <div class="col-12 col-sm-6 mb-1">
                    <form [formGroup]="formGroup2">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <label class="input-group-text"
                            >Área de Trabajo (km <sup>2</sup>)</label
                          >
                        </div>
                        <input
                          formControlName="number"
                          disabled="{{ !assingOperator }}"
                          class="form-control"
                          type="text"
                          name="workArea"
                          [(ngModel)]="dataOperatorsWorkSpace.workArea"
                          (change)="changeDataOperator()"
                          appTwoDigitDecimaNumber
                        />
                      </div>
                    </form>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-12">
                    <div class="input-group">
                      <div class="input-group-prepend input-group-text">
                        <div class="">* Alcance / Observaciones</div>
                      </div>
                      <textarea
                        maxlength="255"
                        disabled="{{ !assingOperator }}"
                        class="form-control"
                        id="observations"
                        rows="3"
                        name="observaciones"
                        [(ngModel)]="dataOperatorsWorkSpace.observations"
                        (change)="changeDataOperator()"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <div class="row mb-2" *ngIf="assingOperator">
                  <div class="col-12">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <label class="input-group-text"
                          >* Orden de Trabajo / Documento Soporte
                          <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        </label>
                      </div>
                      <input
                        #myInputdocSoport
                        class="form-control"
                        type="file"
                        (change)="docSoport($event.target.files)"
                        multiple
                      />
                    </div>
                  </div>
                </div>
                <div class="row mt-3" *ngIf="assingOperator">
                  <div class="col-12">
                    <div class="alert alert-primary text-center" role="alert">
                      Recuerde que los campos marcados con * son obligatorios.
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer text-muted text-center">
              <button
                *ngIf="!isChangeDataOperator"
                type="button"
                class="btn btn-dark"
                (click)="openModalCreateOperator(modalCreateOperator)"
                [disabled]="!isActiveAssignOperator"
              >
                Asignar Operador
              </button>
              <button
                *ngIf="isChangeDataOperator"
                type="button"
                class="btn btn-dark"
                (click)="openModal(modalUpdateOperator)"
                [disabled]="!isChangeDataOperator"
              >
                Actualizar operador
              </button>
              <button
                type="button"
                style="margin-left: 10px"
                class="btn btn-dark"
                (click)="cancel()"
              >
                Cancelar
              </button>
            </div>
          </div>
          <div
            class="card mt-1"
            *ngIf="onlyOperatorAssignByWorkspace?.length > 0"
          >
            <div class="card-header text-center">
              <h3>Operadores asignados</h3>
            </div>
            <div class="card-body">
              <div class="table-inverse table-responsive">
                <table class="table table-striped">
                  <thead class="thead-inverse">
                    <tr>
                      <th>ID</th>
                      <th>Operador</th>
                      <th>Gestor</th>
                      <th>Fecha de inicio</th>
                      <th>Fecha final</th>
                      <th>Número de predios</th>
                      <th>Área de trabajo</th>
                      <th>Alcance/Observaciones</th>
                      <th>Soporte</th>
                      <th *ngIf="assingOperator">Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      [style.background-color]="
                        item.id == idOperator ? '#3ada1273' : ''
                      "
                      [style.font-weight]="item.id == idOperator ? 'bold' : ''"
                      *ngFor="
                        let item of onlyOperatorAssignByWorkspace;
                        let index = index
                      "
                    >
                      <td scope="row">{{ item.operator.id }}</td>
                      <td scope="row">{{ item.operator.name }}</td>
                      <td scope="row">{{ item.manager.name }}</td>
                      <td scope="row">{{ formatDate(item.createdAt) }}</td>
                      <td scope="row">{{ formatDate(item.endDate) }}</td>
                      <td scope="row">{{ item.numberParcelsExpected }}</td>
                      <td scope="row">{{ item.workArea }}</td>
                      <td scope="row">
                        <textarea
                          maxlength="255"
                          disabled="true"
                          class="form-control"
                          id="observationsOperator"
                          rows="2"
                          name="observacionesOperator"
                          [(ngModel)]="item.observations"
                        ></textarea>
                      </td>
                      <td scope="row">
                        <span
                          ngbTooltip="Ver soporte"
                          placement="top"
                          show-delay="500"
                        >
                          <i
                            class="material-icons cursor"
                            (click)="
                              previewSupportOperator(item.operatorCode, index)
                            "
                          >
                            preview
                          </i>
                        </span>
                      </td>
                      <td scope="row" *ngIf="assingOperator">
                        <span
                          ngbTooltip="Editar operador"
                          placement="top"
                          show-delay="500"
                        >
                          <i
                            class="material-icons cursor"
                            (click)="updateOperator(item)"
                          >
                            edit
                          </i>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div *ngIf="dataWorkSpace.operators?.length === 0">
            <div class="row mt-3">
              <div class="col-12">
                <div class="alert alert-primary text-center" role="alert">
                  No hay operadores asignados.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" [ngClass]="{ active: tab === 5 }" role="tabpanel">
          <br />
          <div class="card-body">
            <div class="row text-center">
              <div
                class="table-inverse table-responsive"
                *ngIf="suppliesAttachmentsData.length > 0"
              >
                <small
                  id="perfil"
                  class="form-text text-muted mb-4 ml-1 text-left"
                >
                  <h6>
                    Gestor, descargue o consulte la información suministrada por
                    la Autoridad Catastral para iniciar la Gestión Catastral del
                    municipio asignado.
                  </h6>
                </small>
                <table class="table table-striped">
                  <thead class="thead-inverse">
                    <tr>
                      <th>#</th>
                      <th>Entregado por</th>
                      <th>Nombre</th>
                      <th>Fecha de cargue</th>
                      <th>Observación</th>
                      <th>Descargar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let item of suppliesAttachmentsData;
                        let index = index
                      "
                    >
                      <td scope="row">{{ index + 1 }}</td>
                      <td scope="row">AUTORIDAD CATASTRAL</td>
                      <td scope="row">{{ item.name }}</td>
                      <td scope="row">{{ formatDate(item.createdAt) }}</td>
                      <td scope="row">
                        <textarea
                          maxlength="255"
                          rows="2"
                          cols="50"
                          readonly
                          style="border: none; background: #dedede"
                          >{{ item.observations }}</textarea
                        >
                      </td>
                      <td scope="row">
                        <i
                          alt="Descargar"
                          title="Descargar archivo"
                          class="material-icons cursor"
                          (click)="
                            downloadSuppliesAutoridad(
                              item.id,
                              item.typeSupply ? item.typeSupply.name : 'insumo'
                            )
                          "
                          >cloud_download</i
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-12" *ngIf="suppliesAttachmentsData.length === 0">
                <div class="alert alert-primary text-center" role="alert">
                  No hay información disponible para este Municipio.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
