<div class="card">
  <div class="card-header">Dropdown</div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block dropdown">
          <button class="btn btn-outline-primary" ngbDropdownToggle>Alternar menú desplegable</button>
          <div ngbDropdownMenu>
            <button class="dropdown-item">Acción</button>
            <button class="dropdown-item">Otra Acción</button>
            <button class="dropdown-item">Algo mas esta aqui</button>
          </div>
        </div>
      </div>
      <div class="col text-right">
        <div ngbDropdown placement="top-right" class="d-inline-block dropdown">
          <button class="btn btn-outline-primary" ngbDropdownToggle>Alternar menú desplegable</button>
          <div ngbDropdownMenu>
            <button class="dropdown-item">Acción</button>
            <button class="dropdown-item">Otra Acción</button>
            <button class="dropdown-item">Algo mas esta aqui</button>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <p class="mb-2">Puede controlar fácilmente los menús desplegables mediante programación utilizando la instancia
      desplegable exportada.</p>
    <div class="d-inline-block dropdown" ngbDropdown #myDrop="ngbDropdown">
      <button class="btn btn-outline-primary" ngbDropdownToggle>Alternar menú desplegable</button>
      <div ngbDropdownMenu>
        <button class="dropdown-item">Acción</button>
        <button class="dropdown-item">Otra Acción</button>
        <button class="dropdown-item">Algo mas esta aqui</button>
      </div>
    </div>
    <div class="d-inline-block dropdown" ngbDropdown #myDrop="ngbDropdown">
      <button class="btn btn-outline-success" (click)="$event.stopPropagation(); myDrop.open();">Abierto desde
        afuera</button>
    </div>
    <div class="d-inline-block dropdown" ngbDropdown #myDrop="ngbDropdown">
      <button class="btn btn-outline-danger" (click)="$event.stopPropagation(); myDrop.close();">Cerca de
        afuera</button>
    </div>
  </div>
</div>
